<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<form (ngSubmit)="processCustomerRequestForm()">
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Customer Request Entry
						Form
						<div class="card-header-actions">
							<div class="col-lg-12 input-group-prepend">
								<a href="#customerPanel/customerRequests"> <small
									class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
								</a>
							</div>

						</div>
					</div>
					<div class="card-body">
						<!-- Nav tabs -->
						<tabset> 
						<tab id="printCustomerRequestFormContainer"> <ng-template
							tabHeading> <i class="icon-calculator"></i> Basic
						Information</ng-template> <input type="hidden" class="form-control"
							[(ngModel)]="customerRequest.id" name="id">
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Service Provider<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="customerRequest.serviceProvider" class="col-lg-12" autocomplete="serviceProvider" name="serviceProvider"  [(ngModel)]="customerRequest.serviceProvider.id"> 
						<ng-option *ngFor="let serviceProvider of serviceProviders" [value]="serviceProvider.id">{{serviceProvider.name}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!customerRequest.serviceProvider" class="col-lg-12" autocomplete="serviceProvider" name="serviceProvider"  [(ngModel)]="customerRequest.serviceProvider"> 
						  <ng-option *ngFor="let serviceProvider of serviceProviders" [value]="serviceProvider">{{serviceProvider.name}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{ServiceProvider_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->From Time </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="fromTime" name="fromTime"  [(ngModel)]="customerRequest.fromTime" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{fromTime_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->To Time </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="toTime" name="toTime"  [(ngModel)]="customerRequest.toTime" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{toTime_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Approval Status </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="approvalStatus" name="approvalStatus"  [(ngModel)]="customerRequest.approvalStatus" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{approvalStatus_validationMessage}}</span>                </div> 
						</tab> 
						
						<tab> <ng-template tabHeading>
						<i class="icon-basket-loaded"></i> Details Information</ng-template> DatePicker
						Example: <input type="text" name="testDatepicker"
							placeholder="Datepicker" class="form-control" bsDatepicker>

						Dropdown Example : <ng-select [items]="simpleItems"
							name="simpleItem" [(ngModel)]="selectedSimpleItem"> </ng-select>

						</tab> 
						</tabset>


					</div>
					<div class="card-footer">
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear"
							(click)="clearCustomerRequestFormFields()" class="btn btn-warning">
						<span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
					</div>
				</form>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
