<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<form (ngSubmit)="processThanaForm()">
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Thana Entry
						Form
						<div class="card-header-actions">
							<div class="col-lg-12 input-group-prepend">
								<a href="#adminPanel/thanas"> <small
									class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
								</a>
							</div>

						</div>
					</div>
					<div class="card-body">
						<!-- Nav tabs -->
						<tabset> <tab id="printThanaFormContainer"> <ng-template
							tabHeading> <i class="icon-calculator"></i> Basic
						Information</ng-template> <input type="hidden" class="form-control"
							[(ngModel)]="thana.id" name="id">
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->District</span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="thana.district" class="col-lg-12" autocomplete="district" name="district"  [(ngModel)]="thana.district.id"> 
						<ng-option *ngFor="let district of districts" [value]="district.id">{{district.description}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!thana.district" class="col-lg-12" autocomplete="district" name="district"  [(ngModel)]="thana.district"> 
						  <ng-option *ngFor="let district of districts" [value]="district">{{district.description}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{district_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Description </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="description" name="description"  [(ngModel)]="thana.description" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{description_validationMessage}}</span>                </div> </tab> <tab> <ng-template tabHeading>
						<i class="icon-basket-loaded"></i> Details Information</ng-template> DatePicker
						Example: <input type="text" name="testDatepicker"
							placeholder="Datepicker" class="form-control" bsDatepicker>

						Dropdown Example : <ng-select [items]="simpleItems"
							name="simpleItem" [(ngModel)]="selectedSimpleItem"> </ng-select>

						</tab> </tabset>


					</div>
					<div class="card-footer">
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear"
							(ngClick)="clearThanaFormFields()" class="btn btn-warning">

					</div>
				</form>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
