<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> Thana Details
					<div class="card-header-actions">
						<a href="#adminPanel/thanas"> <small
							class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
						</a>
					</div>
				</div>
				<div class="card-body" id="printThanaFormContainer">
					
						<input type="hidden" name="id" class="form-control"
							[(ngModel)]="thana.id" name="id">
						
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->District</span>
                  </div>
				  <div  *ngIf="thana.district"> {{thana.district.description}}</div>
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Description</span>
                  </div>
                  {{thana.description}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Created Date</span>
                  </div>
                  {{thana.createdDate | date: 'yyyy-MM-dd'}}
                </div>
						
					   
				</div>
				<div class="card-footer">
				   <button class="btn btn-primary" (click)="thanaEditAction()"><i class="fa fa-edit fa-lg"></i></button>
				   <button class="btn btn-primary" (click)="printThanaDetails()"><i class="fa fa-print fa-lg"></i></button>
				</div>
			</div>
		</div>

	</div>
</div>
