<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> Notification Details
					<div class="card-header-actions">
					    <button class="btn btn-primary" (click)="newNotification()"><i class="fa fa-plus fa-lg"></i></button>
						<a href="#globalSetup/notifications"> <small
							class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
						</a>
					</div>
				</div>
				<div class="card-body" id="printNotificationFormContainer">
						<!-- Nav tabs -->
						<tabset> 
							<tab> 
								<ng-template tabHeading> <i class="icon-calculator"></i> Basic Information</ng-template> 
								<input type="hidden" class="form-control" [(ngModel)]="notification.id" name="id"> 
								
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Notification Process</span>
                  </div>
				  <div  *ngIf="notification.notificationProcess"> {{notification.notificationProcess.name}}</div>
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Message</span>
                  </div>
                  {{notification.message}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Old Object Val</span>
                  </div>
                  {{notification.oldObjectVal}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->New Object Val</span>
                  </div>
                  {{notification.newObjectVal}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Attachment</span>
                  </div>
                  {{notification.attachment}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Url</span>
                  </div>
                  {{notification.url}}
                </div> 
								
							</tab> 
							<tab> 
								<ng-template tabHeading> <i class="icon-basket-loaded"></i> Details Information</ng-template> 
								DatePicker Example: <input type="text" name="testDatepicker" placeholder="Datepicker" class="form-control" bsDatepicker>
								
								Dropdown Example : <ng-select [items]="simpleItems" name="simpleItem"
													[(ngModel)]="selectedSimpleItem">
												</ng-select>
													
							</tab> 
						</tabset>
						
				</div>
				<div class="card-footer">
				   <button class="btn btn-primary" (click)="notificationEditAction()"><i class="fa fa-edit fa-lg"></i></button>
				   <button class="btn btn-primary" (click)="printNotificationDetails()"><i class="fa fa-print fa-lg"></i></button>
				   <span [hidden]="hideElement" class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span>
				</div>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
