<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Notification Entry Form
						<div class="card-header-actions">
							<a href="#globalSetup/notifications"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processNotificationForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="notification.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Notification Process<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="notification.notificationProcess" class="col-lg-12" autocomplete="notificationProcess" name="notificationProcess"  [(ngModel)]="notification.notificationProcess.id"> 
						<ng-option *ngFor="let notificationProcess of notificationProcesss" [value]="notificationProcess.id">{{notificationProcess.name}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!notification.notificationProcess" class="col-lg-12" autocomplete="notificationProcess" name="notificationProcess"  [(ngModel)]="notification.notificationProcess"> 
						  <ng-option *ngFor="let notificationProcess of notificationProcesss" [value]="notificationProcess">{{notificationProcess.name}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{NotificationProcess_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Message <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="message" name="message"  [(ngModel)]="notification.message" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{message_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Old Object Val <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="oldObjectVal" name="oldObjectVal"  [(ngModel)]="notification.oldObjectVal" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{oldObjectVal_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->New Object Val <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="newObjectVal" name="newObjectVal"  [(ngModel)]="notification.newObjectVal" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{newObjectVal_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Attachment </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="attachment" name="attachment"  [(ngModel)]="notification.attachment" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{attachment_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Url </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="url" name="url"  [(ngModel)]="notification.url" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{url_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearNotificationFormFields()" class="btn btn-warning">
						<span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="true" class="col-lg-3 form-control alert alert-warning">
							
						</span>
						<!-- span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span-->						
					</div>
			</div>
		</div>

	</div>
</div>
