<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> Education Info Details
					<div class="card-header-actions">
					    <button class="btn btn-primary" (click)="newEducationInfo()"><i class="fa fa-plus fa-lg"></i></button>
						<a href="#serviceProviderPanel/educationInfos"> <small
							class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
						</a>
					</div>
				</div>
				<div class="card-body" id="printEducationInfoFormContainer">
						<!-- Nav tabs -->
						<tabset> 
							<tab> 
								<ng-template tabHeading> <i class="icon-calculator"></i> Basic Information</ng-template> 
								<input type="hidden" class="form-control" [(ngModel)]="educationInfo.id" name="id"> 
								
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Service Provider</span>
                  </div>
				  <div  *ngIf="educationInfo.serviceProvider"> {{educationInfo.serviceProvider.name}}</div>
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Institute Name</span>
                  </div>
                  {{educationInfo.instituteName}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->From Year</span>
                  </div>
                  {{educationInfo.fromYear}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Thru Year</span>
                  </div>
                  {{educationInfo.thruYear}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Degree</span>
                  </div>
                  {{educationInfo.degree}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active</span>
                  </div>
                  {{educationInfo.isActive}}
                </div> 
								
							</tab> 
							<tab> 
								<ng-template tabHeading> <i class="icon-basket-loaded"></i> Details Information</ng-template> 
								DatePicker Example: <input type="text" name="testDatepicker" placeholder="Datepicker" class="form-control" bsDatepicker>
								
								Dropdown Example : <ng-select [items]="simpleItems" name="simpleItem"
													[(ngModel)]="selectedSimpleItem">
												</ng-select>
													
							</tab> 
						</tabset>
						
				</div>
				<div class="card-footer">
				   <button class="btn btn-primary" (click)="educationInfoEditAction()"><i class="fa fa-edit fa-lg"></i></button>
				   <button class="btn btn-primary" (click)="printEducationInfoDetails()"><i class="fa fa-print fa-lg"></i></button>
				</div>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
