<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<form (ngSubmit)="processEducationInfoForm()">
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Education Info Entry
						Form
						<div class="card-header-actions">
							<div class="col-lg-12 input-group-prepend">
								<a href="#serviceProviderPanel/educationInfos"> <small
									class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
								</a>
							</div>

						</div>
					</div>
					<div class="card-body">
						<!-- Nav tabs -->
						<tabset> <tab id="printEducationInfoFormContainer"> <ng-template
							tabHeading> <i class="icon-calculator"></i> Basic
						Information</ng-template> <input type="hidden" class="form-control"
							[(ngModel)]="educationInfo.id" name="id">
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Institute Name </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="instituteName" name="instituteName"  [(ngModel)]="educationInfo.instituteName" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{instituteName_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->From Year </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="fromYear" name="fromYear"  [(ngModel)]="educationInfo.fromYear" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{fromYear_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Thru Year </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="thruYear" name="thruYear"  [(ngModel)]="educationInfo.thruYear" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{thruYear_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Degree </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="degree" name="degree"  [(ngModel)]="educationInfo.degree" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{degree_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="isActive" name="isActive"  [(ngModel)]="educationInfo.isActive" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>                </div> </tab> <tab> <ng-template tabHeading>
						<i class="icon-basket-loaded"></i> Details Information</ng-template> DatePicker
						Example: <input type="text" name="testDatepicker"
							placeholder="Datepicker" class="form-control" bsDatepicker>

						Dropdown Example : <ng-select [items]="simpleItems"
							name="simpleItem" [(ngModel)]="selectedSimpleItem"> </ng-select>

						</tab> </tabset>


					</div>
					<div class="card-footer">
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear"
							(ngClick)="clearEducationInfoFormFields()" class="btn btn-warning">

					</div>
				</form>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
