<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Education Info Entry Form
						<div class="card-header-actions">
							<a href="#serviceProviderPanel/educationInfos"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processEducationInfoForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="educationInfo.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Institute Name </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="instituteName" name="instituteName"  [(ngModel)]="educationInfo.instituteName" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{instituteName_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->From Year </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="fromYear" name="fromYear"  [(ngModel)]="educationInfo.fromYear" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{fromYear_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Thru Year </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="thruYear" name="thruYear"  [(ngModel)]="educationInfo.thruYear" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{thruYear_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Degree </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="degree" name="degree"  [(ngModel)]="educationInfo.degree" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{degree_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="isActive" name="isActive"  [(ngModel)]="educationInfo.isActive" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearEducationInfoFormFields()" class="btn btn-warning">
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="false" class="col-lg-3 form-control alert alert-warning">
							This is warning message!
						</span>						
					</div>
			</div>
		</div>

	</div>
</div>
