<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> User Entry Form
						<div class="card-header-actions">
							<a href="#globalSetup/users"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processUserForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="user.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->User Name <span style='color:red'>*</span></span>
                  </div>
                  <input type="text" [disabled]="user.id!=null" class="col-lg-6 form-control" autocomplete="userName" name="userName"  [(ngModel)]="user.userName" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{userName_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Password <span style='color:red'>*</span></span>
                  </div>
                  <input type="text" [disabled]="user.id!=null" class="col-lg-6 form-control" autocomplete="password" name="password"  [(ngModel)]="user.password" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{password_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Password Hint </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="passwordHint" name="passwordHint"  [(ngModel)]="user.passwordHint" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{passwordHint_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Email </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="email" name="email"  [(ngModel)]="user.email" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{email_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->First Name </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="firstName" name="firstName"  [(ngModel)]="user.firstName" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{firstName_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Last Name </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="lastName" name="lastName"  [(ngModel)]="user.lastName" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{lastName_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Active <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="active" name="active"  [(ngModel)]="user.active" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{active_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->User Group<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="user.userGroup" class="col-lg-12" autocomplete="userGroup" name="userGroup"  [(ngModel)]="user.userGroup.id"> 
						<ng-option *ngFor="let userGroup of userGroups" [value]="userGroup.id">{{userGroup.name}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!user.userGroup" class="col-lg-12" autocomplete="userGroup" name="userGroup"  [(ngModel)]="user.userGroup"> 
						  <ng-option *ngFor="let userGroup of userGroups" [value]="userGroup">{{userGroup.name}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{UserGroup_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Created By </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="createdBy" name="createdBy"  [(ngModel)]="user.createdBy" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{createdBy_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearUserFormFields()" class="btn btn-warning">
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="false" class="col-lg-3 form-control alert alert-warning">
							This is warning message!
						</span>						
					</div>
			</div>
		</div>

	</div>
</div>
