<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Division Entry Form
						<div class="card-header-actions">
							<a href="#adminPanel/divisions"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processDivisionForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="division.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Country</span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="division.country" class="col-lg-12" autocomplete="country" name="country"  [(ngModel)]="division.country.id"> 
						<ng-option *ngFor="let country of countrys" [value]="country.id">{{country.description}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!division.country" class="col-lg-12" autocomplete="country" name="country"  [(ngModel)]="division.country"> 
						  <ng-option *ngFor="let country of countrys" [value]="country">{{country.description}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{country_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Description </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="description" name="description"  [(ngModel)]="division.description" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{description_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearDivisionFormFields()" class="btn btn-warning">
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="false" class="col-lg-3 form-control alert alert-warning">
							This is warning message!
						</span>						
					</div>
			</div>
		</div>

	</div>
</div>
