<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Country Entry Form
						<div class="card-header-actions">
							<a href="#adminPanel/countrys"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processCountryForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="country.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Currency </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="currency" name="currency"  [(ngModel)]="country.currency" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{currency_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Description </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="description" name="description"  [(ngModel)]="country.description" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{description_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearCountryFormFields()" class="btn btn-warning">
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="false" class="col-lg-3 form-control alert alert-warning">
							This is warning message!
						</span>						
					</div>
			</div>
		</div>

	</div>
</div>
