<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<form (ngSubmit)="processApprovalQueueDetailsForm()">
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Approval Queue Details Entry
						Form
						<div class="card-header-actions">
							<div class="col-lg-12 input-group-prepend">
								<a href="#globalSetup/approvalQueueDetailss"> <small
									class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
								</a>
							</div>

						</div>
					</div>
					<div class="card-body">
						<!-- Nav tabs -->
						<tabset> 
						<tab id="printApprovalQueueDetailsFormContainer"> <ng-template
							tabHeading> <i class="icon-calculator"></i> Basic
						Information</ng-template> <input type="hidden" class="form-control"
							[(ngModel)]="approvalQueueDetails.id" name="id">
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Approval Queue<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="approvalQueueDetails.approvalQueue" class="col-lg-12" autocomplete="approvalQueue" name="approvalQueue"  [(ngModel)]="approvalQueueDetails.approvalQueue.id"> 
						<ng-option *ngFor="let approvalQueue of approvalQueues" [value]="approvalQueue.id">{{approvalQueue.id}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!approvalQueueDetails.approvalQueue" class="col-lg-12" autocomplete="approvalQueue" name="approvalQueue"  [(ngModel)]="approvalQueueDetails.approvalQueue"> 
						  <ng-option *ngFor="let approvalQueue of approvalQueues" [value]="approvalQueue">{{approvalQueue.id}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{approvalQueue_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Approver Id <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="approverId" name="approverId"  [(ngModel)]="approvalQueueDetails.approverId" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{approverId_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Level </span>
                  </div>
                  <input type="number"  class="col-lg-6 form-control" autocomplete="level" name="level"  [(ngModel)]="approvalQueueDetails.level" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{level_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Last Approver </span>
                  </div>
					<label class="switch switch-3d switch-success">                  <input type="checkbox"  class="switch-input" name="isLastApprover"  [(ngModel)]="approvalQueueDetails.isLastApprover" >
					<span class="switch-slider"></span></label>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isLastApprover_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Approved </span>
                  </div>
					<label class="switch switch-3d switch-success">                  <input type="checkbox"  class="switch-input" name="isApproved"  [(ngModel)]="approvalQueueDetails.isApproved" >
					<span class="switch-slider"></span></label>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isApproved_validationMessage}}</span>                </div> 
						</tab> 
						
						<tab> <ng-template tabHeading>
						<i class="icon-basket-loaded"></i> Details Information</ng-template> DatePicker
						Example: <input type="text" name="testDatepicker"
							placeholder="Datepicker" class="form-control" bsDatepicker>

						Dropdown Example : <ng-select [items]="simpleItems"
							name="simpleItem" [(ngModel)]="selectedSimpleItem"> </ng-select>

						</tab> 
						</tabset>


					</div>
					<div class="card-footer">
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear"
							(click)="clearApprovalQueueDetailsFormFields()" class="btn btn-warning">
						<span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
					</div>
				</form>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
