<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Permission Entry Form
						<div class="card-header-actions">
							<a href="#globalSetup/permissions"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processPermissionForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="permission.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Name <span style='color:red'>*</span></span>
                  </div>
                  <input type="text" [disabled]="permission.id!=null" class="col-lg-6 form-control" autocomplete="name" name="name"  [(ngModel)]="permission.name" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{name_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearPermissionFormFields()" class="btn btn-warning">
						<span [hidden]="permissionValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span>
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="true" class="col-lg-3 form-control alert alert-warning">
							
						</span>
						<!-- span [hidden]="permissionValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span-->						
					</div>
			</div>
		</div>

	</div>
</div>
