<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<form (ngSubmit)="processNotificationDetailsForm()">
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Notification Details Entry
						Form
						<div class="card-header-actions">
							<div class="col-lg-12 input-group-prepend">
								<a href="#globalSetup/notificationDetailss"> <small
									class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
								</a>
							</div>

						</div>
					</div>
					<div class="card-body">
						<!-- Nav tabs -->
						<tabset> 
						<tab id="printNotificationDetailsFormContainer"> <ng-template
							tabHeading> <i class="icon-calculator"></i> Basic
						Information</ng-template> <input type="hidden" class="form-control"
							[(ngModel)]="notificationDetails.id" name="id">
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Notification<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="notificationDetails.notification" class="col-lg-12" autocomplete="notification" name="notification"  [(ngModel)]="notificationDetails.notification.id"> 
						<ng-option *ngFor="let notification of notifications" [value]="notification.id">{{notification.message}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!notificationDetails.notification" class="col-lg-12" autocomplete="notification" name="notification"  [(ngModel)]="notificationDetails.notification"> 
						  <ng-option *ngFor="let notification of notifications" [value]="notification">{{notification.message}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{Notification_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Sender Id <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="senderId" name="senderId"  [(ngModel)]="notificationDetails.senderId" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{senderId_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Receiver Id <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="receiverId" name="receiverId"  [(ngModel)]="notificationDetails.receiverId" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{receiverId_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Read <span style='color:red'>*</span></span>
                  </div>
                  <input type="checkbox"  class="col-lg-6 form-control" name="isRead"  [(ngModel)]="notificationDetails.isRead" >
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isRead_validationMessage}}</span>                </div> 
						</tab> 
						
						<tab> <ng-template tabHeading>
						<i class="icon-basket-loaded"></i> Details Information</ng-template> DatePicker
						Example: <input type="text" name="testDatepicker"
							placeholder="Datepicker" class="form-control" bsDatepicker>

						Dropdown Example : <ng-select [items]="simpleItems"
							name="simpleItem" [(ngModel)]="selectedSimpleItem"> </ng-select>

						</tab> 
						</tabset>


					</div>
					<div class="card-footer">
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear"
							(click)="clearNotificationDetailsFormFields()" class="btn btn-warning">
						<span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
					</div>
				</form>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
