<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<form (ngSubmit)="processNotificationRouteMapForm()">
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Notification Route Map Entry
						Form
						<div class="card-header-actions">
							<div class="col-lg-12 input-group-prepend">
								<a href="#globalSetup/notificationRouteMaps"> <small
									class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
								</a>
							</div>

						</div>
					</div>
					<div class="card-body">
						<!-- Nav tabs -->
						<tabset> 
						<tab id="printNotificationRouteMapFormContainer"> <ng-template
							tabHeading> <i class="icon-calculator"></i> Basic
						Information</ng-template> <input type="hidden" class="form-control"
							[(ngModel)]="notificationRouteMap.id" name="id">
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Notification Process<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="notificationRouteMap.notificationProcess" class="col-lg-12" autocomplete="notificationProcess" name="notificationProcess"  [(ngModel)]="notificationRouteMap.notificationProcess.id"> 
						<ng-option *ngFor="let notificationProcess of notificationProcesss" [value]="notificationProcess.id">{{notificationProcess.name}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!notificationRouteMap.notificationProcess" class="col-lg-12" autocomplete="notificationProcess" name="notificationProcess"  [(ngModel)]="notificationRouteMap.notificationProcess"> 
						  <ng-option *ngFor="let notificationProcess of notificationProcesss" [value]="notificationProcess">{{notificationProcess.name}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{NotificationProcess_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Sender Id <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="senderId" name="senderId"  [(ngModel)]="notificationRouteMap.senderId" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{senderId_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Receiver Id <span style='color:red'>*</span></span>
                  </div>
				  
				  
				  <angular2-multiselect  name="dropdown-{{notificationRouteMap.id}}" [data]="messageReceivers" [(ngModel)]="notificationRouteMap.messageReceivers" 
				  [settings]="dropdownSettings" 
				  (onSelect)="onItemSelect($event, notificationRouteMap.id)" 
				  (onDeSelect)="OnItemDeSelect($event,notificationRouteMap.id)"
				  (onSelectAll)="onSelectAll($event)"
				  (onDeSelectAll)="onDeSelectAll($event)" disabled>
				  
				  <c-item>
					<ng-template let-item="item">
					  <label style="color: #333;min-width: 350px;">{{item.itemName}}</label>
					  <!--img [src]="item.image" style="width: 30px; border: 1px solid #efefef;margin-right: 20px;" />
					  <label>Capital - {{item.capital}}</label-->
					</ng-template>
				  </c-item>   
				</angular2-multiselect>

				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{receiverId_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active <span style='color:red'>*</span></span>
                  </div>
                  <input type="checkbox"  class="col-lg-6 form-control" name="isActive"  [(ngModel)]="notificationRouteMap.isActive" >
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>                </div> 
						</tab> 
						 
						<tab> <ng-template tabHeading>
						<i class="icon-basket-loaded"></i> Details Information</ng-template> DatePicker
						Example: <input type="text" name="testDatepicker"
							placeholder="Datepicker" class="form-control" bsDatepicker>

						Dropdown Example : <ng-select [items]="simpleItems"
							name="simpleItem" [(ngModel)]="selectedSimpleItem"> </ng-select>

						</tab> 
						</tabset>


					</div>
					<div class="card-footer">
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear"
							(click)="clearNotificationRouteMapFormFields()" class="btn btn-warning">
						<span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
					</div>
				</form>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
