
 
    <!--div id="preloader" (hidden)="true">
            <div class="loader"></div>
        </div-->
    
    
        <!-- **** Header Area Start **** -->
        <header class="header-area">
            <!-- Top Header Area Start -->
            <div class="top-header-area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-6">
                            <div class="top-header-content">
                                <a href="#"><i class="icon_mail"></i> <span>info@spportal.com</span></a>
                                <a href="#"><i class="icon_phone"></i> <span>(88) 01XXXXXXXXX</span></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="top-header-content">
                                < Top Social Area >
                                <div class="top-social-area ml-auto">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Top Header Area End -->
    
            <!-- Main Header Start -->
            <div class="main-header-area animated">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Classy Menu -->
                        <nav class="classy-navbar justify-content-between" id="rehomesNav">
    
                            <!-- Logo -->
                            <a class="nav-brand" href="./index.html"><img src="./public-assets/img/core-img/logo.png" alt=""></a>
    
                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>
    
                            <!-- Menu -->
                            <div class="classy-menu">
                                <!-- Menu Close Button -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>
                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul id="nav">
                                        <li class="active"><a href="#/">Home</a></li>
                                        <!--li><a href="#">Pages</a>
                                            <ul class="dropdown">
                                                <li class="active"><a href="./index.html">- Home</a></li>
                                                <li><a href="./about.html">- About</a></li>
                                                <li><a href="./agent.html">- Agent</a></li>
                                                <li><a href="./rent.html">- Rent</a></li>
                                                <li><a href="./properties-details.html">- Property Details</a></li>
                                                <li><a href="./blog.html">- Blog</a></li>
                                                <li><a href="./single-blog.html">- Single Blog</a></li>
                                                <li><a href="./contact.html">- Contact</a></li>
                                                <li><a href="#">- Dropdown</a>
                                                    <ul class="dropdown">
                                                        <li><a href="#">- Dropdown Item</a></li>
                                                        <li><a href="#">- Dropdown Item</a></li>
                                                        <li><a href="#">- Dropdown Item</a></li>
                                                        <li><a href="#">- Dropdown Item</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li-->
                                        <li><a href="#/adminPanel">Admin Panel</a></li>
                                        <li><a href="#/globalSetup">Global Setup</a></li>
                                        <li><a href="#/serviceProviderPanel">Service Provider Panel</a></li>
                                        <li><a href="#/customerPanel">Customer Panel</a></li>
                                    </ul>
    
                                    <!-- Contact btn -->
                                    <div class="contact-btn mt-3 mt-lg-0 ml-3 ml-lg-5">
                                        <a href="#/registration">Be Our Member</a>
                                    </div>
                                </div>
                                <!-- Nav End -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        

     <div class="container-fluid">
            <router-outlet></router-outlet>
     </div>


     <section class="rehomes-choose-us-area section-padding-100-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                            <h2><span>Why</span> Choose Us?</h2>
                            <p>We have over 8 years of experience and knowledge on how to sell more.</p>
                        </div>
                    </div>
    
                    <!-- Single choose us content -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                            <!-- Choose us Icon -->
                            <div class="choose-us-icon">
                                <i class="icon_search"></i>
                            </div>
                            <h5>Find Your Home</h5>
                            <p>Quis ipsum suspendisse ultrices, risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        </div>
                    </div>
    
                    <!-- Single choose us content -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                            <!-- Choose us Icon -->
                            <div class="choose-us-icon">
                                <i class="icon_building"></i>
                            </div>
                            <h5>Transportation support</h5>
                            <p>Quis ipsum suspendisse ultrices, risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        </div>
                    </div>
    
                    <!-- Single choose us content -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                            <!-- Choose us Icon -->
                            <div class="choose-us-icon">
                                <i class="icon_creditcard"></i>
                            </div>
                            <h5>Save Your Money</h5>
                            <p>Quis ipsum suspendisse ultrices, risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>
        <!-- **** Choose Us Area End **** -->
    
        <!-- **** Categories By Property Area Start **** -->
        <section class="rehomes-categories-property-area section-padding-100-70">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                            <h2>Categories By <span>Property</span></h2>
                            <p>We have over 8 years of experience and knowledge on how to sell more.</p>
                        </div>
                    </div>
    
                    <!-- Single Categories and Property Content -->
                    <div class="col-12 col-md-8">
                        <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                            <!-- Property Thumb -->
                            <div class="property-thumb">
                                <a href="#"><img src="public-assets/img/bg-img/7.jpg" alt=""></a>
                            </div>
                            <!-- Title -->
                            <a class="categories-title" href="#">25 Properties</a>
                            <!-- Property Name and Price -->
                            <div class="property-name-price-text">
                                <a href="#">Villa In Newyork</a>
                                <p>From $28000</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Categories and Property Content -->
                    <div class="col-12 col-md-4">
                        <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                            <!-- Property Thumb -->
                            <div class="property-thumb">
                                <a href="#"><img src="public-assets/img/bg-img/8.jpg" alt=""></a>
                            </div>
                            <!-- Title -->
                            <a class="categories-title" href="#">25 Properties</a>
                            <!-- Property Name and Price -->
                            <div class="property-name-price-text">
                                <a href="#">Home In LA</a>
                                <p>From $10000</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Categories and Property Content -->
                    <div class="col-12 col-md-4">
                        <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                            <!-- Property Thumb -->
                            <div class="property-thumb">
                                <a href="#"><img src="public-assets/img/bg-img/9.jpg" alt=""></a>
                            </div>
                            <!-- Title -->
                            <a class="categories-title" href="#">25 Properties</a>
                            <!-- Property Name and Price -->
                            <div class="property-name-price-text">
                                <a href="#">Home In Landport</a>
                                <p>From $16000</p>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single Categories and Property Content -->
                    <div class="col-12 col-md-8">
                        <div class="single-categories-property-area bg-gradient-overlay wow fadeInUp" data-wow-delay="200ms">
                            <!-- Property Thumb -->
                            <div class="property-thumb">
                                <a href="#"><img src="public-assets/img/bg-img/10.jpg" alt=""></a>
                            </div>
                            <!-- Title -->
                            <a class="categories-title" href="#">25 Properties</a>
                            <!-- Property Name and Price -->
                            <div class="property-name-price-text">
                                <a href="#">Villa In Sysney</a>
                                <p>From $36000</p>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
        </section>
        <!-- **** Categories By Property Area End **** -->
    
        <!-- **** Call to Action Area Start **** -->
        <section class="rehome-call-to-action-area bg-overlay bg-img jarallax section-padding-100" style="background-image: url(img/bg-img/11.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <!-- Call to Action Content -->
                        <div class="call-to-action-content wow fadeInUp" data-wow-delay="200ms">
                            <h2>Download app &amp; join now!</h2>
                            <p>Download and sign up to receive all the latest real estate news.</p>
                            <!-- Button -->
                            <div class="download-btn">
                                <a class="mr-2" href="#"><img src="public-assets/img/bg-img/12.png" alt=""></a>
                                <a href="#"><img src="public-assets/img/bg-img/13.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- **** Call to Action Area End **** -->
    
        <!-- **** Blog area Start **** -->
        <section class="rehome-blog-area section-padding-100-60">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Section Heading -->
                        <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                            <h2>Latest <span>News</span></h2>
                            <p>Sign up for the latest real estate information and more.</p>
                        </div>
                    </div>
    
                    <!-- Single blog content -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-post-area wow fadeInUp" data-wow-delay="200ms">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <img src="public-assets/img/bg-img/14.jpg" alt="">
                            </div>
                            <a class="post-title" href="#">Benjamin Franklin S Method Of Habit Formation</a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a class="post-author" href="#">By Polly Williams</a>
                                <a class="post-date" href="#">Dec 19, 2018</a>
                                <a class="post-comment" href="#">3 Comment</a>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single blog content -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-post-area wow fadeInUp" data-wow-delay="200ms">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <img src="public-assets/img/bg-img/15.jpg" alt="">
                            </div>
                            <a class="post-title" href="#">How To Set Intentions That Energize You</a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a class="post-author" href="#">By Mattie Ramirez </a>
                                <a class="post-date" href="#">Dec 19, 2018</a>
                                <a class="post-comment" href="#">3 Comment</a>
                            </div>
                        </div>
                    </div>
    
                    <!-- Single blog content -->
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="single-post-area wow fadeInUp" data-wow-delay="200ms">
                            <!-- Post Thumb -->
                            <div class="post-thumb">
                                <img src="public-assets/img/bg-img/16.jpg" alt="">
                            </div>
                            <a class="post-title" href="#">Burning Desire Golden Key Or Red Herring</a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <a class="post-author" href="#">By Nicholas Brewer</a>
                                <a class="post-date" href="#">Dec 19, 2018</a>
                                <a class="post-comment" href="#">3 Comment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- **** Blog area End **** -->
    
        <!-- **** Partner Area Start **** -->
        <div class="partner-area wow fadeInUp" data-wow-delay="200ms">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="partner-logo-slide owl-carousel">
                            <!-- Single Partner Logo -->
                            <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="100ms"><img src="public-assets/img/core-img/1.png" alt=""></a>
                            <!-- Single Partner Logo -->
                            <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="300ms"><img src="public-assets/img/core-img/2.png" alt=""></a>
                            <!-- Single Partner Logo -->
                            <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="500ms"><img src="public-assets/img/core-img/3.png" alt=""></a>
                            <!-- Single Partner Logo -->
                            <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="700ms"><img src="public-assets/img/core-img/4.png" alt=""></a>
                            <!-- Single Partner Logo -->
                            <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="900ms"><img src="public-assets/img/core-img/5.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- **** Partner Area End **** -->
    
        <!-- **** Footer Area Start **** -->
        <footer class="footer-area bg-img bg-overlay-2 section-padding-100-0" style="background-image: url(img/bg-img/17.jpg);">
            <!-- Main Footer Area -->
            <div class="main-footer-area">
                <div class="container">
                    <div class="row justify-content-between">
    
                        <!-- Footer Widget Area -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-footer-widget mb-80">
                                <!-- Footer Logo -->
                                <a href="#" class="footer-logo"><img src="public-assets/img/core-img/logo-2.png" alt=""></a>
    
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                <!-- Social Info -->
                                <div class="social-info">
                                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
    
                        <!-- Footer Widget Area -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-footer-widget mb-80">
                                <!-- Widget Title -->
                                <h5 class="widget-title">Get info</h5>
    
                                <!-- Contact Area -->
                                <div class="footer-contact">
                                    <p>Phone: <span>(12) 345 6789</span></p>
                                    <p>Email: <span>colorlib.info@gmail.com</span></p>
                                    <p>Address: <span>Iris Watson, Box 283 8562 Fusce Rd, NY</span></p>
                                </div>
                            </div>
                        </div>
    
                        <!-- Footer Widget Area -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-footer-widget mb-80">
                                <!-- Widget Title -->
                                <h5 class="widget-title">Property Cities</h5>
    
                                <!-- Footer Nav -->
                                <ul class="footer-nav d-flex flex-wrap">
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Kalima</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Austin</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Mianma</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Mahatan</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Chicago</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Mehico</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> Mahatan</a></li>
                                    <li><a href="#"><i class="fa fa-map-marker" aria-hidden="true"></i> New York</a></li>
                                </ul>
                            </div>
                        </div>
    
                        <!-- Footer Widget Area -->
                        <div class="col-12 col-sm-6 col-lg-3">
                            <div class="single-footer-widget mb-80">
                                <!-- Widget Title -->
                                <h5 class="widget-title">Newsletter</h5>
    
                                <p>Subscribe our newsletter gor get notification about new updates, count, etc.</p>
                                <!-- Newsletter Form -->
                                <form action="index.html" class="nl-form">
                                    <input type="email" name="nl-email" class="form-control" placeholder="Enter your email...">
                                    <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- Copywrite Area -->
            <div class="copywrite-content">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Copywrite Text -->
                        <div class="col-12 col-sm-6">
                            <div class="copywrite-text">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
    
                        <!-- Footer Menu -->
                        <div class="col-12 col-sm-6">
                            <div class="footer-menu">
                                <ul class="nav">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Properties</a></li>
                                    <li><a href="#">Agents</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- **** Footer Area End **** -->