
     
<head>
        <title>TOLETBD.COM - Here you can find Flat, Mess, Sublet,
            Hostel, Office Space, Shop, Showrooms, Garage for rent</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--
            <title layout:title-pattern="$CONTENT_TITLE  $LAYOUT_TITLE">:: Here you can find Flat, Mess, Sublet, Hostel, Office Space, Shop, Showrooms, Garage for rent</title>
        -->
        
        
        <link rel="stylesheet" type="text/css"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        
        </head>
        

     <div class="container-fluid">
            <router-outlet></router-outlet>
     </div>


	<!-- Footer -->
	<footer id="footer" class="page-footer font-small indigo mt-3">

            <!-- Footer Links -->
            <div class="container">
    
                <!-- Grid row-->
                <div class="row">
    
                    <!-- Grid column -->
                    <div class="col-md-12">
                        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                            <ul class="list-unstyled list-inline social text-center">
                                <li class="list-inline-item"><a
                                    href="https://www.facebook.com/TOLETBD.COM.OFFICIAL"><i
                                        class="fa fa-facebook-official"></i>Page</a></li>
                                <li class="list-inline-item"><a
                                    href="https://www.facebook.com/groups/TOLETBD360"><i
                                        class="fa fa-facebook-square"></i>Group</a></li>
                                <!-- <li class="list-inline-item"><a th:href="@{/}"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a th:href="@{/}"><i class="fa fa-envelope"></i></a></li> -->
                            </ul>
                        </div>
                    </div>
                    <!-- Grid column -->
    
                </div>
                <!-- Grid row-->
                <hr>
                <!-- Grid row-->
                <div class="row text-center d-flex justify-content-center pt-3 mb-3">
    
                    <!-- Grid column -->
                    <div class="col-md-2 mb-3">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="/about-us">About us</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
    
                    <!-- Grid column -->
                    <div class="col-md-2 mb-3">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="/contact-us">Contact Us</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
    
                    <!-- Grid column -->
                    <div class="col-md-2 mb-3">
                        <h6 class="text-uppercase font-weight-bold">
                            <a href="/terms-and-conditions">Terms & Conditions</a>
                        </h6>
                    </div>
                    <!-- Grid column -->
    
                </div>
                <!-- Grid row-->
    
            </div>
            <!-- Footer Links -->
    
            <!-- Copyright -->
            <div class="row">
                <div
                    class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                    <p class="h6">
                        &copy; Developed by<a class="text-green ml-2"
                            href="http://lizdevops.com" target="_blank"><b>Liz Dev Ops</b></a>
                    </p>
                </div>
            </div>
            <!-- Copyright -->
    
        </footer>




