<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Notification Process Entry Form
						<div class="card-header-actions">
							<a href="#globalSetup/notificationProcesss"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processNotificationProcessForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="notificationProcess.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Name <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="name" name="name"  [(ngModel)]="notificationProcess.name" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{name_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active <span style='color:red'>*</span></span>
                  </div>
                  <input type="checkbox"  class="col-lg-6 form-control" name="isActive"  [(ngModel)]="notificationProcess.isActive" >
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Send Email </span>
                  </div>
                  <input type="checkbox"  class="col-lg-6 form-control" name="sendEmail"  [(ngModel)]="notificationProcess.sendEmail" >
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{sendEmail_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Send Sms </span>
                  </div>
                  <input type="checkbox"  class="col-lg-6 form-control" name="sendSms"  [(ngModel)]="notificationProcess.sendSms" >
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{sendSms_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearNotificationProcessFormFields()" class="btn btn-warning">
						<span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="true" class="col-lg-3 form-control alert alert-warning">
							
						</span>
						<!-- span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span-->						
					</div>
			</div>
		</div>

	</div>
</div>
