<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<form (ngSubmit)="processCustomerSpForm()">
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Customer Sp Entry
						Form
						<div class="card-header-actions">
							<div class="col-lg-12 input-group-prepend">
								<a href="#customerPanel/customerSps"> <small
									class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
								</a>
							</div>

						</div>
					</div>
					<div class="card-body">
						<!-- Nav tabs -->
						<tabset> 
						<tab id="printCustomerSpFormContainer"> <ng-template
							tabHeading> <i class="icon-calculator"></i> Basic
						Information</ng-template> <input type="hidden" class="form-control"
							[(ngModel)]="customerSp.id" name="id">
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Service Provider</span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="customerSp.serviceProvider" class="col-lg-12" autocomplete="serviceProvider" name="serviceProvider"  [(ngModel)]="customerSp.serviceProvider.id"> 
						<ng-option *ngFor="let serviceProvider of serviceProviders" [value]="serviceProvider.id">{{serviceProvider.name}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!customerSp.serviceProvider" class="col-lg-12" autocomplete="serviceProvider" name="serviceProvider"  [(ngModel)]="customerSp.serviceProvider"> 
						  <ng-option *ngFor="let serviceProvider of serviceProviders" [value]="serviceProvider">{{serviceProvider.name}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{ServiceProvider_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="isActive" name="isActive"  [(ngModel)]="customerSp.isActive" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Aprove Status </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="aproveStatus" name="aproveStatus"  [(ngModel)]="customerSp.aproveStatus" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{aproveStatus_validationMessage}}</span>                </div> 
						</tab> 
						
						<tab> <ng-template tabHeading>
						<i class="icon-basket-loaded"></i> Details Information</ng-template> DatePicker
						Example: <input type="text" name="testDatepicker"
							placeholder="Datepicker" class="form-control" bsDatepicker>

						Dropdown Example : <ng-select [items]="simpleItems"
							name="simpleItem" [(ngModel)]="selectedSimpleItem"> </ng-select>

						</tab> 
						</tabset>


					</div>
					<div class="card-footer">
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear"
							(click)="clearCustomerSpFormFields()" class="btn btn-warning">
						<span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
					</div>
				</form>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
