<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> Service Response Info Details
					<div class="card-header-actions">
					    <button class="btn btn-primary" (click)="newServiceResponseInfo()"><i class="fa fa-plus fa-lg"></i></button>
						<a href="#serviceProviderPanel/serviceResponseInfos"> <small
							class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
						</a>
					</div>
				</div>
				<div class="card-body" id="printServiceResponseInfoFormContainer">
						<!-- Nav tabs -->
						<tabset> 
							<tab> 
								<ng-template tabHeading> <i class="icon-calculator"></i> Basic Information</ng-template> 
								<input type="hidden" class="form-control" [(ngModel)]="serviceResponseInfo.id" name="id"> 
								
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Service Provider</span>
                  </div>
				  <div  *ngIf="serviceResponseInfo.serviceProvider"> {{serviceResponseInfo.serviceProvider.name}}</div>
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Cust Message</span>
                  </div>
                  {{serviceResponseInfo.custMessage}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Sp Answer</span>
                  </div>
                  {{serviceResponseInfo.spAnswer}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Sent Date</span>
                  </div>
                  {{serviceResponseInfo.sentDate | date: 'yyyy-MM-dd'}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Response Date</span>
                  </div>
                  {{serviceResponseInfo.responseDate | date: 'yyyy-MM-dd'}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active</span>
                  </div>
                  {{serviceResponseInfo.isActive}}
                </div> 
								
							</tab> 
							<tab> 
								<ng-template tabHeading> <i class="icon-basket-loaded"></i> Details Information</ng-template> 
								DatePicker Example: <input type="text" name="testDatepicker" placeholder="Datepicker" class="form-control" bsDatepicker>
								
								Dropdown Example : <ng-select [items]="simpleItems" name="simpleItem"
													[(ngModel)]="selectedSimpleItem">
												</ng-select>
													
							</tab> 
						</tabset>
						
				</div>
				<div class="card-footer">
				   <button class="btn btn-primary" (click)="serviceResponseInfoEditAction()"><i class="fa fa-edit fa-lg"></i></button>
				   <button class="btn btn-primary" (click)="printServiceResponseInfoDetails()"><i class="fa fa-print fa-lg"></i></button>
				</div>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
