<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<form (ngSubmit)="processServiceResponseInfoForm()">
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Service Response Info Entry
						Form
						<div class="card-header-actions">
							<div class="col-lg-12 input-group-prepend">
								<a href="#serviceProviderPanel/serviceResponseInfos"> <small
									class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
								</a>
							</div>

						</div>
					</div>
					<div class="card-body">
						<!-- Nav tabs -->
						<tabset> <tab id="printServiceResponseInfoFormContainer"> <ng-template
							tabHeading> <i class="icon-calculator"></i> Basic
						Information</ng-template> <input type="hidden" class="form-control"
							[(ngModel)]="serviceResponseInfo.id" name="id">
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Cust Message </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="custMessage" name="custMessage"  [(ngModel)]="serviceResponseInfo.custMessage" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{custMessage_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Sp Answer </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="spAnswer" name="spAnswer"  [(ngModel)]="serviceResponseInfo.spAnswer" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{spAnswer_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Sent Date <span style='color:red'>*</span></span>
                  </div>
				   <input readonly [disabled]="serviceResponseInfo.id!=null" type="text" 
			class="col-lg-6 form-control" 
			[(ngModel)]="serviceResponseInfo.sentDate" 
			name="sentDate" 
			bsDatepicker 
			[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" 
			name="sentDate" 
			placeholder="Sent Date" 
			value="{{serviceResponseInfo.sentDate | date: 'yyyy-MM-dd'}}">
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{sentDate_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Response Date <span style='color:red'>*</span></span>
                  </div>
				   <input readonly [disabled]="serviceResponseInfo.id!=null" type="text" 
			class="col-lg-6 form-control" 
			[(ngModel)]="serviceResponseInfo.responseDate" 
			name="responseDate" 
			bsDatepicker 
			[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" 
			name="responseDate" 
			placeholder="Response Date" 
			value="{{serviceResponseInfo.responseDate | date: 'yyyy-MM-dd'}}">
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{responseDate_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="isActive" name="isActive"  [(ngModel)]="serviceResponseInfo.isActive" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>                </div> </tab> <tab> <ng-template tabHeading>
						<i class="icon-basket-loaded"></i> Details Information</ng-template> DatePicker
						Example: <input type="text" name="testDatepicker"
							placeholder="Datepicker" class="form-control" bsDatepicker>

						Dropdown Example : <ng-select [items]="simpleItems"
							name="simpleItem" [(ngModel)]="selectedSimpleItem"> </ng-select>

						</tab> </tabset>


					</div>
					<div class="card-footer">
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear"
							(ngClick)="clearServiceResponseInfoFormFields()" class="btn btn-warning">

					</div>
				</form>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
