<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Service Response Info Entry Form
						<div class="card-header-actions">
							<a href="#serviceProviderPanel/serviceResponseInfos"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processServiceResponseInfoForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="serviceResponseInfo.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Cust Message </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="custMessage" name="custMessage"  [(ngModel)]="serviceResponseInfo.custMessage" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{custMessage_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Sp Answer </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="spAnswer" name="spAnswer"  [(ngModel)]="serviceResponseInfo.spAnswer" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{spAnswer_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Sent Date <span style='color:red'>*</span></span>
                  </div>
				   <input readonly [disabled]="serviceResponseInfo.id!=null" type="text" 
			class="col-lg-6 form-control" 
			[(ngModel)]="serviceResponseInfo.sentDate" 
			name="sentDate" 
			bsDatepicker 
			[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" 
			name="sentDate" 
			placeholder="Sent Date" 
			value="{{serviceResponseInfo.sentDate | date: 'yyyy-MM-dd'}}">
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{sentDate_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Response Date <span style='color:red'>*</span></span>
                  </div>
				   <input readonly [disabled]="serviceResponseInfo.id!=null" type="text" 
			class="col-lg-6 form-control" 
			[(ngModel)]="serviceResponseInfo.responseDate" 
			name="responseDate" 
			bsDatepicker 
			[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" 
			name="responseDate" 
			placeholder="Response Date" 
			value="{{serviceResponseInfo.responseDate | date: 'yyyy-MM-dd'}}">
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{responseDate_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="isActive" name="isActive"  [(ngModel)]="serviceResponseInfo.isActive" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearServiceResponseInfoFormFields()" class="btn btn-warning">
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="false" class="col-lg-3 form-control alert alert-warning">
							This is warning message!
						</span>						
					</div>
			</div>
		</div>

	</div>
</div>
