<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> SPDuty Entry Form
						<div class="card-header-actions">
							<a href="#serviceProviderPanel/sPDutys"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processSPDutyForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="sPDuty.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Service Provider<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select [disabled]="sPDuty.id!=null" *ngIf="sPDuty.serviceProvider" class="col-lg-12" autocomplete="serviceProvider" name="serviceProvider"  [(ngModel)]="sPDuty.serviceProvider.id"> 
						<ng-option *ngFor="let serviceProvider of serviceProviders" [value]="serviceProvider.id">{{serviceProvider.name}}</ng-option> 
					</ng-select>
					<ng-select [disabled]="sPDuty.id!=null" *ngIf="!sPDuty.serviceProvider" class="col-lg-12" autocomplete="serviceProvider" name="serviceProvider"  [(ngModel)]="sPDuty.serviceProvider"> 
						  <ng-option *ngFor="let serviceProvider of serviceProviders" [value]="serviceProvider">{{serviceProvider.name}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{serviceProvider_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->From Date</span>
                  </div>
				   <input readonly  type="text" 
			class="col-lg-6 form-control" 
			[(ngModel)]="sPDuty.fromDate" 
			name="fromDate" 
			bsDatepicker 
			[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" 
			name="fromDate" 
			placeholder="From Date" 
			value="{{sPDuty.fromDate | date: 'yyyy-MM-dd'}}">
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{fromDate_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Thru Date</span>
                  </div>
				   <input readonly  type="text" 
			class="col-lg-6 form-control" 
			[(ngModel)]="sPDuty.thruDate" 
			name="thruDate" 
			bsDatepicker 
			[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" 
			name="thruDate" 
			placeholder="Thru Date" 
			value="{{sPDuty.thruDate | date: 'yyyy-MM-dd'}}">
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{thruDate_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Start Time</span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="startTime" name="startTime"  [(ngModel)]="sPDuty.startTime" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{startTime_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->End Time</span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="endTime" name="endTime"  [(ngModel)]="sPDuty.endTime" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{endTime_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearSPDutyFormFields()" class="btn btn-warning">
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="false" class="col-lg-3 form-control alert alert-warning">
							This is warning message!
						</span>						
					</div>
			</div>
		</div>

	</div>
</div>
