<div class="container main">
	<div class="serp-listing">
		<div
			class="ui-panel is-transparent serp-banner is-leaderboard t-center">
			<div class="ui-panel-content ui-panel-block">
				<div id="div-gpt-ad-1524219024864-140"
					data-google-query-id="CLW069Db6t8CFc6BcAodz_YMSg">
					<script>
						googletag.cmd.push(function() {
							googletag.display('div-gpt-ad-1524219024864-140');
						});
					</script>
					<div
						id="google_ads_iframe_/134461134/Bikroy_BN_Desktop_SERP_728x90_Firstlistingpage_All_0__container__"
						style="border: 0pt none;">
						<iframe
							id="google_ads_iframe_/134461134/Bikroy_BN_Desktop_SERP_728x90_Firstlistingpage_All_0"
							title="3rd party ad content"
							name="google_ads_iframe_/134461134/Bikroy_BN_Desktop_SERP_728x90_Firstlistingpage_All_0"
							scrolling="no" marginwidth="0" marginheight="0"
							style="border: 0px none; vertical-align: bottom;" srcdoc=""
							data-google-container-id="1" data-load-complete="true"
							width="970" height="250" frameborder="0"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="ui-panel is-rounded serp-panel">
			<div class="ui-panel-header ui-panel-block">
				<div class="row serp-search">
					<div class="col-6 lg-3">
						<div class="ui-buttons has-expanded is-link-color">
							<a class="ui-btn is-secondary set-location"
								data-modal-selector=".serp-locations" href="/bn/ads-locations"><svg
									class="ui-icon i-pin is-inline">
									<use xlink:href="#i-pin"></use></svg>অবস্থান নির্বাচন করুন</a>
						</div>
						<div class="i-tooltip is-hidden">
							<div class="row tooltip-view">
								<div class="col-11">
									<span class="tooltip-texts">BuyNow সুবিধা যুক্ত পণ্যগুলো
										বাংলাদেশ এর যেকোনো জায়গায় ডেলিভারি করা সম্ভব.</span>
								</div>
								<div class="col-1">
									<svg class="ui-icon i-x">
										<use xlink:href="#i-x"></use></svg>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 lg-3">
						<div class="ui-buttons has-expanded">
							<a class="ui-btn is-secondary set-category"
								data-modal-selector=".serp-categories" href="/bn/ads-categories"><svg
									class="ui-icon i-tag">
									<use xlink:href="#i-tag"></use></svg>শ্রেণী নির্বাচন করুন</a>
						</div>
					</div>
					<div class="col-12 lg-6">
						<form method="GET" class="ui-form is-inline">
							<div class="row xs-adjust">
								<div class="col-10 lg-8">
									<input id="query" name="query" type="text" class="ui-input"
										placeholder="আপনি কি খুঁজছেন?" value="">
								</div>
								<div class="col-2 lg-4 push">
									<button class="ui-btn is-secondary gtm-search">
										<svg class="ui-icon i-search">
											<use xlink:href="#i-search"></use></svg>
										অনুসন্ধান
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="ui-panel-content ui-panel-block">
				<div class="row">
					<div class="col-12 lg-3 lg-filter-area">
						<div class="ui-panel is-transparent">
							<div class="ui-panel-content ui-panel-block">
								<form method="GET" class="ui-form is-standard serp-filter-form"
									action="/bn/ads">
									<div class="ui-accordion">
										<div class="ui-accordion-item is-static">
											<a class="ui-accordion-title t-small"><span>ফলাফল
													বাছাই করে নিন:</span></a>
											<div class="ui-accordion-content">
												<ul class="ui-link-tree">
													<li class="ui-link-tree-item"><div
															class="ui-field is-normal is-filled">
															<select id="sort" name="sort"
																class="ui-select filter-submit-trigger"><option
																	value="date_desc" selected="selected">তারিখঃ
																	নতুন প্রথমে</option>
																<option value="date_asc">তারিখঃ পুরাতন প্রথমে</option>
																<option value="price_desc">মূল্যঃ সর্বোচ্চ থেকে
																	সর্বনিম্ন</option>
																<option value="price_asc">মূল্যঃ সর্বনিম্ন থেকে
																	সর্বোচ্চ</option></select>
														</div></li>
												</ul>
											</div>
										</div>
										<div class="ui-accordion-item is-static">
											<div class="row show-buynow-filter t-small">
												<div class="col-11">
													<span>শুধুমাত্র BuyNow যুক্ত পন্যগুলো দেখান</span>
												</div>
												<div class="col-1 is-help">
													<a href="/bn/buy-now" target="_blank"><svg
															class="ui-icon i-help-question">
															<use xlink:href="#i-help-question"></use></svg></a>
												</div>
											</div>
											<div class="ui-accordion-content">
												<ul class="ui-link-tree">
													<li class="ui-link-tree-item"><div
															class="ui-field is-normal">
															<input id="buy_now-1" name="buy_now" value="1"
																type="checkbox"
																class="ui-checkbox filter-submit-trigger">
															<div class="buynow-filter">
																<img
																	srcset="https://w.bikroy-st.com/dist/img/all/serp/buynow-1x-c13d9716.png 1x, https://w.bikroy-st.com/dist/img/all/serp/buynow-2x-0f817daf.png 1.3x"
																	width="105" height="19">
															</div>
														</div></li>
												</ul>
											</div>
										</div>
										<div class="ui-accordion-item is-static">
											<a class="ui-accordion-title t-small"><span>পোস্টকারীর
													প্রকার</span></a>
											<div class="ui-accordion-content">
												<ul class="ui-link-tree">
													<li class="ui-link-tree-item"><a href="#"><div
																class="ui-field is-inline">
																<label class="ui-label"><input
																	id="by_paying_member-0" name="by_paying_member"
																	value="0" type="radio"
																	class="ui-radio filter-submit-trigger"
																	checked="checked">সকল পোস্টকারী</label>
															</div></a></li>
													<li class="ui-link-tree-item"><a href="#"><div
																class="ui-field is-inline">
																<label class="ui-label"><input
																	id="by_paying_member-1" name="by_paying_member"
																	value="1" type="radio"
																	class="ui-radio filter-submit-trigger">শুধুমাত্র
																	সদস্য</label>
															</div></a></li>
												</ul>
											</div>
										</div>
										<div class="ui-accordion-item is-open">
											<a class="ui-accordion-title t-small"><span>শ্রেণী:</span>
											<div class="ui-accordion-icon">
													<svg class="ui-icon i-arrow-d">
														<use xlink:href="#i-arrow-d"></use></svg>
												</div></a>
											<div class="ui-accordion-content">
												<ul class="ui-link-tree serp-category-links">
													<li class="ui-link-tree-item is-active"><a
														href="/bn/ads" class="cat-all"><span class="text">সকল
																শ্রেণী</span></a>
													<ul class="ui-link-tree">
															<li class="ui-link-tree-item  cat-229"><a
																href="/bn/ads/bangladesh/electronics"><span
																	class="icon"><span
																		class="ui-sprite categories-18 electronics"></span></span><span
																	class="text">ইলেকট্রনিক্স<span class="ui-badge">৬৫,৫৪৭</span></span></a></li>
															<li class="ui-link-tree-item  cat-101"><a
																href="/bn/ads/bangladesh/mobiles"><span class="icon"><span
																		class="ui-sprite categories-18 mobiles"></span></span><span
																	class="text">মোবাইল<span class="ui-badge">৬১,২০৪</span></span></a></li>
															<li class="ui-link-tree-item  cat-245"><a
																href="/bn/ads/bangladesh/home-living"><span
																	class="icon"><span
																		class="ui-sprite categories-18 home"></span></span><span
																	class="text">হোম এবং লিভিং<span class="ui-badge">১৮,৮৩৫</span></span></a></li>
															<li class="ui-link-tree-item  cat-192"><a
																href="/bn/ads/bangladesh/vehicles"><span
																	class="icon"><span
																		class="ui-sprite categories-18 vehicles"></span></span><span
																	class="text">যানবাহন<span class="ui-badge">১৭,৭৮০</span></span></a></li>
															<li class="ui-link-tree-item  cat-210"><a
																href="/bn/ads/bangladesh/property"><span
																	class="icon"><span
																		class="ui-sprite categories-18 property"></span></span><span
																	class="text">প্রপার্টি<span class="ui-badge">১৪,৫৪৮</span></span></a></li>
															<li class="ui-link-tree-item  cat-273"><a
																href="/bn/ads/bangladesh/fashion-health-beauty"><span
																	class="icon"><span
																		class="ui-sprite categories-18 fashion"></span></span><span
																	class="text">ফ্যাশন, স্বাস্থ্য এবং সৌন্দর্য্য<span
																		class="ui-badge">৯,৯৬৭</span></span></a></li>
															<li class="ui-link-tree-item  cat-299"><a
																href="/bn/ads/bangladesh/pets-animals"><span
																	class="icon"><span
																		class="ui-sprite categories-18 animals"></span></span><span
																	class="text">পোষা প্রাণী&nbsp;ও জীবজন্তু<span
																		class="ui-badge">৯,৪৪৯</span></span></a></li>
															<li class="ui-link-tree-item  cat-314"><a
																href="/bn/ads/bangladesh/hobbies-sports-kids"><span
																	class="icon"><span
																		class="ui-sprite categories-18 hobby"></span></span><span
																	class="text">শখ, খেলাধুলা এবং শিশু<span
																		class="ui-badge">৫,৪০৭</span></span></a></li>
															<li class="ui-link-tree-item  cat-381"><a
																href="/bn/ads/bangladesh/education"><span
																	class="icon"><span
																		class="ui-sprite categories-18 education"></span></span><span
																	class="text">শিক্ষা<span class="ui-badge">২,৩৪৬</span></span></a></li>
															<li class="ui-link-tree-item  cat-1100"><a
																href="/bn/ads/bangladesh/services"><span
																	class="icon"><span
																		class="ui-sprite categories-18 services"></span></span><span
																	class="text">সার্ভিস<span class="ui-badge">১,৬৪১</span></span></a></li>
															<li class="ui-link-tree-item  cat-348"><a
																href="/bn/ads/bangladesh/business-industry"><span
																	class="icon"><span
																		class="ui-sprite categories-18 business"></span></span><span
																	class="text">ব্যবসা ও শিল্পকারখানা<span
																		class="ui-badge">১,০১৪</span></span></a></li>
															<li class="ui-link-tree-item  cat-594"><a
																href="/bn/ads/bangladesh/food-agriculture"><span
																	class="icon"><span
																		class="ui-sprite categories-18 food"></span></span><span
																	class="text">কৃষি এবং খাদ্যদ্রব্য<span
																		class="ui-badge">৮০৭</span></span></a></li>
															<li class="ui-link-tree-item  cat-700"><a
																href="/bn/ads/bangladesh/jobs"><span class="icon"><span
																		class="ui-sprite categories-18 jobs"></span></span><span
																	class="text">চাকরি<span class="ui-badge">৫৬৭</span></span></a></li>
														</ul>
														<ul class="ui-link-tree">
															<li class="ui-link-tree-item  cat-deals"><a
																href="/en/shops/bikroy-deals"><span class="icon"><span
																		class="ui-sprite categories-18 market-deals"></span></span><span
																	class="text">Bikroy Deals<span
																		class="ui-bubble is-member new-bubble">NEW!</span></span></a></li>
														</ul></li>
												</ul>
											</div>
										</div>
										<div class="ui-accordion-item is-open">
											<a class="ui-accordion-title t-small"><span>অবস্থান:</span>
											<div class="ui-accordion-icon">
													<svg class="ui-icon i-arrow-d">
														<use xlink:href="#i-arrow-d"></use></svg>
												</div></a>
											<div class="ui-accordion-content">
												<ul class="ui-link-tree serp-location-links is-collapsed">
													<li class="ui-link-tree-item is-active"><a
														href="/bn/ads" class="loc-all"><span class="text">বাংলাদেশ-এর
																সবগুলো</span></a>
													<ul class="ui-link-tree">
															<li class="ui-link-tree-item  loc-1211"><a
																href="/bn/ads/dhaka"><span class="text">ঢাকা<span
																		class="ui-badge">১৩৬,৫৮২</span></span></a></li>
															<li class="ui-link-tree-item  loc-1295"><a
																href="/bn/ads/chattogram"><span class="text">চট্টগ্রাম<span
																		class="ui-badge">১৯,৪৪৭</span></span></a></li>
															<li class="ui-link-tree-item  loc-1346"><a
																href="/bn/ads/sylhet"><span class="text">সিলেট<span
																		class="ui-badge">১০,৩২৮</span></span></a></li>
															<li class="ui-link-tree-item  loc-1141"><a
																href="/bn/ads/dhaka-division"><span class="text">ঢাকা
																		বিভাগ<span class="ui-badge">৯,০৬৩</span>
																</span></a></li>
															<li class="ui-link-tree-item  loc-1179"><a
																href="/bn/ads/khulna"><span class="text">খুলনা<span
																		class="ui-badge">৫,৬৩৫</span></span></a></li>
															<li class="ui-link-tree-item  loc-1174"><a
																href="/bn/ads/khulna-division"><span class="text">খুলনা
																		বিভাগ<span class="ui-badge">৩,৯৮০</span>
																</span></a></li>
															<li class="ui-link-tree-item  loc-1159"><a
																href="/bn/ads/chattogram-division"><span
																	class="text">চট্টগ্রাম বিভাগ<span
																		class="ui-badge">৪,৮৯২</span></span></a></li>
															<li class="ui-link-tree-item  loc-2002000"><a
																href="/bn/ads/barishal"><span class="text">বরিশাল<span
																		class="ui-badge">২,২৬১</span></span></a></li>
															<li class="ui-link-tree-item  loc-1204"><a
																href="/bn/ads/barishal-division"><span class="text">বরিশাল
																		বিভাগ<span class="ui-badge">৪০৪</span>
																</span></a></li>
															<li class="ui-link-tree-item  loc-2004000"><a
																href="/bn/ads/mymensingh"><span class="text">ময়মনসিংহ<span
																		class="ui-badge">২,০৪০</span></span></a></li>
															<li class="ui-link-tree-item  loc-1501"><a
																href="/bn/ads/mymensingh-division"><span
																	class="text">ময়মনসিংহ বিভাগ<span
																		class="ui-badge">৫৯৩</span></span></a></li>
															<li class="ui-link-tree-item  loc-2003000"><a
																href="/bn/ads/rangpur"><span class="text">রংপুর<span
																		class="ui-badge">২,২৬৩</span></span></a></li>
															<li class="ui-link-tree-item  loc-1194"><a
																href="/bn/ads/rangpur-division"><span class="text">রংপুর
																		বিভাগ<span class="ui-badge">১,৬০৩</span>
																</span></a></li>
															<li class="ui-link-tree-item  loc-2001000"><a
																href="/bn/ads/rajshahi"><span class="text">রাজশাহী<span
																		class="ui-badge">৪,০২৭</span></span></a></li>
															<li class="ui-link-tree-item  loc-1185"><a
																href="/bn/ads/rajshahi-division"><span class="text">রাজশাহী
																		বিভাগ<span class="ui-badge">৪,৫০৮</span>
																</span></a></li>
															<li class="ui-link-tree-item  loc-1170"><a
																href="/bn/ads/sylhet-division"><span class="text">সিলেট
																		বিভাগ<span class="ui-badge">১,৪৮৬</span>
																</span></a></li>
															<li class="ui-link-tree-item is-opener"><a><span
																	class="icon"><svg class="ui-icon i-add">
																			<use xlink:href="#i-add"></use></svg></span><span class="text">আরও
																		দেখান...</span></a></li>
														</ul></li>
												</ul>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-12 lg-9">
						<div class="ui-panel is-transparent serp-results">
							<div class="ui-panel-content ui-panel-block">
								<div class="row">
									<div class="col-12">
										<div class="serp-summary">
											<nav class="ui-crumbs">
												<ol itemscope="itemscope"
													itemtype="http://schema.org/BreadcrumbList">
													<li itemprop="itemListElement" itemscope="itemscope"
														itemtype="http://schema.org/ListItem"
														class="ui-crumb breadcrumb"><a href="/"
														itemprop="item"><span itemprop="name">হোমপেজ</span>
														<meta itemprop="position" content="1"></a></li>
													<li itemprop="itemListElement" itemscope="itemscope"
														itemtype="http://schema.org/ListItem"
														class="ui-crumb breadcrumb"><a href="/bn/ads"
														itemprop="item" class="disable-link"><span
															itemprop="name">সকল বিজ্ঞাপন মধ্যে বাংলাদেশ</span>
														<meta itemprop="position" content="2"></a></li>
												</ol>
											</nav>
											<div>
												<span class="t-small summary-count">২০৯,০৮৫ টি
													বিজ্ঞাপনের মধ্যে ১-২৫ টি দেখাচ্ছে</span>
											</div>
											<h1 class="header-tag">এডগুলো মধ্যে বাংলাদেশ</h1>
											<script>
												gtmData
														.push({
															"Ad ID" : [
																	"5c3b285b5c0b66000199e391",
																	"5c3b28435fe7c2000194d4ea",
																	"5c3b2855a6b9c4000164bb9d",
																	"5c3b2838da9da500017d8a7a",
																	"5c3b2907acbc480001ec699a",
																	"5c3b27ffa6b9c4000164bb91",
																	"5c3b29002bc45500019eb019",
																	"5c3b28222bc45500019eafed",
																	"5c3b283699438c00011bc5fb",
																	"5c3b2821ca1c6400012e5ff5" ],
															"Category" : "All Categories",
															"Category Key" : "all_categories",
															"Category ID" : 0,
															"L1 Location" : "All Locations",
															"L1 Location ID" : 0,
															"Language" : "BN"
														});
											</script>
										</div>
									</div>
								</div>
								<div class="row lg-g">
									<div class="col-12 lg-9">
										<div class="serp-items">
											<div class="ui-item is-top">
												<div class="item-thumb has-frames">
													<a
														href="/bn/ad/xiaomi-redmi-note-3-2-16-gb-new-for-sale-dhaka-1"><img
														alt="মোবাইল ফোন-ঢাকা - Xiaomi Redmi Note 3 2/16 GB (New)"
														title="Xiaomi Redmi Note 3 2/16 GB (New)"
														srcset="//i.bikroy-st.com/f2f91d12-657b-4578-aeb6-7215bf4fe03d/160/120/cropped.jpg 1x, //i.bikroy-st.com/f2f91d12-657b-4578-aeb6-7215bf4fe03d/320/240/cropped.jpg 1.3x"></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/xiaomi-redmi-note-3-2-16-gb-new-for-sale-dhaka-1"
														class="item-title h4">Xiaomi Redmi Note 3 2/16 GB
														(New)</a>
													<p class="item-location">
														<span class="poster"><span
															class="ui-bubble is-member verified">সদস্য</span></span><span
															class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">মোবাইল ফোন</span>
													</p>
													<p class="item-info">
														<strong>৳ ৭,২০০</strong>
													</p>
												</div>
												<div class="item-extras">
													<a href="/bn/promotions" class="item-promotion"><img
														srcset="https://w.bikroy-st.com/dist/img/all/products/18/topad-1x-bb475439.png 1x, https://w.bikroy-st.com/dist/img/all/products/18/topad-2x-b8940959.png 1.3x"
														width="18" height="18"><span>টপ অ্যাড</span></a>
													<script type="application/ld+json">{
	"name": "Xiaomi Redmi Note 3 2/16 GB (New)",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "৭,২০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/xiaomi-redmi-note-3-2-16-gb-new-for-sale-dhaka-1"
}</script>
												</div>
											</div>
											<div class="ui-item is-top">
												<div class="item-thumb has-frames">
													<a
														href="/bn/ad/uttrkhaan-e-nyynaabhiraam-baagaanbaarri-for-sale-dhaka"><img
														alt="বাড়ি-ঢাকা - উত্তরখান এ নয়নাভিরাম বাগানবাড়ি"
														title="উত্তরখান এ নয়নাভিরাম বাগানবাড়ি"
														srcset="//i.bikroy-st.com/007fda9f-139b-40a3-b10b-1840ec30dbbd/160/120/cropped.jpg 1x, //i.bikroy-st.com/007fda9f-139b-40a3-b10b-1840ec30dbbd/320/240/cropped.jpg 1.3x"></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/uttrkhaan-e-nyynaabhiraam-baagaanbaarri-for-sale-dhaka"
														class="item-title h4">উত্তরখান এ নয়নাভিরাম বাগানবাড়ি</a>
													<p class="item-meta">
														<span>বেড: ৩</span><span>, বাথ: ৩</span>
													</p>
													<p class="item-location">
														<span class="ui-bubble is-member">সদস্য</span><span
															class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">বাড়ি</span>
													</p>
													<p class="item-info">
														<strong>৳ ২,৫০,০০,০০০</strong>
													</p>
												</div>
												<div class="item-extras">
													<a href="/bn/promotions" class="item-promotion"><img
														srcset="https://w.bikroy-st.com/dist/img/all/products/18/topad-1x-bb475439.png 1x, https://w.bikroy-st.com/dist/img/all/products/18/topad-2x-b8940959.png 1.3x"
														width="18" height="18"><span>টপ অ্যাড</span></a>
													<script type="application/ld+json">{
	"name": "উত্তরখান এ নয়নাভিরাম বাগানবাড়ি",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "২,৫০,০০,০০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/uttrkhaan-e-nyynaabhiraam-baagaanbaarri-for-sale-dhaka"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a href="/bn/ad/oppo-a37fw-black-used-for-sale-dhaka-68"><img
														alt="মোবাইল ফোন-ঢাকা - OPPO A37fw Black (Used)"
														title="OPPO A37fw Black (Used)"
														srcset="//i.bikroy-st.com/0d318ae9-12a1-4eb4-b833-45daaf9c73f4/136/102/cropped.jpg 1x, //i.bikroy-st.com/0d318ae9-12a1-4eb4-b833-45daaf9c73f4/272/204/cropped.jpg 1.3x"></a>
												</div>
												<div class="item-content">
													<a href="/bn/ad/oppo-a37fw-black-used-for-sale-dhaka-68"
														class="item-title h4">OPPO A37fw Black (Used)</a>
													<p class="item-location">
														<span class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">মোবাইল ফোন</span>
													</p>
													<p class="item-info">
														<strong>৳ ৫,৯৯৯</strong>
													</p>
												</div>
												<div class="item-date">এইমাত্র</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "OPPO A37fw Black (Used)",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "৫,৯৯৯",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/oppo-a37fw-black-used-for-sale-dhaka-68"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a href="/bn/ad/toyota-allion-2009-for-sale-dhaka-837"><img
														alt="গাড়ি-ঢাকা - Toyota Allion 2009"
														title="Toyota Allion 2009"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
														srcset="//i.bikroy-st.com/5f578b90-a991-462e-8c99-c66c9255c607/136/102/cropped.jpg 1x, //i.bikroy-st.com/5f578b90-a991-462e-8c99-c66c9255c607/272/204/cropped.jpg 1.3x"></a>
												</div>
												<div class="item-content">
													<a href="/bn/ad/toyota-allion-2009-for-sale-dhaka-837"
														class="item-title h4">Toyota Allion 2009</a>
													<p class="item-meta">
														<span>৭২,০০০ কিমি</span>
													</p>
													<p class="item-location">
														<span class="ui-bubble is-member">সদস্য</span><span
															class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">গাড়ি</span>
													</p>
													<p class="item-info">
														<strong>৳ ১৭,৬০,০০০</strong>
													</p>
												</div>
												<div class="item-date">এইমাত্র</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Toyota Allion 2009",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "১৭,৬০,০০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/toyota-allion-2009-for-sale-dhaka-837"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a href="/bn/ad/samsung-st72-for-sale-dhaka-46"><img
														data-srcset="//i.bikroy-st.com/5a1762fe-8eed-405a-9dd9-7f3ec5b10a8d/136/102/cropped.jpg 1x, //i.bikroy-st.com/5a1762fe-8eed-405a-9dd9-7f3ec5b10a8d/272/204/cropped.jpg 1.3x"
														alt="ক্যামেরা, ক্যামকর্ডার ও এক্সেসরিজ-ঢাকা - Samsung ST72"
														title="Samsung ST72"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a href="/bn/ad/samsung-st72-for-sale-dhaka-46"
														class="item-title h4">Samsung ST72</a>
													<p class="item-location">
														<span class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">ক্যামেরা, ক্যামকর্ডার ও এক্সেসরিজ</span>
													</p>
													<p class="item-info">
														<strong>৳ ২,৫০০</strong>
													</p>
												</div>
												<div class="item-date">এইমাত্র</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Samsung ST72",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "২,৫০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/samsung-st72-for-sale-dhaka-46"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb">
													<a
														href="/bn/ad/aabir-phyaashn-embryyddaari-thrii-pij-for-sale-dhaka"><img
														data-srcset="//i.bikroy-st.com/36c75c39-a668-4cbb-8382-0112c8606f88/136/102/cropped.jpg 1x, //i.bikroy-st.com/36c75c39-a668-4cbb-8382-0112c8606f88/272/204/cropped.jpg 1.3x"
														alt="নারীদের পোশাক ও এক্সেসরিজ-ঢাকা - আবির ফ্যাশন এমব্রয়ডারি থ্রী পিজ"
														title="আবির ফ্যাশন এমব্রয়ডারি থ্রী পিজ"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/aabir-phyaashn-embryyddaari-thrii-pij-for-sale-dhaka"
														class="item-title h4">আবির ফ্যাশন এমব্রয়ডারি থ্রী পিজ</a>
													<p class="item-location">
														<span class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">নারীদের পোশাক ও এক্সেসরিজ</span>
													</p>
													<p class="item-info">
														<strong>৳ ১,৬০০</strong>
													</p>
												</div>
												<div class="item-date">এইমাত্র</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "আবির ফ্যাশন এমব্রয়ডারি থ্রী পিজ",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "১,৬০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/aabir-phyaashn-embryyddaari-thrii-pij-for-sale-dhaka"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb">
													<a
														href="/bn/ad/new-dual-core-computer-hdd1tb-4gb17-led-for-sale-rajshahi-1"><img
														data-srcset="//i.bikroy-st.com/de541ded-44b8-400d-a2c0-8d6a70109b3d/136/102/cropped.jpg 1x, //i.bikroy-st.com/de541ded-44b8-400d-a2c0-8d6a70109b3d/272/204/cropped.jpg 1.3x"
														alt="ল্যাপটপ ও কম্পিউটার-রাজশাহী - New Dual Core Computer-HDD1TB\4GB+17&quot; LED"
														title="New Dual Core Computer-HDD1TB\4GB+17&quot; LED"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/new-dual-core-computer-hdd1tb-4gb17-led-for-sale-rajshahi-1"
														class="item-title h4">New Dual Core
														Computer-HDD1TB\4GB+17" LED</a>
													<p class="item-location">
														<span class="ui-bubble is-member">সদস্য</span><span
															class="item-area">রাজশাহী</span><span>, </span><span
															class="item-cat">ল্যাপটপ ও কম্পিউটার</span>
													</p>
													<p class="item-info">
														<strong>৳ ১২,৫০০</strong>
													</p>
												</div>
												<div class="item-date">এইমাত্র</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "New Dual Core Computer-HDD1TB\4GB+17&quot; LED",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "১২,৫০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/new-dual-core-computer-hdd1tb-4gb17-led-for-sale-rajshahi-1"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a
														href="/bn/ad/brand-new-akg-headphone-original-for-sale-dhaka"><img
														data-srcset="//i.bikroy-st.com/a678e6d7-8a90-4d5b-97ae-f4e20a327da5/136/102/cropped.jpg 1x, //i.bikroy-st.com/a678e6d7-8a90-4d5b-97ae-f4e20a327da5/272/204/cropped.jpg 1.3x"
														alt="অডিও ও সাউন্ড সিস্টেম-ঢাকা - Brand new AKG Headphone Original"
														title="Brand new AKG Headphone Original"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/brand-new-akg-headphone-original-for-sale-dhaka"
														class="item-title h4">Brand new AKG Headphone Original</a>
													<p class="item-location">
														<span class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">অডিও ও সাউন্ড সিস্টেম</span>
													</p>
													<p class="item-info">
														<strong>৳ ১,০০০</strong>
													</p>
												</div>
												<div class="item-date">এইমাত্র</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Brand new AKG Headphone Original",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "১,০০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/brand-new-akg-headphone-original-for-sale-dhaka"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a
														href="/bn/ad/samsung-galaxy-j7-prime-2018-used-for-sale-khulna-39"><img
														data-srcset="//i.bikroy-st.com/65b9b42a-ac60-4601-9f6f-49e7fe6a5e9f/136/102/cropped.jpg 1x, //i.bikroy-st.com/65b9b42a-ac60-4601-9f6f-49e7fe6a5e9f/272/204/cropped.jpg 1.3x"
														alt="মোবাইল ফোন-খুলনা - Samsung Galaxy J7 Prime 2018 (Used)"
														title="Samsung Galaxy J7 Prime 2018 (Used)"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/samsung-galaxy-j7-prime-2018-used-for-sale-khulna-39"
														class="item-title h4">Samsung Galaxy J7 Prime 2018
														(Used)</a>
													<p class="item-location">
														<span class="item-area">খুলনা</span><span>, </span><span
															class="item-cat">মোবাইল ফোন</span>
													</p>
													<p class="item-info">
														<strong>৳ ৭,৫০০</strong>
													</p>
												</div>
												<div class="item-date">এইমাত্র</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Samsung Galaxy J7 Prime 2018 (Used)",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "৭,৫০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/samsung-galaxy-j7-prime-2018-used-for-sale-khulna-39"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a
														href="/bn/ad/plot-for-sales-navana-in-purbachal-for-sale-dhaka"><img
														data-srcset="//i.bikroy-st.com/858864a2-2b1a-42c8-b67a-b4446d45bef2/136/102/cropped.jpg 1x, //i.bikroy-st.com/858864a2-2b1a-42c8-b67a-b4446d45bef2/272/204/cropped.jpg 1.3x"
														alt="প্লট ও জমি-ঢাকা - plot for sales @Navana in purbachal"
														title="plot for sales @Navana in purbachal"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/plot-for-sales-navana-in-purbachal-for-sale-dhaka"
														class="item-title h4">plot for sales @Navana in
														purbachal</a>
													<p class="item-meta">
														<span>৫.০ কাঠা </span>
													</p>
													<p class="item-location">
														<span class="ui-bubble is-member">সদস্য</span><span
															class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">প্লট ও জমি</span>
													</p>
													<p class="item-info">
														<strong>৳ ১৩,০০,০০০ প্রতি কাঠা</strong>
													</p>
												</div>
												<div class="item-date">এইমাত্র</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "plot for sales @Navana in purbachal",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "১৩,০০,০০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/plot-for-sales-navana-in-purbachal-for-sale-dhaka"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a href="/bn/ad/symphony-v75-1-gb-8-gb-used-for-sale-dhaka"><img
														data-srcset="//i.bikroy-st.com/81962fb6-70bd-4400-ad14-af720895be87/136/102/cropped.jpg 1x, //i.bikroy-st.com/81962fb6-70bd-4400-ad14-af720895be87/272/204/cropped.jpg 1.3x"
														alt="মোবাইল ফোন-ঢাকা - Symphony V75 1 gb/8 gb (Used)"
														title="Symphony V75 1 gb/8 gb (Used)"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a href="/bn/ad/symphony-v75-1-gb-8-gb-used-for-sale-dhaka"
														class="item-title h4">Symphony V75 1 gb/8 gb (Used)</a>
													<p class="item-location">
														<span class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">মোবাইল ফোন</span>
													</p>
													<p class="item-info">
														<strong>৳ ২,৯০০</strong>
													</p>
												</div>
												<div class="item-date">১ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Symphony V75 1 gb/8 gb (Used)",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "২,৯০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/symphony-v75-1-gb-8-gb-used-for-sale-dhaka"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a
														href="/bn/ad/asus-a45v-i5-3230m-4gb-500gb-hdd-250ghz-for-sale-chattogram"><img
														data-srcset="//i.bikroy-st.com/29da1e02-5b38-46b7-9fa4-ca9253e9627e/136/102/cropped.jpg 1x, //i.bikroy-st.com/29da1e02-5b38-46b7-9fa4-ca9253e9627e/272/204/cropped.jpg 1.3x"
														alt="ল্যাপটপ ও কম্পিউটার-চট্টগ্রাম - Asus A45V i5-3230M 4GB-500GB HDD 2.50GHz"
														title="Asus A45V i5-3230M 4GB-500GB HDD 2.50GHz"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/asus-a45v-i5-3230m-4gb-500gb-hdd-250ghz-for-sale-chattogram"
														class="item-title h4">Asus A45V i5-3230M 4GB-500GB HDD
														2.50GHz</a>
													<p class="item-location">
														<span class="ui-bubble is-member">সদস্য</span><span
															class="item-area">চট্টগ্রাম</span><span>, </span><span
															class="item-cat">ল্যাপটপ ও কম্পিউটার</span>
													</p>
													<p class="item-info">
														<strong>৳ ২৪,০০০</strong>
													</p>
												</div>
												<div class="item-date">১ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Asus A45V i5-3230M 4GB-500GB HDD 2.50GHz",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "২৪,০০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/asus-a45v-i5-3230m-4gb-500gb-hdd-250ghz-for-sale-chattogram"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb">
													<a
														href="/bn/ad/320gb-4gb-dual-core-with-samsung-22-led-for-sale-dhaka"><img
														data-srcset="//i.bikroy-st.com/e2102cf8-5873-4e2c-9c87-f69d9b6e9396/136/102/cropped.jpg 1x, //i.bikroy-st.com/e2102cf8-5873-4e2c-9c87-f69d9b6e9396/272/204/cropped.jpg 1.3x"
														alt="ল্যাপটপ ও কম্পিউটার-ঢাকা - 320GB + 4GB Dual Core With Samsung 22&quot; LED"
														title="320GB + 4GB Dual Core With Samsung 22&quot; LED"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/320gb-4gb-dual-core-with-samsung-22-led-for-sale-dhaka"
														class="item-title h4">320GB + 4GB Dual Core With
														Samsung 22" LED</a>
													<p class="item-location">
														<span class="ui-bubble is-member">সদস্য</span><span
															class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">ল্যাপটপ ও কম্পিউটার</span>
													</p>
													<p class="item-info">
														<strong>৳ ৬,৪৯৯</strong>
													</p>
												</div>
												<div class="item-date">১ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "320GB + 4GB Dual Core With Samsung 22&quot; LED",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "৬,৪৯৯",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/320gb-4gb-dual-core-with-samsung-22-led-for-sale-dhaka"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb">
													<a href="/bn/ad/oven-nokia-for-sale-dhaka"><img
														data-srcset="//i.bikroy-st.com/d0feae1f-b54f-4f8e-bdce-76973ad15e1c/136/102/cropped.jpg 1x, //i.bikroy-st.com/d0feae1f-b54f-4f8e-bdce-76973ad15e1c/272/204/cropped.jpg 1.3x"
														alt="হোম এপ্লায়েন্স-ঢাকা - Oven (Nokia)"
														title="Oven (Nokia)"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a href="/bn/ad/oven-nokia-for-sale-dhaka"
														class="item-title h4">Oven (Nokia)</a>
													<p class="item-location">
														<span class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">হোম এপ্লায়েন্স</span>
													</p>
													<p class="item-info">
														<strong>৳ ২০,০০০</strong>
													</p>
												</div>
												<div class="item-date">১ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Oven (Nokia)",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "২০,০০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/oven-nokia-for-sale-dhaka"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a
														href="/bn/ad/samsung-galaxy-j3-5-maas-bybhrt-used-for-sale-mymensingh"><img
														data-srcset="//i.bikroy-st.com/408be74d-f043-4210-a1ab-37ae3d69948c/136/102/cropped.jpg 1x, //i.bikroy-st.com/408be74d-f043-4210-a1ab-37ae3d69948c/272/204/cropped.jpg 1.3x"
														alt="মোবাইল ফোন-ময়মনসিংহ - Samsung Galaxy J3 ৫ মাস ব্যবহৃত (Used)"
														title="Samsung Galaxy J3 ৫ মাস ব্যবহৃত (Used)"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/samsung-galaxy-j3-5-maas-bybhrt-used-for-sale-mymensingh"
														class="item-title h4">Samsung Galaxy J3 ৫ মাস ব্যবহৃত
														(Used)</a>
													<p class="item-location">
														<span class="item-area">ময়মনসিংহ</span><span>, </span><span
															class="item-cat">মোবাইল ফোন</span>
													</p>
													<p class="item-info">
														<strong>৳ ৬,০০০</strong>
													</p>
												</div>
												<div class="item-date">১ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Samsung Galaxy J3 ৫ মাস ব্যবহৃত (Used)",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "৬,০০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/samsung-galaxy-j3-5-maas-bybhrt-used-for-sale-mymensingh"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a href="/bn/ad/sony-hear-in-2-earphone-for-sale-dhaka"><img
														data-srcset="//i.bikroy-st.com/c646438a-8225-468f-8f79-bc6b8b092b47/136/102/cropped.jpg 1x, //i.bikroy-st.com/c646438a-8225-468f-8f79-bc6b8b092b47/272/204/cropped.jpg 1.3x"
														alt="অডিও ও সাউন্ড সিস্টেম-ঢাকা - Sony H.ear In 2 Earphone"
														title="Sony H.ear In 2 Earphone"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a href="/bn/ad/sony-hear-in-2-earphone-for-sale-dhaka"
														class="item-title h4">Sony H.ear In 2 Earphone</a>
													<p class="item-location">
														<span class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">অডিও ও সাউন্ড সিস্টেম</span>
													</p>
													<p class="item-info">
														<strong>৳ ২,৩০০</strong>
													</p>
												</div>
												<div class="item-date">১ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Sony H.ear In 2 Earphone",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "২,৩০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/sony-hear-in-2-earphone-for-sale-dhaka"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a href="/bn/ad/sindhi-gaabhi-for-sale-dhaka-division"><img
														data-srcset="//i.bikroy-st.com/84e32ee7-9c61-4d52-9f00-e35cef5c230d/136/102/cropped.jpg 1x, //i.bikroy-st.com/84e32ee7-9c61-4d52-9f00-e35cef5c230d/272/204/cropped.jpg 1.3x"
														alt="গবাদি পশু-ঢাকা বিভাগ - সিন্ধি গাভি"
														title="সিন্ধি গাভি"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a href="/bn/ad/sindhi-gaabhi-for-sale-dhaka-division"
														class="item-title h4">সিন্ধি গাভি</a>
													<p class="item-location">
														<span class="item-area">ঢাকা বিভাগ</span><span>, </span><span
															class="item-cat">গবাদি পশু</span>
													</p>
													<p class="item-info">
														<strong>৳ ১,৪০,০০০</strong>
													</p>
												</div>
												<div class="item-date">১ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "সিন্ধি গাভি",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "১,৪০,০০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/sindhi-gaabhi-for-sale-dhaka-division"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a href="/bn/ad/spiderman-ddres-phr-kidds-for-sale-dhaka-2"><img
														data-srcset="//i.bikroy-st.com/e66d3fa6-d199-4c4d-811d-a6a2f8c8595a/136/102/cropped.jpg 1x, //i.bikroy-st.com/e66d3fa6-d199-4c4d-811d-a6a2f8c8595a/272/204/cropped.jpg 1.3x"
														alt="বাচ্চাদের পোশাক ও এক্সেসরিজ-ঢাকা - Spiderman ড্রেস ফর কিডস"
														title="Spiderman ড্রেস ফর কিডস"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a href="/bn/ad/spiderman-ddres-phr-kidds-for-sale-dhaka-2"
														class="item-title h4">Spiderman ড্রেস ফর কিডস</a>
													<p class="item-location">
														<span class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">বাচ্চাদের পোশাক ও এক্সেসরিজ</span>
													</p>
													<p class="item-info">
														<strong>৳ ৭৯৯</strong>
													</p>
												</div>
												<div class="item-date">৩ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Spiderman ড্রেস ফর কিডস",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "৭৯৯",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/spiderman-ddres-phr-kidds-for-sale-dhaka-2"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a
														href="/bn/ad/queen-elsa-green-ksttium-phr-kidds-for-sale-dhaka-2"><img
														data-srcset="//i.bikroy-st.com/22a94d2c-dd8b-400e-b866-692c14e231e2/136/102/cropped.jpg 1x, //i.bikroy-st.com/22a94d2c-dd8b-400e-b866-692c14e231e2/272/204/cropped.jpg 1.3x"
														alt="বাচ্চাদের পোশাক ও এক্সেসরিজ-ঢাকা - Queen Elsa (Green) কস্টিউম ফর কিডস"
														title="Queen Elsa (Green) কস্টিউম ফর কিডস"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/queen-elsa-green-ksttium-phr-kidds-for-sale-dhaka-2"
														class="item-title h4">Queen Elsa (Green) কস্টিউম ফর
														কিডস</a>
													<p class="item-location">
														<span class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">বাচ্চাদের পোশাক ও এক্সেসরিজ</span>
													</p>
													<p class="item-info">
														<strong>৳ ১,৩৯৯</strong>
													</p>
												</div>
												<div class="item-date">৩ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Queen Elsa (Green) কস্টিউম ফর কিডস",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "১,৩৯৯",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/queen-elsa-green-ksttium-phr-kidds-for-sale-dhaka-2"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a
														href="/bn/ad/walton-primo-zx2-mini-silver-used-for-sale-chattogram"><img
														data-srcset="//i.bikroy-st.com/49b5791e-deb0-48d9-9d07-f968e0164f2c/136/102/cropped.jpg 1x, //i.bikroy-st.com/49b5791e-deb0-48d9-9d07-f968e0164f2c/272/204/cropped.jpg 1.3x"
														alt="মোবাইল ফোন-চট্টগ্রাম - Walton Primo ZX2 mini Silver (Used)"
														title="Walton Primo ZX2 mini Silver (Used)"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/walton-primo-zx2-mini-silver-used-for-sale-chattogram"
														class="item-title h4">Walton Primo ZX2 mini Silver
														(Used)</a>
													<p class="item-location">
														<span class="item-area">চট্টগ্রাম</span><span>, </span><span
															class="item-cat">মোবাইল ফোন</span>
													</p>
													<p class="item-info">
														<strong>৳ ৫,২০০</strong>
													</p>
												</div>
												<div class="item-date">৩ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Walton Primo ZX2 mini Silver (Used)",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "৫,২০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/walton-primo-zx2-mini-silver-used-for-sale-chattogram"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a
														href="/bn/ad/apple-iphone-4s-32gb-original-boxed-new-for-sale-dhaka-11"><img
														data-srcset="//i.bikroy-st.com/a7fa64ff-2618-41a1-9301-21bacffd0a1d/136/102/cropped.jpg 1x, //i.bikroy-st.com/a7fa64ff-2618-41a1-9301-21bacffd0a1d/272/204/cropped.jpg 1.3x"
														alt="মোবাইল ফোন-ঢাকা - Apple iPhone 4S 32GB Original Boxed (New)"
														title="Apple iPhone 4S 32GB Original Boxed (New)"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/apple-iphone-4s-32gb-original-boxed-new-for-sale-dhaka-11"
														class="item-title h4">Apple iPhone 4S 32GB Original
														Boxed (New)</a>
													<p class="item-location">
														<span class="ui-bubble is-member">সদস্য</span><span
															class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">মোবাইল ফোন</span>
													</p>
													<p class="item-info">
														<strong>৳ ৫,৪০০</strong>
													</p>
												</div>
												<div class="item-date">৩ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Apple iPhone 4S 32GB Original Boxed (New)",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "৫,৪০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/apple-iphone-4s-32gb-original-boxed-new-for-sale-dhaka-11"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb">
													<a
														href="/bn/ad/new-core-i7led-22hpram8gbhd1000gb-for-sale-dhaka-10"><img
														data-srcset="//i.bikroy-st.com/b50cf689-eda4-4fb1-9634-35caef3cd287/136/102/cropped.jpg 1x, //i.bikroy-st.com/b50cf689-eda4-4fb1-9634-35caef3cd287/272/204/cropped.jpg 1.3x"
														alt="ল্যাপটপ ও কম্পিউটার-ঢাকা - NEW CORE i7+LED 22''HP''RAM+8GB+HD1000GB"
														title="NEW CORE i7+LED 22''HP''RAM+8GB+HD1000GB"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/new-core-i7led-22hpram8gbhd1000gb-for-sale-dhaka-10"
														class="item-title h4">NEW CORE i7+LED
														22''HP''RAM+8GB+HD1000GB</a>
													<p class="item-location">
														<span class="ui-bubble is-member">সদস্য</span><span
															class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">ল্যাপটপ ও কম্পিউটার</span>
													</p>
													<p class="item-info">
														<strong>৳ ২২,৫০০</strong>
													</p>
												</div>
												<div class="item-date">৩ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "NEW CORE i7+LED 22''HP''RAM+8GB+HD1000GB",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "২২,৫০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/new-core-i7led-22hpram8gbhd1000gb-for-sale-dhaka-10"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a
														href="/bn/ad/sony-bravia-40w660e-smart-hdr-led-tv-for-sale-dhaka"><img
														data-srcset="//i.bikroy-st.com/169464b8-c416-4b88-b132-02d206211e44/136/102/cropped.jpg 1x, //i.bikroy-st.com/169464b8-c416-4b88-b132-02d206211e44/272/204/cropped.jpg 1.3x"
														alt="টিভি-ঢাকা - Sony Bravia 40W660E Smart HDR LED TV"
														title="Sony Bravia 40W660E Smart HDR LED TV"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/sony-bravia-40w660e-smart-hdr-led-tv-for-sale-dhaka"
														class="item-title h4">Sony Bravia 40W660E Smart HDR
														LED TV</a>
													<p class="item-location">
														<span class="ui-bubble is-member">সদস্য</span><span
															class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">টিভি</span>
													</p>
													<p class="item-info">
														<strong>৳ ৩৭,৫০০</strong>
													</p>
												</div>
												<div class="item-date">৩ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Sony Bravia 40W660E Smart HDR LED TV",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "৩৭,৫০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/sony-bravia-40w660e-smart-hdr-led-tv-for-sale-dhaka"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb">
													<a
														href="/bn/ad/ntun-core-i5-1000gb-4gb-cpu-20-lg-led-for-sale-dhaka"><img
														data-srcset="//i.bikroy-st.com/7f46968d-d536-4204-b947-65e02224ec63/136/102/cropped.jpg 1x, //i.bikroy-st.com/7f46968d-d536-4204-b947-65e02224ec63/272/204/cropped.jpg 1.3x"
														alt="ল্যাপটপ ও কম্পিউটার-ঢাকা - নতুন Core i5_1000GB 4GB CPU_20&quot; LG LED"
														title="নতুন Core i5_1000GB 4GB CPU_20&quot; LG LED"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/ntun-core-i5-1000gb-4gb-cpu-20-lg-led-for-sale-dhaka"
														class="item-title h4">নতুন Core i5_1000GB 4GB CPU_20"
														LG LED</a>
													<p class="item-location">
														<span class="ui-bubble is-member">সদস্য</span><span
															class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">ল্যাপটপ ও কম্পিউটার</span>
													</p>
													<p class="item-info">
														<strong>৳ ১১,৫৫৫</strong>
													</p>
												</div>
												<div class="item-date">৩ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "নতুন Core i5_1000GB 4GB CPU_20&quot; LG LED",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "১১,৫৫৫",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/ntun-core-i5-1000gb-4gb-cpu-20-lg-led-for-sale-dhaka"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a
														href="/bn/ad/symphony-v42-used-for-sale-mymensingh-division"><img
														data-srcset="//i.bikroy-st.com/62b47e9e-2f9b-4e8e-85d1-75453e8c56c4/136/102/cropped.jpg 1x, //i.bikroy-st.com/62b47e9e-2f9b-4e8e-85d1-75453e8c56c4/272/204/cropped.jpg 1.3x"
														alt="মোবাইল ফোন-ময়মনসিংহ বিভাগ - Symphony V42 (Used)"
														title="Symphony V42 (Used)"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/symphony-v42-used-for-sale-mymensingh-division"
														class="item-title h4">Symphony V42 (Used)</a>
													<p class="item-location">
														<span class="item-area">ময়মনসিংহ বিভাগ</span><span>,
														</span><span class="item-cat">মোবাইল ফোন</span>
													</p>
													<p class="item-info">
														<strong>৳ ২,০০০</strong>
													</p>
												</div>
												<div class="item-date">৩ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Symphony V42 (Used)",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "২,০০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/symphony-v42-used-for-sale-mymensingh-division"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb">
													<a
														href="/bn/ad/smart-tv-sony-bravia-w660f-43-inch-full-hd-x-reality-for-sale-dhaka"><img
														data-srcset="//i.bikroy-st.com/4089c9ce-6b73-4dbe-b295-7825c25daae7/136/102/cropped.jpg 1x, //i.bikroy-st.com/4089c9ce-6b73-4dbe-b295-7825c25daae7/272/204/cropped.jpg 1.3x"
														alt="টিভি-ঢাকা - Smart TV Sony Bravia W660F 43 inch full HD X-Reality"
														title="Smart TV Sony Bravia W660F 43 inch full HD X-Reality"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/smart-tv-sony-bravia-w660f-43-inch-full-hd-x-reality-for-sale-dhaka"
														class="item-title h4">Smart TV Sony Bravia W660F 43
														inch full HD X-Reality</a>
													<p class="item-location">
														<span class="ui-bubble is-member">সদস্য</span><span
															class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">টিভি</span>
													</p>
													<p class="item-info">
														<strong>৳ ৪২,৪০০</strong>
													</p>
												</div>
												<div class="item-date">৩ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Smart TV Sony Bravia W660F 43 inch full HD X-Reality",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "৪২,৪০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/smart-tv-sony-bravia-w660f-43-inch-full-hd-x-reality-for-sale-dhaka"
}</script>
												</div>
											</div>
											<div class="ui-item">
												<div class="item-thumb has-frames">
													<a
														href="/bn/ad/apple-iphone-7-128gb-black-used-for-sale-dhaka-20"><img
														data-srcset="//i.bikroy-st.com/f4cfab85-6867-4dc2-b070-2d631ea3c338/136/102/cropped.jpg 1x, //i.bikroy-st.com/f4cfab85-6867-4dc2-b070-2d631ea3c338/272/204/cropped.jpg 1.3x"
														alt="মোবাইল ফোন-ঢাকা - Apple iPhone 7 128GB Black (Used)"
														title="Apple iPhone 7 128GB Black (Used)"
														src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="></a>
												</div>
												<div class="item-content">
													<a
														href="/bn/ad/apple-iphone-7-128gb-black-used-for-sale-dhaka-20"
														class="item-title h4">Apple iPhone 7 128GB Black
														(Used)</a>
													<p class="item-location">
														<span class="ui-bubble is-member">সদস্য</span><span
															class="item-area">ঢাকা</span><span>, </span><span
															class="item-cat">মোবাইল ফোন</span>
													</p>
													<p class="item-info">
														<strong>৳ ২৮,৫০০</strong>
													</p>
												</div>
												<div class="item-date">৩ মিনিট</div>
												<div class="item-extras">
													<script type="application/ld+json">{
	"name": "Apple iPhone 7 128GB Black (Used)",
	"@context": "http://schema.org",
	"@type": "Offer",
	"availability": "http://schema.org/InStock",
	"price": "২৮,৫০০",
	"priceCurrency": "৳",
	"url": "http://bikroy.com/bn/ad/apple-iphone-7-128gb-black-used-for-sale-dhaka-20"
}</script>
												</div>
											</div>
										</div>
									</div>
									<div class="col-12 lg-3 sticky">
										<div
											class="ui-panel is-transparent serp-banner is-skyscraper no-pad">
											<div class="ui-panel-content ui-panel-block">
												<div id="div-gpt-ad-1524219024864-123"
													style="height: 600px; width: 160px;"
													data-google-query-id="CLa069Db6t8CFc6BcAodz_YMSg">
													<script>
														googletag.cmd
																.push(function() {
																	googletag
																			.display('div-gpt-ad-1524219024864-123');
																});
													</script>
													<div
														id="google_ads_iframe_/134461134/Bikroy_BN_Desktop_SERP_160x600_Firstlistingpage_All_0__container__"
														style="border: 0pt none;">
														<iframe
															id="google_ads_iframe_/134461134/Bikroy_BN_Desktop_SERP_160x600_Firstlistingpage_All_0"
															title="3rd party ad content"
															name="google_ads_iframe_/134461134/Bikroy_BN_Desktop_SERP_160x600_Firstlistingpage_All_0"
															scrolling="no" marginwidth="0" marginheight="0"
															style="border: 0px none; vertical-align: bottom;"
															srcdoc="" data-google-container-id="2"
															data-load-complete="true" width="160" height="600"
															frameborder="0"></iframe>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="serp-banner lower-board t-center">
					<div id="div-gpt-ad-1524219024864-158"
						style="height: 90px; width: 970px;"
						data-google-query-id="CLe069Db6t8CFc6BcAodz_YMSg">
						<script>
							googletag.cmd
									.push(function() {
										googletag
												.display('div-gpt-ad-1524219024864-158');
									});
						</script>
						<div
							id="google_ads_iframe_/134461134/Bikroy_BN_Desktop_SERPbottom_970x90_Firstlistingpage_All_0__container__"
							style="border: 0pt none;">
							<iframe
								id="google_ads_iframe_/134461134/Bikroy_BN_Desktop_SERPbottom_970x90_Firstlistingpage_All_0"
								title="3rd party ad content"
								name="google_ads_iframe_/134461134/Bikroy_BN_Desktop_SERPbottom_970x90_Firstlistingpage_All_0"
								scrolling="no" marginwidth="0" marginheight="0"
								style="border: 0px none; vertical-align: bottom;" srcdoc=""
								data-google-container-id="3" data-load-complete="true"
								width="970" height="90" frameborder="0"></iframe>
						</div>
					</div>
				</div>
				<div class="row lg-g">
					<div class="col-12 lg-9">
						<div class="col-9 col-offset-4">
							<div class="ui-panel ui-pagination serp-pagination">
								<div class="ui-panel-content ui-panel-block">
									<div class="row lg-g">
										<div class="col-6 lg-3"></div>
										<div class="col-6 lg-6 pag-list">
											<span class="pag-number is-current">1</span><a
												href="/bn/ads?page=2" class="pag-number">2</a><a
												href="/bn/ads?page=3" class="pag-number">3</a><a
												href="/bn/ads?page=4" class="pag-number">4</a><a
												href="/bn/ads?page=5" class="pag-number">5</a><span
												class="pag-number is-ellipse">...</span>
										</div>
										<a href="/bn/ads?page=2" class="col-6 lg-3 pag-next"><span>পরবর্তী</span>
										<svg class="ui-icon i-arrow-r">
												<use xlink:href="#i-arrow-r"></use></svg></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="post-cta t-center">
		<p class="h1">বিক্রি করার জন্য আপনার কি কিছু আছে?</p>
		<p class="h3">Bikroy.com-এ আপনার বিজ্ঞাপন পোস্ট করুন।</p>
		<p class="gtm-postad">
			<svg class="ui-icon i-pointer-l">
				<use xlink:href="#i-pointer-l"></use></svg>
			<a class="ui-btn is-primary gtm-postad" href="/bn/post-ad"
				rel="nofollow">এখনই বিজ্ঞাপন পোস্ট করুন!</a>
			<svg class="ui-icon i-pointer-r">
				<use xlink:href="#i-pointer-r"></use></svg>
		</p>
	</div>
</div>