 <script type="text/javascript" src="/app/employee.controller.js"  th:src="@{/app/employee.controller.js}"></script>

 <script type="text/javascript" src="/app/testMenu.controller.js"  th:src="@{/app/testMenu.controller.js}"></script>

 <script type="text/javascript" src="/app/appUser.controller.js"  th:src="@{/app/appUser.controller.js}"></script>

 <script type="text/javascript" src="/app/employeeInfo.controller.js"  th:src="@{/app/employeeInfo.controller.js}"></script>

 <script type="text/javascript" src="/app/company.controller.js"  th:src="@{/app/company.controller.js}"></script>

 <script type="text/javascript" src="/app/appVisitorLog.controller.js"  th:src="@{/app/appVisitorLog.controller.js}"></script>