<script type="text/javascript" src="/static/app/common.controller.js"
	th:src="@{/app/common.controller.js}"></script>

<script type="text/javascript"
	src="/static/app/applicationTable.controller.js"
	th:src="@{/app/applicationTable.controller.js}"></script>

 <script type="text/javascript" src="/app/applicationComponent.controller.js"  th:src="@{/app/applicationComponent.controller.js}"></script>

 <!-- <script type="text/javascript" src="/app/userLogin.controller.js"  th:src="@{/app/userLogin.controller.js}"></script> -->

 <script type="text/javascript" src="/app/notification.controller.js"  th:src="@{/app/notification.controller.js}"></script>

 <script type="text/javascript" src="/app/userNotification.controller.js"  th:src="@{/app/userNotification.controller.js}"></script>

 <script type="text/javascript" src="/app/taskManagement.controller.js"  th:src="@{/app/taskManagement.controller.js}"></script>

 <script type="text/javascript" src="/app/userMessage.controller.js"  th:src="@{/app/userMessage.controller.js}"></script>

 <script type="text/javascript" src="/app/componentEntityMap.controller.js"  th:src="@{/app/componentEntityMap.controller.js}"></script>

 <script type="text/javascript" src="/app/appThemeFactory.controller.js"  th:src="@{/app/appThemeFactory.controller.js}"></script>

 <script type="text/javascript" src="/app/bootscaffDatabaseMap.controller.js"  th:src="@{/app/bootscaffDatabaseMap.controller.js}"></script>
 
 <script type="text/javascript" src="/app/smsNotifyInfo.controller.js"  th:src="@{/app/smsNotifyInfo.controller.js}"></script>
 <script type="text/javascript" src="/app/menu.controller.js"  th:src="@{/app/menu.controller.js}"></script>

 <script type="text/javascript" src="/app/userSmsNotifyDetails.controller.js"  th:src="@{/app/userSmsNotifyDetails.controller.js}"></script>

 <script type="text/javascript" src="/static/app/common.controller.js"
	th:src="@{/app/i18n.controller.js}"></script>