<div id="loadingDiv" style="display: none">
	<h1>Hello World!</h1>
</div>
<header ng-app="app" class="main-header"
	ng-controller="CommonAppController as vm">
	<!-- Logo -->
	<!-- <div class="icon">
			<i class="ion-ios-home-outline"></i>
	</div> -->
	<a href="../" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini"><b>Wingbangla</b>LLC</span> <!-- logo for regular state and mobile devices -->
		<span class="logo-lg"><b th:text="${appTitle} "> </b> Wingbangla
			LLC </span>
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top">
		<!-- Sidebar toggle button-->
		
		<!-- <div class="pull-center">
			<ul class="nav fixed navbar-nav">
				<li class="dropdown"><a href="#" style="font-size: 28px;">ABC
						Company Limited <i class="fa fa-cog" aria-hidden="true"></i>
				</a></li>
			</ul>
		</div> -->
		<div class="navbar-custom-menu"
			ng-init="vm.userMessages=[],vm.notifications=[],vm.taskManagements=[]">
			<ul class="nav navbar-nav">
				<li class="dropdown messages-menu"><input type="checkbox"
					ng-model="vm.isLoadNotifications" /></li>
				<!-- Messages: style can be found in dropdown.less-->
				<li class="dropdown messages-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="fa fa-envelope-o"></i> <span class="label label-success"
						th-text="0">{{vm.userMessageListByReceiverId.length}}</span>
				</a>
					<ul class="dropdown-menu">
						<li class="header" th-text="You have 0 messages">You have
							{{vm.userMessageListByReceiverId.length}} messages</li>
						<li>
							<!-- inner menu: contains the actual data -->
							<ul class="menu">
								<li>
									<div class="pull-left">
										<input class="btn btn-info" type="button"
											ng-click="vm.previousPage()" value="«" />
									</div>
									<div class="pull-right">
										<input class="btn btn-info" type="button"
											ng-click="vm.nextPage()" value="»" />
									</div>
								</li>
								<li><a href="#" style="text-align: center;">23
										September, 2017</a></li>

								<li ng-repeat="userMessage in vm.userMessageListByReceiverId">
									<a href="#">
										<div class="pull-left">
											<img src="/public/dist/img/profile_pic.png"
												class="img-circle" alt="User Image" />
										</div>
										<h4>
											{{userMessage.senderId}} <small><i
												class="fa fa-clock-o"></i> {{userMessage.createdDate}}</small>
										</h4>
										<p>{{userMessage.subject}}</p>
								</a>
								</li>
								<!-- <li>
									start message <a href="#">
										<div class="pull-left">
											<img src="/public/dist/img/profile_pic.png" class="img-circle"
												alt="User Image" />
										</div>
										<h4>
											Support Team <small><i class="fa fa-clock-o"></i> 5
												mins</small>
										</h4>
										<p>Why not buy a new awesome theme?</p>
								</a>
								</li>
								end message
								<li><a href="#">
										<div class="pull-left">
											<img src="/public/dist/img/profile_pic.png" class="img-circle"
												alt="User Image" />
										</div>
										<h4>
											AdminLTE Design Team <small><i class="fa fa-clock-o"></i>
												2 hours</small>
										</h4>
										<p>Why not buy a new awesome theme?</p>
								</a></li>
								<li><a href="#">
										<div class="pull-left">
											<img src="/public/dist/img/profile_pic.png" class="img-circle"
												alt="User Image" />
										</div>
										<h4>
											Developers <small><i class="fa fa-clock-o"></i> Today</small>
										</h4>
										<p>Why not buy a new awesome theme?</p>
								</a></li>
								<li><a href="#">
										<div class="pull-left">
											<img src="/public/dist/img/profile_pic.png" class="img-circle"
												alt="User Image" />
										</div>
										<h4>
											Sales Department <small><i class="fa fa-clock-o"></i>
												Yesterday</small>
										</h4>
										<p>Why not buy a new awesome theme?</p>
								</a></li>
								<li><a href="#">
										<div class="pull-left">
											<img src="/public/dist/img/profile_pic.png" class="img-circle"
												alt="User Image" />
										</div>
										<h4>
											Reviewers <small><i class="fa fa-clock-o"></i> 2 days</small>
										</h4>
										<p>Why not buy a new awesome theme?</p>
								</a></li> -->
							</ul>

						</li>

						<li class="footer"><a href="mailbox_starter">See All
								Messages</a></li>
					</ul></li>
				<!-- Notifications: style can be found in dropdown.less -->
				<li class="dropdown notifications-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="fa fa-bell-o"></i> <span class="label label-warning"
						th-text="0">{{vm.userNotificationListByUserName.length}}</span>
				</a>
					<ul class="dropdown-menu">
						<li class="header">You have
							{{vm.userNotificationListByUserName.length}} notifications</li>
						<li>
							<!-- inner menu: contains the actual data -->
							<ul class="menu">
								<li>
									<div class="pull-left">
										<input class="btn btn-info" type="button"
											ng-click="vm.previousPage()" value="«" />
									</div>
									<div class="pull-right">
										<input class="btn btn-info" type="button"
											ng-click="vm.nextPage()" value="»" />
									</div>
								</li>
								<li><a href="#" style="text-align: center;">23
										September, 2017</a></li>
								<li
									ng-repeat="userNotification in vm.userNotificationListByUserName"><a
									href="#"> <i class="fa fa-users text-aqua"></i> <span
										style="color: blue">admin</span> :
										{{userNotification.message}}
								</a></li>
								<!-- <li><a href="#"> <i class="fa fa-users text-aqua"></i>
										5 new members joined today
								</a></li>
								<li><a href="#"> <i class="fa fa-warning text-yellow"></i>
										Very long description here that may not fit into the page and
										may cause design problems
								</a></li>
								<li><a href="#"> <i class="fa fa-users text-red"></i> 5
										new members joined
								</a></li>
								<li><a href="#"> <i
										class="fa fa-shopping-cart text-green"></i> 25 sales made
								</a></li>
								<li><a href="#"> <i class="fa fa-user text-red"></i>
										You changed your username
								</a></li> -->
							</ul>
						</li>
						<li class="footer"><a href="notification">View all</a></li>
					</ul></li>
				<!-- Tasks: style can be found in dropdown.less -->
				<li class="dropdown tasks-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="fa fa-flag-o"></i> <span class="label label-danger"
						th-text="0">{{vm.taskManagementListByAssigneeId.length}}</span>
				</a>
					<ul class="dropdown-menu">
						<li class="header">You have
							{{vm.taskManagementListByAssigneeId.length}} tasks</li>
						<li>
							<!-- inner menu: contains the actual data -->
							<ul class="menu">
								<li>
									<div class="pull-left">
										<input class="btn btn-info" type="button"
											ng-click="vm.previousPage()" value="«" />
									</div>
									<div class="pull-right">
										<input class="btn btn-info" type="button"
											ng-click="vm.nextPage()" value="»" />
									</div>
								</li>
								<li><a href="#" style="text-align: center;">23
										September, 2017</a></li>
								<li
									ng-repeat="taskManagement in vm.taskManagementListByAssigneeId">
									<!-- Task item --> <a href="#"> <span style="color: red">Reporter:
									</span> <span style="color: blue">Arif Rahman</span> <br /> <span
										style="color: red">Reporting Time: </span> <span
										style="color: blue">27/09/2017, 9:00 AM</span>
										<h3>
											{{taskManagement.taskDetails}} <small class="pull-right">{{taskManagement.completeParcentage}}%</small>
										</h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-aqua"
												style="width: 20%" role="progressbar"
												aria-valuenow="{{taskManagement.completeParcentage}}"
												aria-valuemin="0" aria-valuemax="100">
												<span class="sr-only">{{taskManagement.completeParcentage}}%
													Complete</span>
											</div>
										</div>
								</a>
								</li>

								<!-- <li>
									Task item <a href="#">
										<h3>
											Design some buttons <small class="pull-right">20%</small>
										</h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-aqua"
												style="width: 20%" role="progressbar" aria-valuenow="20"
												aria-valuemin="0" aria-valuemax="100">
												<span class="sr-only">20% Complete</span>
											</div>
										</div>
								</a>
								</li>
								end task item
								<li>
									Task item <a href="#">
										<h3>
											Create a nice theme <small class="pull-right">40%</small>
										</h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-green"
												style="width: 40%" role="progressbar" aria-valuenow="20"
												aria-valuemin="0" aria-valuemax="100">
												<span class="sr-only">40% Complete</span>
											</div>
										</div>
								</a>
								</li>
								end task item
								<li>
									Task item <a href="#">
										<h3>
											Some task I need to do <small class="pull-right">60%</small>
										</h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-red" style="width: 60%"
												role="progressbar" aria-valuenow="20" aria-valuemin="0"
												aria-valuemax="100">
												<span class="sr-only">60% Complete</span>
											</div>
										</div>
								</a>
								</li>
								end task item
								<li>
									Task item <a href="#">
										<h3>
											Make beautiful transitions <small class="pull-right">80%</small>
										</h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-yellow"
												style="width: 80%" role="progressbar" aria-valuenow="20"
												aria-valuemin="0" aria-valuemax="100">
												<span class="sr-only">80% Complete</span>
											</div>
										</div>
								</a>
								</li> -->
								<!-- end task item -->
							</ul>
						</li>
						<li class="footer"><a href="taskManagement">View all
								tasks</a></li>
					</ul></li>
				<!-- User Account: style can be found in dropdown.less -->
				<li class="dropdown user user-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <img
						src="/public/dist/img/logo.png" class="user-image"
						alt="User Image" /> <span class="hidden-xs">Arifur Rahman</span>
				</a>
					<ul class="dropdown-menu">
						<!-- User image -->
						<li class="user-header"><img src="/public/dist/img/logo.png"
							class="img-circle" alt="User Image" />

							<p>
								Arifur Rahman - Software Engineer <small>Member since
									Nov. 2016</small>
							</p></li>
						<!-- Menu Body -->
						<!-- <li class="user-body">
							<div class="row">
								<div class="col-xs-4 text-center">
									<a href="#">Followers</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Sales</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Friends</a>
								</div>
							</div> /.row
						</li> -->
						<!-- Menu Footer-->
						<li class="user-footer">
							<!-- <div class="pull-left">
								<a href="#" class="btn btn-default btn-flat">Profile</a>
							</div> -->
							<b>{{vm.message}}</b>
							<div class="pull-right">
								<input type="radio" name="language" value="bn" ng-model="vm.language" ng-click="vm.changeLanguage()"/>Bangla
								<input type="radio" name="language" value="en" ng-model="vm.language" ng-click="vm.changeLanguage()" />English
								<a href="../logout" class="btn btn-default btn-flat">Logout</a>
							</div>
						</li>
					</ul></li>
				<!-- Control Sidebar Toggle Button -->
				<li><a href="#" data-toggle="control-sidebar"><i
						class="fa fa-gears"></i></a></li>
			</ul>
		</div>
	</nav>
</header>