<div id="loadingDiv" style="display: none">
	<h1>Loading....</h1>
</div>
<header class="main-header" ng-controller="CommonAppController as vm">
	<!-- Logo -->
	<!-- <div class="icon">
			<i class="ion-ios-home-outline"></i>
	</div> -->
	<a href="../" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini"><b>Buy Now @</b>Feriwaala</span> <!-- logo for regular state and mobile devices -->
		<span class="logo-lg"><b th:text="${appTitle} "> </b> Feriwala </span>
	</a>
	<!-- Header Navbar: style can be found in header.less -->
	<nav class="navbar navbar-static-top">
		<!-- <a href="#" class="sidebar-toggle" data-toggle="offcanvas"
			role="button"> <span class="sr-only">Toggle navigation</span>
		</a> -->
		<!-- <div class="hidden-sm hidden-xs ">
			<ul class="nav navbar-nav">
				<li class="dropdown mega-dropdown"><a href="#"
					class="dropdown-toggle " data-toggle="dropdown"
					style="font-size: 18px">Settings <i class="fa fa-cog"
						aria-hidden="true"></i></a>


					<ul class="dropdown-menu mega-dropdown-menu row  ">


						<li class="col-sm-3">
							<ul>
								<li class="dropdown-header">User Settings</li>
								<li><a href="order/new_order"><spna
											style="color: #00a7d0"> <i class="fa fa-shopping-cart"
											aria-hidden="true"></i></spna> User Settings 1</a></li>
								<li><a href="order/manage_invoice"><spna
											style="color: #00a7d0"> <i class="fa fa-file-text-o"
											aria-hidden="true"></i></spna> User Settings 2</a></li>
								<li><a href="order/manage_order"><spna
											style="color: #00a7d0"> <i class="fa fa-file-text-o"
											aria-hidden="true"></i></spna> User Settings 3</a></li>

							</ul>
						</li>

						<li class="col-sm-3">
							<ul>
								<li class="dropdown-header">Product Settings</li>
								<li><a href="report/sales_report"><spna
											style="color: #00a7d0"> <i class="fa fa-file-text-o"
											aria-hidden="true"></i></spna> Product Settings 1</a></li>
								<li><a href="report/sales_summery_report"><spna
											style="color: #00a7d0"> <i class="fa fa-file-text-o"
											aria-hidden="true"></i></spna> Product Settings 2</a></li>
								<li><a href="report/purchase_report"><spna
											style="color: #00a7d0"> <i class="fa fa-file-text-o"
											aria-hidden="true"></i></spna> Product Settings 3</a></li>
								<li><a href="report/stock_report"><spna
											style="color: #00a7d0"> <i class="fa fa-file-text-o"
											aria-hidden="true"></i></spna> Product Settings 4</a></li>

							</ul>
						</li>

						<li class="col-sm-3">
							<ul>
								<li class="dropdown-header">Application Data History</li>
								<li><a href="product/add_product"><spna
											style="color: #00a7d0"> <i class="fa fa-plus"
											aria-hidden="true"></i></spna> Application Data 1</a></li>
								<li><a href="product/manage_product"><spna
											style="color: #00a7d0"> <i
											class="glyphicon glyphicon-th-large" aria-hidden="true"></i></spna>
										Application Data 2</a></li>
								<li><a href="product/print_barcode"><spna
											style="color: #00a7d0"> <i
											class="glyphicon glyphicon-barcode" aria-hidden="true"></i></spna>
										Application Data 3</a></li>
								<li><a href="product/damage_product"><spna
											style="color: #00a7d0"> <i
											class="glyphicon glyphicon-trash" aria-hidden="true"></i></spna>
										Application Data 4</a></li>

							</ul>
						</li>

						<li class="col-sm-3">
							<ul>
								<li class="dropdown-header">Notification Settings</li>
								<li><a href="purchase/add_supplier"><spna
											style="color: #00a7d0"> <i class="fa fa-plus"
											aria-hidden="true"></i></spna> Notification 1</a></li>
								<li><a href="purchase/manage_supplier"><spna
											style="color: #00a7d0"> <i
											class="glyphicon glyphicon-briefcase" aria-hidden="true"></i></spna>
										Notification 2</a></li>
								<li><a href="purchase/new_purchase"><spna
											style="color: #00a7d0"> <i class="fa fa-shopping-cart"
											aria-hidden="true"></i></spna> Notification 3</a></li>
								<li><a href="purchase/purchase_list"><spna
											style="color: #00a7d0"> <i
											class="glyphicon glyphicon-th-list" aria-hidden="true"></i></spna>
										Notification 4</a></li>
							</ul>
						</li>


					</ul></li>
			</ul>
		</div> -->
		<!-- <div class="pull-center">
			<ul class="nav fixed navbar-nav">
				<li class="dropdown"><a href="#" style="font-size: 28px;">ABC
						Company Limited <i class="fa fa-cog" aria-hidden="true"></i>
				</a></li>
			</ul>
		</div> -->


		<!-- <div class="navbar-custom-menu"
			ng-init="vm.userMessages.length=0,vm.notifications.length=0,vm.taskManagements.length=0">
			<ul class="nav navbar-nav">
				<li class="dropdown messages-menu"><input type="checkbox" ng-click="vm.getUserMessagesByReceiverId(vm.receiverId);"
					ng-model="vm.isLoadNotifications" /></li>
				
				<li class="dropdown messages-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="fa fa-envelope-o"></i> <span class="label label-success"
						th-text="0">{{vm.userMessageListByReceiverId.length}}</span>
				</a>
					<ul class="dropdown-menu">
						<li class="header" th-text="You have 0 messages">You have
							{{vm.userMessageListByReceiverId.length}} messages</li>
						<li>
							
							<ul class="menu">
								<li>
									<div class="pull-left">
										<input class="btn btn-info" type="button"
											ng-click="vm.previousPage()" value="«" />
									</div>
									<div class="pull-right">
										<input class="btn btn-info" type="button"
											ng-click="vm.nextPage()" value="»" />
									</div>
								</li>
								<li><a href="#" style="text-align: center;">23
										September, 2017</a></li>

								<li ng-repeat="userMessage in vm.userMessageListByReceiverId">
									<a href="#">
										<div class="pull-left">
											<img src="/public/dist/img/profile_pic.png"
												class="img-circle" alt="User Image" />
										</div>
										<h4>
											{{userMessage.senderId}} <small><i
												class="fa fa-clock-o"></i> {{userMessage.createdDate}}</small>
										</h4>
										<p>{{userMessage.subject}}</p>
								</a>
								</li>
								
							</ul>

						</li>

						<li class="footer"><a href="mailbox_starter">See All
								Messages</a></li>
					</ul></li>
				Notifications: style can be found in dropdown.less
				<li class="dropdown notifications-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="fa fa-bell-o"></i> <span class="label label-warning"
						th-text="0">{{vm.userNotificationListByUserName.length}}</span>
				</a>
					<ul class="dropdown-menu">
						<li class="header">You have
							{{vm.userNotificationListByUserName.length}} notifications</li>
						<li>
							inner menu: contains the actual data
							<ul class="menu">
								<li>
									<div class="pull-left">
										<input class="btn btn-info" type="button"
											ng-click="vm.previousPage()" value="«" />
									</div>
									<div class="pull-right">
										<input class="btn btn-info" type="button"
											ng-click="vm.nextPage()" value="»" />
									</div>
								</li>
								<li><a href="#" style="text-align: center;">23
										September, 2017</a></li>
								<li
									ng-repeat="userNotification in vm.userNotificationListByUserName"><a
									href="#"> <i class="fa fa-users text-aqua"></i> <span
										style="color: blue">admin</span> :
										{{userNotification.message}}
								</a></li>
								
							</ul>
						</li>
						<li class="footer"><a href="notification">View all</a></li>
					</ul></li>
				Tasks: style can be found in dropdown.less
				<li class="dropdown tasks-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="fa fa-flag-o"></i> <span class="label label-danger"
						th-text="0">{{vm.taskManagementListByAssigneeId.length}}</span>
				</a>
					<ul class="dropdown-menu">
						<li class="header">You have
							{{vm.taskManagementListByAssigneeId.length}} tasks</li>
						<li>
							inner menu: contains the actual data
							<ul class="menu">
								<li>
									<div class="pull-left">
										<input class="btn btn-info" type="button"
											ng-click="vm.previousPage()" value="«" />
									</div>
									<div class="pull-right">
										<input class="btn btn-info" type="button"
											ng-click="vm.nextPage()" value="»" />
									</div>
								</li>
								<li><a href="#" style="text-align: center;">23
										September, 2017</a></li>
								<li
									ng-repeat="taskManagement in vm.taskManagementListByAssigneeId">
									Task item <a href="#"> <span style="color: red">Reporter:
									</span> <span style="color: blue">Arif Rahman</span> <br /> <span
										style="color: red">Reporting Time: </span> <span
										style="color: blue">27/09/2017, 9:00 AM</span>
										<h3>
											{{taskManagement.taskDetails}} <small class="pull-right">{{taskManagement.completeParcentage}}%</small>
										</h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-aqua"
												style="width: 20%" role="progressbar"
												aria-valuenow="{{taskManagement.completeParcentage}}"
												aria-valuemin="0" aria-valuemax="100">
												<span class="sr-only">{{taskManagement.completeParcentage}}%
													Complete</span>
											</div>
										</div>
								</a>
								</li>

							</ul>
						</li>
						<li class="footer"><a href="taskManagement">View all
								tasks</a></li>
					</ul></li>
				User Account: style can be found in dropdown.less
				<li class="dropdown user user-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <img
						src="/public/dist/img/arif.jpg" class="user-image"
						alt="User Image" /> <span class="hidden-xs">Arifur Rahman</span>
				</a>
					<ul class="dropdown-menu">
						User image
						<li class="user-header"><img src="/public/dist/img/arif.jpg"
							class="img-circle" alt="User Image" />

							<p>
								Arifur Rahman - Software Engineer <small>Member since
									Nov. 2016</small>
							</p></li>
						Menu Body
						<li class="user-body">
							<div class="row">
								<div class="col-xs-4 text-center">
									<a href="#">Followers</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Sales</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Friends</a>
								</div>
							</div> /.row
						</li>
						Menu Footer
						<li class="user-footer">
							<div class="pull-left">
								<a href="#" class="btn btn-default btn-flat">Profile</a>
							</div>
							<div class="pull-right">
								<a href="../logout" class="btn btn-default btn-flat">Sign
									outs</a>
							</div>
						</li>
					</ul></li>
				Control Sidebar Toggle Button
				<li><a href="#" data-toggle="control-sidebar"><i
						class="fa fa-gears"></i></a></li>
			</ul>
		</div> -->
	</nav>
</header>