<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<!-- Bootstrap 3.3.6 -->
<meta name="description" content="" />
<meta name="author" content="" />


<!-- <link th:if="${mode == 'development'}" rel="stylesheet"
	href="../static/public/bootstrap.css" th:href="@{/public/bootstrap.css}" />
<link th:if="${mode == 'production'}" rel="stylesheet"
	href="../public/bootstrap.min.css" th:href="@{/public/bootstrap.min.css}" /> -->
<!-- https://code.angularjs.org/1.7.3/angular.min.js -->

	
<script type="text/javascript" src="/public/angular.min.js"
	th:src="@{/public/angular.min.js}"></script>
<script type="text/javascript" src="/public/angular-file-upload.min.js"
	th:src="@{/public/angular-file-upload.min.js}"></script>

<script type="text/javascript" src="/public/angular.route.js"
	th:src="@{/public/angular.route.js}"></script>


<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
<!-- <link rel="stylesheet" href="/public/bootstrap/css/admin.css" /> -->
<link rel="stylesheet" href="/public/bootstrap/css/custom.css" />
<!-- <link href="http://easy-inventory.codeslab.net/asset/css/custom.css" rel="stylesheet" type="text/css"/> -->

<!-- Font Awesome -->
<!-- <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" /> -->
<link rel="stylesheet"
	href="/public/plugins/font-awesome/font-awesome.min.css" />
<link rel="stylesheet"
	href="/public/plugins/jQueryUI/jquery-ui.css" />
	
<!-- <link rel="stylesheet"
	href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" /> -->
	
<!-- Ionicons -->
<!-- <link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" /> -->
<link rel="stylesheet" href="/public/plugins/iconions/iconions.min.css" />
<!-- Theme style -->
<link rel="stylesheet" href="/public/bootstrap/css/AdminLTE.min.css" />
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet"
	href="/public/bootstrap/css/skins/_all-skins.min.css" />
<!-- iCheck -->
<link rel="stylesheet" href="/public/plugins/iCheck/flat/blue.css" />
<!-- Morris chart -->
<link rel="stylesheet" href="/public/plugins/morris/morris.css" />
<!-- jvectormap -->
<link rel="stylesheet"
	href="/public/plugins/jvectormap/jquery-jvectormap-1.2.2.css" />
<!-- Date Picker -->
<link rel="stylesheet" href="/public/plugins/datepicker/datepicker3.css" />
<!-- Daterange picker -->
<link rel="stylesheet" href="/public/plugins/daterangepicker/daterangepicker.css" />
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet"
	href="/public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" />
