<!-- jQuery 2.2.3 -->
<!-- <script src="/public/plugins/jQuery/jquery-2.2.3.min.js"></script> -->
<script src="/public/plugins/prefixfree/prefixfree.min.js"></script>
<script src="/public/plugins/jQuery/jquery.min.js"></script>
<script src="/public/plugins/jQueryUI/jquery-ui.min.js"></script>

<!-- jQuery UI 1.11.4 -->

<!-- <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script> -->
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
	$.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="/public/bootstrap/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="/public/plugins/morris/morris.min.js"></script>
<!-- Sparkline -->
<script src="/public/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="/public/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script
	src="/public/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="/public/plugins/knob/jquery.knob.js"></script>
<!-- daterangepicker -->
<!-- <script
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script> -->
<script src="/public/plugins/daterangepicker/moment.min.js"></script>
<!-- <script src="/public/plugins/daterangepicker/daterangepicker.js"></script> -->
<!-- datepicker -->
<!-- <script src="/public/plugins/datepicker/bootstrap-datepicker.js"></script> -->
<!-- Bootstrap WYSIHTML5 -->
<script
	src="/public/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="/public/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/public/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/public/bootstrap/js/app.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!-- <script src="/public/bootstrap/js/pages/dashboard.js"></script> -->
<!-- AdminLTE for demo purposes -->
<script src="/public/bootstrap/js/demo.js"></script>
<script>
	//$('#loadingDiv').show();
</script>



<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script> -->

