<div id="loadingDiv" style="display: none">
	<h1>Loading....</h1>
</div>
<header class="main-header" ng-controller="CommonAppController as vm">
	<nav class="navbar navbar-static-top">
      <div class="container">
        <div th:include="theme_includes/navbar-top-menus" th:remove="tag" />
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu"
			ng-init="vm.userMessages=[];vm.notifications=[];vm.taskManagements=[]">
			<ul class="nav navbar-nav">
				<li class="dropdown messages-menu">
				<i class="fa fa-check"></i> <input class="checkbox" type="checkbox" ng-click="vm.getUserMessagesByReceiverId(vm.receiverId);"
					ng-model="vm.isLoadNotifications" /></li> 
				<!-- Messages: style can be found in dropdown.less-->
				<li class="dropdown messages-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="fa fa-envelope-o"></i> <span class="label label-success"
						th-text="0">{{vm.userMessageListByReceiverId.length}}</span>
				</a>
					<ul class="dropdown-menu">
						<li class="header" th-text="You have 0 messages">You have
							{{vm.userMessageListByReceiverId.length}} messages</li>
						<li>
							inner menu: contains the actual data
							<ul class="menu">
								<li>
									<div class="pull-left">
										<input class="btn btn-info" type="button"
											ng-click="vm.previousPage()" value="«" />
									</div>
									<div class="pull-right">
										<input class="btn btn-info" type="button"
											ng-click="vm.nextPage()" value="»" />
									</div>
								</li>
								<li><a href="#" style="text-align: center;">23
										September, 2017</a></li>

								<li ng-repeat="userMessage in vm.userMessageListByReceiverId">
									<a href="#">
										<div class="pull-left">
											<img src="/public/dist/img/profile_pic.png"
												class="img-circle" alt="User Image" />
										</div>
										<h4>
											{{userMessage.senderId}} <small><i
												class="fa fa-clock-o"></i> {{userMessage.createdDate}}</small>
										</h4>
										<p>{{userMessage.subject}}</p>
								</a>
								</li>
							</ul>

						</li>

						<li class="footer"><a href="mailbox_starter">See All
								Messages</a></li>
					</ul></li> 
				<!-- Notifications: style can be found in dropdown.less -->
				<li class="dropdown notifications-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="fa fa-bell-o"></i> <span class="label label-warning"
						th-text="0">{{vm.userNotificationListByUserName.length}}</span>
				</a>
					<ul class="dropdown-menu">
						<li class="header">You have
							{{vm.userNotificationListByUserName.length}} notifications</li>
						<li>
							inner menu: contains the actual data
							<ul class="menu">
								<li>
									<div class="pull-left">
										<input class="btn btn-info" type="button"
											ng-click="vm.previousPage()" value="«" />
									</div>
									<div class="pull-right">
										<input class="btn btn-info" type="button"
											ng-click="vm.nextPage()" value="»" />
									</div>
								</li>
								<li><a href="#" style="text-align: center;">23
										September, 2017</a></li>
								<li ng-repeat="userNotification in vm.userNotificationListByUserName"><a
									href="#"> <i class="fa fa-users text-aqua"></i> <span
										style="color: blue">admin</span> :
										{{userNotification.message}}
								</a></li>
							</ul>
						</li>
						<li class="footer"><a href="notification">View all</a></li>
					</ul></li>
				<!-- Tasks: style can be found in dropdown.less -->
				<li class="dropdown tasks-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <i
						class="fa fa-flag-o"></i> <span class="label label-danger"
						th-text="0">{{vm.taskManagementListByAssigneeId.length}}</span>
				</a>
					<ul class="dropdown-menu">
						<li class="header">You have
							{{vm.taskManagementListByAssigneeId.length}} tasks</li>
						<li>
							inner menu: contains the actual data
							<ul class="menu">
								<li>
									<div class="pull-left">
										<input class="btn btn-info" type="button"
											ng-click="vm.previousPage()" value="«" />
									</div>
									<div class="pull-right">
										<input class="btn btn-info" type="button"
											ng-click="vm.nextPage()" value="»" />
									</div>
								</li>
								<li><a href="#" style="text-align: center;">23
										September, 2017</a></li>
								<li ng-repeat="taskManagement in vm.taskManagementListByAssigneeId">
									Task item <a href="#"> <span style="color: red">Reporter:
									</span> <span style="color: blue">Arif Rahman</span> <br /> <span
										style="color: red">Reporting Time: </span> <span
										style="color: blue">27/09/2017, 9:00 AM</span>
										<h3>
											{{taskManagement.taskDetails}} <small class="pull-right">{{taskManagement.completeParcentage}}%</small>
										</h3>
										<div class="progress xs">
											<div class="progress-bar progress-bar-aqua"
												style="width: 20%" role="progressbar"
												aria-valuenow="{{taskManagement.completeParcentage}}"
												aria-valuemin="0" aria-valuemax="100">
												<span class="sr-only">{{taskManagement.completeParcentage}}%
													Complete</span>
											</div>
										</div>
								</a>
								</li>

								
							</ul>
						</li>
						<li class="footer"><a href="taskManagement">View all
								tasks</a></li>
					</ul></li>
				<!-- User Account: style can be found in dropdown.less -->
				
				<li class="dropdown user user-menu"><a href="#"
					class="dropdown-toggle" data-toggle="dropdown"> <img
						src="/public/dist/img/logo.png" class="user-image"
						alt="User Image" /> <span class="hidden-xs">Admin</span>
				</a>
					<ul class="dropdown-menu">
						<!-- User image -->
						<li class="user-header"><img src="/public/dist/img/logo.png"
							class="img-circle" alt="User Image" />

							<p>
								Admin <small>Details</small>
							</p></li>
						<!-- Menu Body -->
						<!-- <li class="user-body">
							<div class="row">
								<div class="col-xs-4 text-center">
									<a href="#">Followers</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Sales</a>
								</div>
								<div class="col-xs-4 text-center">
									<a href="#">Friends</a>
								</div>
							</div> /.row
						</li> -->
						<!-- Menu Footer-->
						<li class="user-footer">
							<!-- <div class="pull-left">
								<a href="#" class="btn btn-default btn-flat">Profile</a>
							</div> -->
							<b>{{vm.message}}</b>
							<div class="pull-right">
								<input type="radio" name="language" value="bn" ng-model="vm.language" ng-click="vm.changeLanguage()"/>Bangla
								<input type="radio" name="language" value="en" ng-model="vm.language" ng-click="vm.changeLanguage()" />English
								<a href="../logout" class="btn btn-default btn-flat">Logout</a>
							</div>
						</li>
					</ul></li>
				<!-- Control Sidebar Toggle Button -->
				<!-- <li><a href="#" data-toggle="control-sidebar"><i
						class="fa fa-gears"></i></a></li> -->
			</ul>
		</div>
        <!-- /.navbar-custom-menu -->
      </div>
      <!-- /.container-fluid -->
    </nav>
</header>