<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2016-2020 <a href="" th:text="${ownerCompany}">Bytecoders.com</a>.</strong> All rights
    reserved.
  </footer>