
<!-- Main content -->
<section class="content">
	<!-- Small boxes (Stat box) -->
	<div class="row">
		<div th:each="applicationComponent : ${applicationComponents}" class="col-lg-3 col-xs-6">
			<!-- small box -->
			<!-- <div class="small-box bg-aqua">
				<div class="inner">
					<h4>Admin Panel</h4>

					<p>Order Management System</p>
				</div>
				<div class="icon">
					<i class="ion ion-android-people"></i>
				</div>
				<a href="/adminpanel" class="small-box-footer">Dashboard <i
					class="fa fa-arrow-circle-right"></i></a>
			</div> -->
			<!-- <div th:if="${component.moduleName} !='home'" class="small-box bg-aqua"> -->
			<div class="small-box bg-aqua">
				<div class="inner">
					<h4 th:text="${applicationComponent.details}">Admin Panel</h4>

					<p th:text="${applicationComponent.details}"></p>
				</div>
				<div class="icon">
					<i class="ion ion-android-people"></i>
				</div>
				<a th:href="${applicationComponent.moduleName}" class="small-box-footer" th:text="${applicationComponent.details}">  <i
					class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div>

	</div>
	<!-- /.row -->
</section>


			

<!-- <table>
	<th:block th:each="component : ${components}">
		<tr>
			<td th:text="${component.moduleName}">...</td>
			<td th:text="${component.moduleDetails}">...</td>
		</tr>
		<tr>
			<td colspan="2" th:text="${user.address}">...</td>
		</tr>
	</th:block>
</table> -->