<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Dashboard</title>
<link th:if="${mode == 'development'}" rel="stylesheet"
	href="../static/public/bootstrap.css"
	th:href="@{/public/bootstrap.css}" />
<link th:if="${mode == 'production'}" rel="stylesheet"
	href="../static/public/bootstrap.min.css"
	th:href="@{/public/bootstrap.min.css}" />
<!-- <script type="text/javascript" src="/static/public/angular.min.js"
	th:src="@{/public/angular.min.js}"></script> -->



<div th:include="theme_includes/head_contents" th:remove="tag" />
<base href="/" />
</head>
<!-- <body class="hold-transition skin-blue sidebar-mini" ng-app="app"> -->
<body class="hold-transition fixed skin-green sidebar-collapse">
	<div class="wrapper">
		<div th:include="theme_includes/dashboard-main-header" th:remove="tag" />
		<!-- Left side column. contains the logo and sidebar -->

		<!-- <div layout:fragment="main-sidebar" /> -->
		<!-- <div th:include="adminpanel/AdminpanelMenus" th:remove="tag" /> -->
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<!-- <div th:include="theme_includes/content-header" th:remove="tag" /> -->
			<!-- <div th:include="dashboard/dashboard_content" th:remove="tag" /> -->
			<!-- <section class="content" layout:fragment="content"></section> -->
			<div class="content">
				<!-- <div ng-view=""></div> -->
				<div th:include="dashboard/dashboardTabMenus" th:remove="tag" />
			</div>
		</div>
		<!-- /.content-wrapper -->
		<div th:include="theme_includes/main-footer" th:remove="tag" />

		<div th:include="theme_includes/control-sidebar" th:remove="tag" />

		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->
	<script>
		var app = angular.module("app", [ "ngRoute" ]);
		/* app.config(function($routeProvider, $locationProvider) {
			$routeProvider.when("/", {
				templateUrl : "/dashboardTabMenus"
			}).when("/home", {
				templateUrl : "/home"
			}).when("/mailbox_starter", {
				templateUrl : "/bootscaff/index"
			}).when("/mailbox", {
				templateUrl : "/adminpanel/mailbox"
			}).when("/taskManagement", {
				templateUrl : "/adminpanel/taskManagement"
			}).when("/employee", {
				templateUrl : "/adminpanel/employee"
			})

			.when("/district", {
				templateUrl : "/adminpanel/district"
			}).when("/student", {
				templateUrl : "/adminpanel/student"
			})
			//newRouteControllerGoesHere
			.otherwise({
				redirectTo : '/'
			});

			$locationProvider.html5Mode(true);
		}); */
	</script>
	<script type="text/javascript" src="/static/public/angular.route.js"
	th:src="@{/public/angular.route.js}"></script>
	
<div th:include="theme_includes/js_files" th:remove="tag" />
<div th:include="theme_includes/angularjs_controllers" th:remove="tag" />
	<div th:include="theme_includes/app_framework_js_controllers" th:remove="tag" />
</body>
</html>