<!--
<div class="row">
    <ul class="nav nav-pills">
      <li class="nav-item" *ngFor="let p of pages;let i=index">

        <a href="#" class="nav-link active" (click)="setPage(i+1,$event)">{{i+1}}</a>
      </li>
    </ul>

</div>
-->