<div class="animated fadeIn">
  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
              <i class="fa fa-align-justify"></i>
            Service Provider List
            <div class="card-header-actions">
                <div class="col-lg-12 input-group-prepend">
                    <input type="text" class="col-lg-6 form-control" [hidden]="!hasReadPermission" placeholder="Search Here..." autocomplete="searchToken" name="searchToken"  [(ngModel)]="searchToken">
                    <button class="btn btn-primary" [hidden]="!hasReadPermission" (click)="searchServiceProvider()"><i class="fa fa-search fa-lg"></i></button>

                    <button class="btn btn-primary" [hidden]="!hasCreatePermission" (click)="newServiceProvider()"><i class="fa fa-plus fa-lg"></i></button>
                    <button class="btn btn-primary" [hidden]="!hasReportPermission" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o fa-lg"></i></button>
                    <button class="btn btn-primary" [hidden]="!hasReportPermission" (click)="exportAsPDF()"><i class="fa fa-file-pdf-o fa-lg"></i></button>
                    <button class="btn btn-primary" [hidden]="!hasReportPermission" (click)="captureScreen()"><i class="fa fa-file-pdf-o fa-lg"></i></button>
                  </div>
                
              <!--a href="#">
                <small class="text-muted">Print</small>
              </a-->
            </div>
          </div>
          <div id="contentToConvert" class="card-body">
              <table class="table table-striped table-sm">
                  <thead>
                      
<th>Name</th>
<th>About</th>
<th>Address</th>
<th>Zip Code</th>
<th>Phone No</th>
<th>Nid No</th>
<th>Email</th>
<th>User</th>
<th>Sp Level</th>
<th>Gender</th>
<th>Desired Hourly Rate</th>
<th>Desired Daily Rate</th>
<th>Service Area</th>
<th>Availability</th>
<th>Is Active</th>
<th>Start Time</th>
<th>End Time</th>
<th>Created Date</th>
<th>Profile Image</th>
                      <th>View </th>
                      <th>Edit </th>
                      <th>Delete </th>
                  </thead>
                  <tbody>
                      <tr *ngFor="let serviceProvider of serviceProviders">
                          
<td>{{serviceProvider.name}}</td>
<td>{{serviceProvider.about}}</td>
<td>{{serviceProvider.address}}</td>
<td>{{serviceProvider.zipCode}}</td>
<td>{{serviceProvider.phoneNo}}</td>
<td>{{serviceProvider.nidNo}}</td>
<td>{{serviceProvider.email}}</td>
<td *ngIf="serviceProvider.user">{{serviceProvider.user.userName}}</td>
<td *ngIf="!serviceProvider.user"></td>
<td *ngIf="serviceProvider.spLevel">{{serviceProvider.spLevel.description}}</td>
<td *ngIf="!serviceProvider.spLevel"></td>
<td>{{serviceProvider.gender}}</td>
<td>{{serviceProvider.desiredHourlyRate}}</td>
<td>{{serviceProvider.desiredDailyRate}}</td>
<td>{{serviceProvider.serviceArea}}</td>
<td>{{serviceProvider.availability}}</td>
<td>{{serviceProvider.isActive}}</td>
<td>{{serviceProvider.startTime}}</td>
<td>{{serviceProvider.endTime}}</td>
<td>{{serviceProvider.createdDate | date: 'dd/MM/yyyy'}}</td>
<td *ngIf="serviceProvider.profileImage && (serviceProvider.profileImage.includes('jpeg') ||serviceProvider.profileImage.includes('png') )"> <img src="public-assets/img/default_image_icon.png" width="50px" height="30px"/> </td>
<td *ngIf="serviceProvider.profileImage && serviceProvider.profileImage.includes('pdf')"><img src="public-assets/img/default_file_icon.png" width="50px" height="30px"/></td>
                          <!--td><button class="btn btn-success" data-toggle="modal" (click)="myModal.show()"><i class="fa fa-eye fa-lg"></i></button></td-->
                          <td><button class="btn btn-success" [disabled]=" !hasReadPermission" (click)="viewServiceProvider(serviceProvider)"><i class="fa fa-eye fa-lg"></i></button></td>
                          <td><button class="btn btn-primary" [disabled]="false || !hasEditPermission" (click)="editServiceProvider(serviceProvider)"><i class="fa fa-edit fa-lg"></i></button></td>
                          <td><button class="btn btn-danger" [disabled]="false ||  !hasDeletePermission" (click)="deleteServiceProvider(serviceProvider)"><i class="fa fa-trash fa-lg"></i></button></td>
                          
                      </tr>
                  </tbody>
              </table>
              
              
              
          </div>
          <div class="card-footer">
            
              <nav>
                <ul class="pagination">
                  <li class="page-item">
                  <button class="page-link" (click)="previousPage()" >Prev</button>
                </li>
                <li *ngFor='let in of counter(totalPages) ;let i = index'>
                    <button class="page-link" (click)="gotoPage(i)">{{i+1}}</button>
                </li>
                <li class="page-item">
                  <button class="page-link" (click)="nextPage()">Next</button>
                </li>
              </ul>
            </nav>
            <span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
          </div>
        </div>
        
      </div>
    </div>
  </div>

    
  
