<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<form (ngSubmit)="processServiceProviderForm()">
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Service Provider Entry
						Form
						<div class="card-header-actions">
							<div class="col-lg-12 input-group-prepend">
								<a href="#adminPanel/serviceProviders"> <small
									class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
								</a>
							</div>

						</div>
					</div>
					<div class="card-body">
						<!-- Nav tabs -->
						<tabset> 
						<tab id="printServiceProviderFormContainer"> <ng-template
							tabHeading> <i class="icon-calculator"></i> Basic
						Information</ng-template> <input type="hidden" class="form-control"
							[(ngModel)]="serviceProvider.id" name="id">
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Name <span style='color:red'>*</span></span>
                  </div>
                  <input type="text" [disabled]="serviceProvider.id!=null" class="col-lg-6 form-control" autocomplete="name" name="name"  [(ngModel)]="serviceProvider.name" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{name_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->About </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="about" name="about"  [(ngModel)]="serviceProvider.about" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{about_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Address </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="address" name="address"  [(ngModel)]="serviceProvider.address" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{address_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Zip Code </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="zipCode" name="zipCode"  [(ngModel)]="serviceProvider.zipCode" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{zipCode_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Phone No </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="phoneNo" name="phoneNo"  [(ngModel)]="serviceProvider.phoneNo" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{phoneNo_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Nid No <span style='color:red'>*</span></span>
                  </div>
                  <input type="text" [disabled]="serviceProvider.id!=null" class="col-lg-6 form-control" autocomplete="nidNo" name="nidNo"  [(ngModel)]="serviceProvider.nidNo" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{nidNo_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Email <span style='color:red'>*</span></span>
                  </div>
                  <input type="text" [disabled]="serviceProvider.id!=null" class="col-lg-6 form-control" autocomplete="email" name="email"  [(ngModel)]="serviceProvider.email" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{email_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Sp Level<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select [disabled]="serviceProvider.id!=null" *ngIf="serviceProvider.spLevel" class="col-lg-12" autocomplete="spLevel" name="spLevel"  [(ngModel)]="serviceProvider.spLevel.id"> 
						<ng-option *ngFor="let spLevel of spLevels" [value]="spLevel.id">{{spLevel.description}}</ng-option> 
					</ng-select>
					<ng-select [disabled]="serviceProvider.id!=null" *ngIf="!serviceProvider.spLevel" class="col-lg-12" autocomplete="spLevel" name="spLevel"  [(ngModel)]="serviceProvider.spLevel"> 
						  <ng-option *ngFor="let spLevel of spLevels" [value]="spLevel">{{spLevel.description}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{spLevel_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Gender </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="gender" name="gender"  [(ngModel)]="serviceProvider.gender" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{gender_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Desired Hourly Rate </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="desiredHourlyRate" name="desiredHourlyRate"  [(ngModel)]="serviceProvider.desiredHourlyRate" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{desiredHourlyRate_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Desired Daily Rate </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="desiredDailyRate" name="desiredDailyRate"  [(ngModel)]="serviceProvider.desiredDailyRate" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{desiredDailyRate_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Service Area </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="serviceArea" name="serviceArea"  [(ngModel)]="serviceProvider.serviceArea" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{serviceArea_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Availability </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="availability" name="availability"  [(ngModel)]="serviceProvider.availability" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{availability_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="isActive" name="isActive"  [(ngModel)]="serviceProvider.isActive" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Start Time </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="startTime" name="startTime"  [(ngModel)]="serviceProvider.startTime" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{startTime_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->End Time </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="endTime" name="endTime"  [(ngModel)]="serviceProvider.endTime" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{endTime_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Profile Image <span style='color:red'>*</span></span>
                  </div>
				   <input type="file" id="avatar" (change)="onProfileImageFileChange($event)">
							
							<textarea rows="3" cols="4" class="col-lg-6 form-control" [hidden]="true"
								autocomplete="profileImage" name="profileImage"
								[(ngModel)]="serviceProvider.profileImage" required>{{profileImage}}</textarea>
								<div class="col-lg-3 input-group mb-3"><img width="200" height="200" [hidden]="serviceProvider.profileImage==null" class="card-img-top home-image" src="{{serviceProvider.profileImage}}"/></div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{profileImage_validationMessage}}</span>                </div> 
						</tab> 
						
						<tab> <ng-template tabHeading>
						<i class="icon-basket-loaded"></i> Details Information</ng-template> DatePicker
						Example: <input type="text" name="testDatepicker"
							placeholder="Datepicker" class="form-control" bsDatepicker>

						Dropdown Example : <ng-select [items]="simpleItems"
							name="simpleItem" [(ngModel)]="selectedSimpleItem"> </ng-select>

						</tab> 
						</tabset>


					</div>
					<div class="card-footer">
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear"
							(click)="clearServiceProviderFormFields()" class="btn btn-warning">
						<span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
					</div>
				</form>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
