<div class="modal-header">
	<h4 class="modal-title">Hi there!</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
	<div class="card serviceProvider-border">
		<img class="card-img-top" src="{{serviceProvider.image_path}}" alt="Card image cap">
		<div class="card-body">
			<p class="card-text"><b>Name: </b>{{serviceProvider.name}}</p>
			<p class="card-text"><b>About: </b>{{serviceProvider.about}}</p>
			<h5 class="card-title"><b>Address: </b>{{serviceProvider.address}}</h5>
			<h5 class="card-title"><b>Address: </b>{{serviceProvider.jobHistorys[0].employerName}}</h5>
			<h5 class="card-title"><b>Address: </b>{{serviceProvider.address}}</h5>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>