<div class="properties-hero-area d-flex flex-wrap align-items-center mb-80">
    <div class="properties-slide">
        <!-- Properties Slider -->
        <div id="property-thumb-silde" class="carousel slide wow fadeInUp" data-wow-delay="200ms" data-ride="carousel" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
            <ol class="carousel-indicators">
                <li data-target="#property-thumb-silde" data-slide-to="0" class="" style="background-image: url(img/bg-img/64.jpg);"></li>
                <li data-target="#property-thumb-silde" data-slide-to="1" style="background-image: url(img/bg-img/65.jpg);" class=""></li>
                <li data-target="#property-thumb-silde" data-slide-to="2" style="background-image: url(img/bg-img/66.jpg);" class="active"></li>
                <li data-target="#property-thumb-silde" data-slide-to="3" style="background-image: url(img/bg-img/67.jpg);" class=""></li>
            </ol>

            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="public-assets/img/bg-img/64.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="public-assets/img/bg-img/65.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item active">
                    <img src="public-assets/img/bg-img/66.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="public-assets/img/bg-img/67.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>

    <!-- Properties Content Area -->
    <div class="properties-content-area wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
        <div class="properties-content-info">
            <h2>Huge Sunny Villa</h2>
            <div class="properties-location">
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 180 York Road, London, UK</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Villa</p>
            </div>
            <h4 class="properties-rate">$5400 <span>/ month</span></h4>
            <p>Buy Confidence, Sell With Success! Our storied approach to real estate development and maximization.</p>
            <!-- Properties Info -->
            <div class="properties-info">
                <p>Sqft: <span>1.200 m2</span></p>
                <p>Beds: <span>04</span></p>
                <p>Baths: <span>03</span></p>
                <p>Garages: <span>02</span></p>
            </div>
        </div>
    </div>
</div>

<!--hello-->

<div class="rehomes-properties-area">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-12 col-lg-8">
                <!-- Information Area -->
                <div class="information-area mb-80 wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                    <h4 class="mb-30">Infomation</h4>

                    <!--Information Content -->
                    <div class="information-content">
                        <ul class="d-flex flex-wrap">
                            <li><span>Price</span> <span>$ 138,000</span></li>
                            <li><span>Property Type</span> <span>$ 138,000</span></li>
                            <li><span>Year Built</span> <span>$ 138,000</span></li>
                            <li><span>Bathrooms</span> <span>$ 138,000</span></li>
                            <li><span>Rooms</span> <span>$ 138,000</span></li>
                            <li><span>Parking lots</span> <span>$ 138,000</span></li>
                            <li><span>Lot area</span> <span>$ 138,000</span></li>
                            <li><span>Agent</span> <span>Anthony Noah</span></li>
                            <li><span>Reference</span> <span>#219</span></li>
                            <li><span>Contract type</span> <span>Sale</span></li>
                            <li><span>Beds</span> <span>4</span></li>
                            <li><span>Garages</span> <span>2</span></li>
                            <li><span>Home area</span> <span>1200 sqft</span></li>
                            <li><span>Lot dimensions</span> <span>20x30x40x50</span></li>
                        </ul>
                    </div>
                </div>

                <!-- Floor Thumb Content -->
                <div class="floor-thumb-content mb-80 wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                    <h4 class="mb-30">Floor Plans</h4>

                    <!-- Floor Thumb -->
                    <div class="floor-thumb">
                        <img src="public-assets/img/bg-img/68.jpg" alt="">
                    </div>
                </div>

                <!-- Search Location Area -->
                <div class="search-location-area mb-80 wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                    <h4 class="mb-30">Near By Place</h4>

                    <!-- Location Maps -->
                    <div class="loction-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19892.026971487212!2d-0.19247374135275525!3d51.4489138369289!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C+UK!5e0!3m2!1sen!2sbd!4v1551753138954" allowfullscreen=""></iframe>
                    </div>

                    <!-- Single Location Content -->
                    <div class="single-location-content d-flex align-items-center justify-content-between">
                        <!-- Location Thumb And Info -->
                        <div class="location-thumb-info d-flex align-items-center">
                            <!-- Location Thumb -->
                            <div class="location-thumb">
                                <img src="public-assets/img/bg-img/69.jpg" alt="">
                            </div>
                            <!-- Location Info -->
                            <div class="location-info">
                                <h5>Hospital</h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 801 Rowan Parkways Apt. 974</p>
                                <p><i class="fa fa-location-arrow" aria-hidden="true"></i> 5 km</p>
                            </div>
                        </div>

                        <!-- Contact Location -->
                        <div class="contact-location-btn">
                            <!-- Phone -->
                            <a class="phone" href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                            <!-- Share -->
                            <a class="share" href="#"><i class="fa fa-share" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Location Content -->
                    <div class="single-location-content d-flex align-items-center justify-content-between">
                        <!-- Location Thumb And Info -->
                        <div class="location-thumb-info  d-flex align-items-center">
                            <!-- Location Thumb -->
                            <div class="location-thumb">
                                <img src="public-assets/img/bg-img/70.jpg" alt="">
                            </div>
                            <!-- Location Info -->
                            <div class="location-info">
                                <h5>Hospital</h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 801 Rowan Parkways Apt. 974</p>
                                <p><i class="fa fa-location-arrow" aria-hidden="true"></i> 5 km</p>
                            </div>
                        </div>

                        <!-- Contact Location -->
                        <div class="contact-location-btn">
                            <!-- Phone -->
                            <a class="phone" href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                            <!-- Share -->
                            <a class="share" href="#"><i class="fa fa-share" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Location Content -->
                    <div class="single-location-content d-flex align-items-center justify-content-between">
                        <!-- Location Thumb And Info -->
                        <div class="location-thumb-info  d-flex align-items-center">
                            <!-- Location Thumb -->
                            <div class="location-thumb">
                                <img src="public-assets/img/bg-img/71.jpg" alt="">
                            </div>
                            <!-- Location Info -->
                            <div class="location-info">
                                <h5>Hospital</h5>
                                <p><i class="fa fa-map-marker" aria-hidden="true"></i> 801 Rowan Parkways Apt. 974</p>
                                <p><i class="fa fa-location-arrow" aria-hidden="true"></i> 5 km</p>
                            </div>
                        </div>

                        <!-- Contact Location -->
                        <div class="contact-location-btn">
                            <!-- Phone -->
                            <a class="phone" href="#"><i class="fa fa-phone" aria-hidden="true"></i></a>
                            <!-- Share -->
                            <a class="share" href="#"><i class="fa fa-share" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- More Location Btn -->
                    <button class="btn more-location-btn"><i class="fa fa-angle-down" aria-hidden="true"></i></button>
                </div>

                <!-- Agent Information -->
                <div class="agent-information-area mb-80 wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                    <h4 class="mb-30">Agent Infomation</h4>

                    <!-- Agent Information Info -->
                    <div class="agent-information-info d-flex align-items-center">
                        <!-- Agent Thumb -->
                        <div class="agent-thumb">
                            <img src="public-assets/img/bg-img/72.jpg" alt="">
                        </div>
                        <!-- Agent Info -->
                        <div class="agent-info">
                            <h4>Jason Johnson</h4>
                            <!-- Agent Contact -->
                            <div class="agent-contact d-flex justify-content-between">
                                <p>Phone: <span>(12) 456-7890</span></p>
                                <p>Email: <span>info.colorlib@gmail.com</span></p>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                            <a class="btn rehomes-btn mt-10" href="#">Contact us</a>
                        </div>
                    </div>
                </div>

                <!-- Leave A Reply -->
                <div class="rehomes-comment-form mb-80 wow fadeInUp" data-wow-delay="200ms" style="visibility: hidden; animation-delay: 200ms; animation-name: none;">
                    <h4 class="mb-30">Leave A Comment</h4>

                    <!-- Form -->
                    <form class="#" method="post">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <input type="text" name="message-name" class="form-control mb-30" placeholder="Name">
                            </div>
                            <div class="col-12 col-lg-4">
                                <input type="text" name="phone" class="form-control mb-30" placeholder="Number">
                            </div>
                            <div class="col-12 col-lg-4">
                                <input type="email" name="message-email" class="form-control mb-30" placeholder="Email">
                            </div>
                            <div class="col-12">
                                <textarea name="message" class="form-control mb-30" placeholder="Messages"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn rehomes-btn mt-15">Send Messages</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Sidebar Area -->
            <div class="col-12 col-md-6 col-lg-4 col-xl-3">
                <div class="rehomes-property-sidebar-area">
                   
                    <!-- Property Search Form -->
                    <div class="property-search-form-area mb-80 wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                        <h4 class="mb-30">Search Properties</h4>

                        <form action="#" method="get">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Search Btn -->
                                    <div class="search-property-btn">
                                        <fieldset class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="rehomesbuy" id="buy" value="buy" checked="">
                                                <label class="form-check-label" for="buy">Buy</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="rehomesbuy" id="rent" value="rent">
                                                <label class="form-check-label" for="rent">Rent</label>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <select name="location" id="location" class="form-control" style="display: none;">
                                        <option value="01">Location</option>
                                        <option value="02">Armenia</option>
                                        <option value="03">Argentina</option>
                                        <option value="04">Australia</option>
                                        <option value="05">Belgium</option>
                                        <option value="06">Botswana</option>
                                    </select><div class="nice-select form-control" tabindex="0"><span class="current">Location</span><ul class="list"><li data-value="01" class="option selected">Location</li><li data-value="02" class="option">Armenia</li><li data-value="03" class="option">Argentina</li><li data-value="04" class="option">Australia</li><li data-value="05" class="option">Belgium</li><li data-value="06" class="option">Botswana</li></ul></div>
                                </div>
                                <div class="col-12">
                                    <select name="status" id="status" class="form-control" style="display: none;">
                                        <option value="01">Status</option>
                                        <option value="02">Commercial</option>
                                        <option value="03">Office</option>
                                        <option value="04">Villa</option>
                                        <option value="05">Apartment</option>
                                        <option value="06">Condominium</option>
                                    </select><div class="nice-select form-control" tabindex="0"><span class="current">Status</span><ul class="list"><li data-value="01" class="option selected">Status</li><li data-value="02" class="option">Commercial</li><li data-value="03" class="option">Office</li><li data-value="04" class="option">Villa</li><li data-value="05" class="option">Apartment</li><li data-value="06" class="option">Condominium</li></ul></div>
                                </div>
                                <div class="col-12">
                                    <select name="bedroom" id="bedroom" class="form-control" style="display: none;">
                                        <option value="01">No of Bedroom</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                    </select><div class="nice-select form-control" tabindex="0"><span class="current">No of Bedroom</span><ul class="list"><li data-value="01" class="option selected">No of Bedroom</li><li data-value="02" class="option">02</li><li data-value="03" class="option">03</li><li data-value="04" class="option">04</li><li data-value="05" class="option">05</li><li data-value="06" class="option">06</li></ul></div>
                                </div>
                                <div class="col-12">
                                    <select name="bathroom" id="bathroom" class="form-control" style="display: none;">
                                        <option value="01">No of Bathroom</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                    </select><div class="nice-select form-control" tabindex="0"><span class="current">No of Bathroom</span><ul class="list"><li data-value="01" class="option selected">No of Bathroom</li><li data-value="02" class="option">02</li><li data-value="03" class="option">03</li><li data-value="04" class="option">04</li><li data-value="05" class="option">05</li><li data-value="06" class="option">06</li></ul></div>
                                </div>
                                <div class="col-12">
                                    <select name="guest" id="guest" class="form-control" style="display: none;">
                                        <option value="01">No of Guest</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                    </select><div class="nice-select form-control" tabindex="0"><span class="current">No of Guest</span><ul class="list"><li data-value="01" class="option selected">No of Guest</li><li data-value="02" class="option">02</li><li data-value="03" class="option">03</li><li data-value="04" class="option">04</li><li data-value="05" class="option">05</li><li data-value="06" class="option">06</li></ul></div>
                                </div>
                                <div class="col-12">
                                    <div class="slider-range mb-15">
                                        <div class="range-price mb-2">Price [30000 - 150000]$</div>
                                        <div class="slider-range-price ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-min="0" data-max="200000" data-unit="$" data-value-min="30000" data-value-max="150000" data-label-result="Price">
                                            <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 15%;"></span>
                                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 75%;"></span>
                                        <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 15%; width: 60%;"></div></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="slider-range mb-15">
                                        <div class="range-size mb-2">Size [9762 - 72063]sqFt</div>
                                        <div data-min="0" data-max="98623" data-unit="sqFt" class="slider-range-size ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" data-value-min="9762" data-value-max="72063" data-label-result="Size">
                                            <div class="ui-slider-range ui-widget-header ui-corner-all"></div>
                                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 9.8983%;"></span>
                                            <span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 73.0692%;"></span>
                                        <div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 9.8983%; width: 63.1709%;"></div></div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn rehomes-btn mt-15 w-100">Search Property</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Single Properties Widget Area -->
                    <div class="properties-single-widget-area mb-80 wow fadeInUp" data-wow-delay="200ms" style="visibility: visible; animation-delay: 200ms; animation-name: fadeInUp;">
                        <h4 class="widget-title mb-30">Recent Properties</h4>

                        <!-- Single Recent Post -->
                        <div class="single-recent-post d-flex align-items-center">
                            <!-- Thumb -->
                            <div class="properties-post-thumb">
                                <a href="properties-details.html"><img src="public-assets/img/bg-img/45.jpg" alt=""></a>
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="properties-details.html" class="post-title">Kennedy Suite</a>
                                <p class="properties--location"><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                                <p class="properties--rent">Rent: <span>$7.770.000</span></p>
                            </div>
                        </div>

                        <!-- Single Recent Post -->
                        <div class="single-recent-post d-flex align-items-center">
                            <!-- Thumb -->
                            <div class="properties-post-thumb">
                                <a href="properties-details.html"><img src="public-assets/img/bg-img/46.jpg" alt=""></a>
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="properties-details.html" class="post-title">Roob Viaduct</a>
                                <p class="properties--location"><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                                <p class="properties--rent">Rent: <span>$7.770.000</span></p>
                            </div>
                        </div>

                        <!-- Single Recent Post -->
                        <div class="single-recent-post d-flex align-items-center">
                            <!-- Thumb -->
                            <div class="properties-post-thumb">
                                <a href="properties-details.html"><img src="public-assets/img/bg-img/47.jpg" alt=""></a>
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="properties-details.html" class="post-title">Glover Plains</a>
                                <p class="properties--location"><i class="fa fa-map-marker" aria-hidden="true"></i> GA 125, Newyork</p>
                                <p class="properties--rent">Rent: <span>$7.770.000</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--hello2-->
<div class="partner-area wow fadeInUp" data-wow-delay="200ms" style="visibility: hidden; animation-delay: 200ms; animation-name: none;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partner-logo-slide owl-carousel owl-loaded owl-drag">
                    <!-- Single Partner Logo -->
                    
                    <!-- Single Partner Logo -->
                    
                    <!-- Single Partner Logo -->
                    
                    <!-- Single Partner Logo -->
                    
                    <!-- Single Partner Logo -->
                    
                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1998px, 0px, 0px); transition: all 1s ease 0s; width: 3330px;"><div class="owl-item cloned" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="100ms" style="visibility: hidden; animation-delay: 100ms; animation-name: none;"><img src="public-assets/img/core-img/1.png" alt=""></a></div><div class="owl-item cloned" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="300ms" style="visibility: hidden; animation-delay: 300ms; animation-name: none;"><img src="public-assets/img/core-img/2.png" alt=""></a></div><div class="owl-item cloned" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="500ms" style="visibility: hidden; animation-delay: 500ms; animation-name: none;"><img src="public-assets/img/core-img/3.png" alt=""></a></div><div class="owl-item cloned" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="700ms" style="visibility: hidden; animation-delay: 700ms; animation-name: none;"><img src="public-assets/img/core-img/4.png" alt=""></a></div><div class="owl-item cloned" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="900ms" style="visibility: hidden; animation-delay: 900ms; animation-name: none;"><img src="public-assets/img/core-img/5.png" alt=""></a></div><div class="owl-item" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="100ms" style="visibility: hidden; animation-delay: 100ms; animation-name: none;"><img src="public-assets/img/core-img/1.png" alt=""></a></div><div class="owl-item" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="300ms" style="visibility: hidden; animation-delay: 300ms; animation-name: none;"><img src="public-assets/img/core-img/2.png" alt=""></a></div><div class="owl-item" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="500ms" style="visibility: hidden; animation-delay: 500ms; animation-name: none;"><img src="public-assets/img/core-img/3.png" alt=""></a></div><div class="owl-item" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="700ms" style="visibility: hidden; animation-delay: 700ms; animation-name: none;"><img src="public-assets/img/core-img/4.png" alt=""></a></div><div class="owl-item active" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="900ms" style="visibility: hidden; animation-delay: 900ms; animation-name: none;"><img src="public-assets/img/core-img/5.png" alt=""></a></div><div class="owl-item cloned active" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="100ms" style="visibility: hidden; animation-delay: 100ms; animation-name: none;"><img src="public-assets/img/core-img/1.png" alt=""></a></div><div class="owl-item cloned active" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="300ms" style="visibility: hidden; animation-delay: 300ms; animation-name: none;"><img src="public-assets/img/core-img/2.png" alt=""></a></div><div class="owl-item cloned active" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="500ms" style="visibility: hidden; animation-delay: 500ms; animation-name: none;"><img src="public-assets/img/core-img/3.png" alt=""></a></div><div class="owl-item cloned active" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="700ms" style="visibility: hidden; animation-delay: 700ms; animation-name: none;"><img src="public-assets/img/core-img/4.png" alt=""></a></div><div class="owl-item cloned" style="width: 222px;"><a href="#" class="partner-logo wow fadeInUp" data-wow-delay="900ms" style="visibility: hidden; animation-delay: 900ms; animation-name: none;"><img src="public-assets/img/core-img/5.png" alt=""></a></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"><div class="owl-dot active"><span></span></div></div></div>
            </div>
        </div>
    </div>
</div>


