<div class="animated fadeIn">
  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
              <i class="fa fa-align-justify"></i>
            Sp Service List List
            <div class="card-header-actions">
                <div class="col-lg-12 input-group-prepend">
                    <input type="text" class="col-lg-6 form-control" placeholder="Search Here..." autocomplete="searchToken" name="searchToken"  [(ngModel)]="searchToken">
                    <button class="btn btn-primary" (click)="searchSpServiceList()"><i class="fa fa-search fa-lg"></i></button>

                    <button class="btn btn-primary" (click)="newSpServiceList()"><i class="fa fa-plus fa-lg"></i></button>
                    <button class="btn btn-primary" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o fa-lg"></i></button>
                    <button class="btn btn-primary" (click)="exportAsPDF()"><i class="fa fa-file-pdf-o fa-lg"></i></button>
                    <button class="btn btn-primary" (click)="captureScreen()"><i class="fa fa-file-pdf-o fa-lg"></i></button>
                  </div>
                
              <!--a href="#">
                <small class="text-muted">Print</small>
              </a-->
            </div>
          </div>
          <div id="contentToConvert" class="card-body">
              <table class="table table-striped table-sm">
                  <thead>
                      
<th>Service Provider</th>
<th>Service Details</th>
<th>Service Type</th>
<th>Visit Count</th>
<th>Location</th>
<th>Request Count</th>
<th>Start Time</th>
<th>End Time</th>
<th>Is Active</th>
<th>Avail From</th>
<th>Avail To</th>
                      <th>View </th>
                      <th>Edit </th>
                      <th>Delete </th>
                  </thead>
                  <tbody>
                      <tr *ngFor="let spServiceList of spServiceLists">
                          
<td *ngIf="spServiceList.serviceProvider">{{spServiceList.serviceProvider.name}}</td>
<td *ngIf="!spServiceList.serviceProvider"></td>
<td>{{spServiceList.serviceDetails}}</td>
<td *ngIf="spServiceList.serviceType">{{spServiceList.serviceType.description}}</td>
<td *ngIf="!spServiceList.serviceType"></td>
<td>{{spServiceList.visitCount}}</td>
<td *ngIf="spServiceList.location">{{spServiceList.location.description}}</td>
<td *ngIf="!spServiceList.location"></td>
<td>{{spServiceList.requestCount}}</td>
<td>{{spServiceList.startTime}}</td>
<td>{{spServiceList.endTime}}</td>
<td>{{spServiceList.isActive}}</td>
<td>{{spServiceList.availFrom | date: 'yyyy-MM-dd'}}</td>
<td>{{spServiceList.availTo | date: 'yyyy-MM-dd'}}</td>
                          <!--td><button class="btn btn-success" data-toggle="modal" (click)="myModal.show()"><i class="fa fa-eye fa-lg"></i></button></td-->
                          <td><button class="btn btn-success" (click)="viewSpServiceList(spServiceList)"><i class="fa fa-eye fa-lg"></i></button></td>
                          <td><button class="btn btn-primary" [disabled]="false" (click)="editSpServiceList(spServiceList)"><i class="fa fa-edit fa-lg"></i></button></td>
                          <td><button class="btn btn-danger" [disabled]="false" (click)="deleteSpServiceList(spServiceList)"><i class="fa fa-trash fa-lg"></i></button></td>
                          
                      </tr>
                  </tbody>
              </table>
              
              
              
          </div>
          <div class="card-footer">
            
              <nav>
                <ul class="pagination">
                  <li class="page-item">
                  <button class="page-link" (click)="previousPage()" >Prev</button>
                </li>
                <li *ngFor='let in of counter(totalPages) ;let i = index'>
                    <button class="page-link" (click)="gotoPage(i)">{{i+1}}</button>
                </li>
                <li class="page-item">
                  <button class="page-link" (click)="nextPage()">Next</button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        
      </div>
    </div>
  </div>

  <div bsModal #myModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" (click)="myModal.hide()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="myModal.hide()">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
  
