<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<form (ngSubmit)="processSpServiceListForm()">
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Sp Service List Entry
						Form
						<div class="card-header-actions">
							<div class="col-lg-12 input-group-prepend">
								<a href="#serviceProviderPanel/spServiceLists"> <small
									class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
								</a>
							</div>

						</div>
					</div>
					<div class="card-body">
						<!-- Nav tabs -->
						<tabset> <tab id="printSpServiceListFormContainer"> <ng-template
							tabHeading> <i class="icon-calculator"></i> Basic
						Information</ng-template> <input type="hidden" class="form-control"
							[(ngModel)]="spServiceList.id" name="id">
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Service Details </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="serviceDetails" name="serviceDetails"  [(ngModel)]="spServiceList.serviceDetails" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{serviceDetails_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Service Type<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select [disabled]="spServiceList.id!=null" *ngIf="spServiceList.serviceType" class="col-lg-12" autocomplete="serviceType" name="serviceType"  [(ngModel)]="spServiceList.serviceType.id"> 
						<ng-option *ngFor="let serviceType of serviceTypes" [value]="serviceType.id">{{serviceType.description}}</ng-option> 
					</ng-select>
					<ng-select [disabled]="spServiceList.id!=null" *ngIf="!spServiceList.serviceType" class="col-lg-12" autocomplete="serviceType" name="serviceType"  [(ngModel)]="spServiceList.serviceType"> 
						  <ng-option *ngFor="let serviceType of serviceTypes" [value]="serviceType">{{serviceType.description}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{serviceType_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Visit Count </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="visitCount" name="visitCount"  [(ngModel)]="spServiceList.visitCount" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{visitCount_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Location<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select [disabled]="spServiceList.id!=null" *ngIf="spServiceList.location" class="col-lg-12" autocomplete="location" name="location"  [(ngModel)]="spServiceList.location.id"> 
						<ng-option *ngFor="let location of locations" [value]="location.id">{{location.description}}</ng-option> 
					</ng-select>
					<ng-select [disabled]="spServiceList.id!=null" *ngIf="!spServiceList.location" class="col-lg-12" autocomplete="location" name="location"  [(ngModel)]="spServiceList.location"> 
						  <ng-option *ngFor="let location of locations" [value]="location">{{location.description}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{location_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Request Count </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="requestCount" name="requestCount"  [(ngModel)]="spServiceList.requestCount" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{requestCount_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Start Time </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="startTime" name="startTime"  [(ngModel)]="spServiceList.startTime" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{startTime_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->End Time </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="endTime" name="endTime"  [(ngModel)]="spServiceList.endTime" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{endTime_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="isActive" name="isActive"  [(ngModel)]="spServiceList.isActive" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Avail From </span>
                  </div>
				   <input readonly  type="text" 
			class="col-lg-6 form-control" 
			[(ngModel)]="spServiceList.availFrom" 
			name="availFrom" 
			bsDatepicker 
			[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" 
			name="availFrom" 
			placeholder="Avail From" 
			value="{{spServiceList.availFrom | date: 'yyyy-MM-dd'}}">
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{availFrom_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Avail To </span>
                  </div>
				   <input readonly  type="text" 
			class="col-lg-6 form-control" 
			[(ngModel)]="spServiceList.availTo" 
			name="availTo" 
			bsDatepicker 
			[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" 
			name="availTo" 
			placeholder="Avail To" 
			value="{{spServiceList.availTo | date: 'yyyy-MM-dd'}}">
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{availTo_validationMessage}}</span>                </div> </tab> <tab> <ng-template tabHeading>
						<i class="icon-basket-loaded"></i> Details Information</ng-template> DatePicker
						Example: <input type="text" name="testDatepicker"
							placeholder="Datepicker" class="form-control" bsDatepicker>

						Dropdown Example : <ng-select [items]="simpleItems"
							name="simpleItem" [(ngModel)]="selectedSimpleItem"> </ng-select>

						</tab> </tabset>


					</div>
					<div class="card-footer">
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear"
							(ngClick)="clearSpServiceListFormFields()" class="btn btn-warning">

					</div>
				</form>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
