<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Approval Queue Entry Form
						<div class="card-header-actions">
							<a href="#globalSetup/approvalQueues"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processApprovalQueueForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="approvalQueue.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Approval Process<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="approvalQueue.approvalProcess" class="col-lg-12" autocomplete="approvalProcess" name="approvalProcess"  [(ngModel)]="approvalQueue.approvalProcess.id"> 
						<ng-option *ngFor="let approvalProcess of approvalProcesss" [value]="approvalProcess.id">{{approvalProcess.processName}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!approvalQueue.approvalProcess" class="col-lg-12" autocomplete="approvalProcess" name="approvalProcess"  [(ngModel)]="approvalQueue.approvalProcess"> 
						  <ng-option *ngFor="let approvalProcess of approvalProcesss" [value]="approvalProcess">{{approvalProcess.processName}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{approvalProcess_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active <span style='color:red'>*</span></span>
                  </div>
					<label class="switch switch-3d switch-success">                  <input type="checkbox"  class="switch-input" name="isActive"  [(ngModel)]="approvalQueue.isActive" >
					<span class="switch-slider"></span></label>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Attachment </span>
                  </div>
				   <input type="file" id="avatar" (change)="onAttachmentFileChange($event)">
							
							<textarea rows="3" cols="4" class="col-lg-6 form-control" [hidden]="true"
								autocomplete="attachment" name="attachment"
								[(ngModel)]="approvalQueue.attachment" required>{{attachment}}</textarea>
								<div class="col-lg-3 input-group mb-3"><img width="200" height="200" [hidden]="approvalQueue.attachment==null" class="card-img-top home-image" src="{{approvalQueue.attachment}}"/></div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{attachment_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Approval Message </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="approvalMessage" name="approvalMessage"  [(ngModel)]="approvalQueue.approvalMessage" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{approvalMessage_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearApprovalQueueFormFields()" class="btn btn-warning">
						<span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="true" class="col-lg-3 form-control alert alert-warning">
							
						</span>
						<!-- span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span-->						
					</div>
			</div>
		</div>

	</div>
</div>
