<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> Approval Queue Details
					<div class="card-header-actions">
						<a href="#globalSetup/approvalQueues"> <small
							class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
						</a>
					</div>
				</div>
				<div class="card-body" id="printApprovalQueueFormContainer">
					
						<input type="hidden" name="id" class="form-control"
							[(ngModel)]="approvalQueue.id" name="id">
						
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Approval Process</span>
                  </div>
				  <div  *ngIf="approvalQueue.approvalProcess"> {{approvalQueue.approvalProcess.processName}}</div>
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active</span>
                  </div>
                  {{approvalQueue.isActive}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Attachment</span>
                  </div>
                  <div class="col-lg-3 input-group mb-3"><img width="200" height="200" [hidden]="approvalQueue.attachment==null" class="card-img-top home-image" src="{{approvalQueue.attachment}}"></div>
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Approval Message</span>
                  </div>
                  {{approvalQueue.approvalMessage}}
                </div>
						
					   
				</div>
				<div class="card-footer">
				   <button class="btn btn-primary" (click)="approvalQueueEditAction()"><i class="fa fa-edit fa-lg"></i></button>
				   <button class="btn btn-primary" (click)="printApprovalQueueDetails()"><i class="fa fa-print fa-lg"></i></button>
				</div>
			</div>
		</div>

	</div>
</div>
