<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Approver Admin Entry Form
						<div class="card-header-actions">
							<a href="#globalSetup/approverAdmins"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processApproverAdminForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="approverAdmin.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Name <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="name" name="name"  [(ngModel)]="approverAdmin.name" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{name_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Designation </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="designation" name="designation"  [(ngModel)]="approverAdmin.designation" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{designation_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->User<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="approverAdmin.user" class="col-lg-12" autocomplete="user" name="user"  [(ngModel)]="approverAdmin.user.id"> 
						<ng-option *ngFor="let user of users" [value]="user.id">{{user.userName}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!approverAdmin.user" class="col-lg-12" autocomplete="user" name="user"  [(ngModel)]="approverAdmin.user"> 
						  <ng-option *ngFor="let user of users" [value]="user">{{user.userName}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{user_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active <span style='color:red'>*</span></span>
                  </div>
					<label class="switch switch-3d switch-success">                  <input type="checkbox"  class="switch-input" name="isActive"  [(ngModel)]="approverAdmin.isActive" >
					<span class="switch-slider"></span></label>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearApproverAdminFormFields()" class="btn btn-warning">
						<span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="true" class="col-lg-3 form-control alert alert-warning">
							
						</span>
						<!-- span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span-->						
					</div>
			</div>
		</div>

	</div>
</div>
