<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front modalDialogHolder" style="height: auto; top: 840px; left: 141.5px; display: block; margin-top: 30px;" tabindex="-1" role="dialog" aria-describedby="ui-id-3" aria-labelledby="ui-id-4"><div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"><span id="ui-id-4" class="ui-dialog-title">&nbsp;</span><button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" aria-disabled="false" title="X"><span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span><span class="ui-button-text">X</span></button></div><div class="dialogContent  ui-dialog-content ui-widget-content popProfile" id="ui-id-3" style="display: block; width: auto; min-height: 131px; max-height: none; height: auto;">
<script type="text/javascript">
    $(document).ready(function() {

        $('input:text').each(function() {
            if ($(this).val() == "") {
                $(this).val($(this).attr('title'));
            } else {
                if ($(this).val() != $(this).attr('title')) {
                    $(this).addClass('activeBlink');
                }
            }
        });
        $('#backToResult').click(function () {
            history.back();});
    });

</script>


<div>
    <a id="backToResult">&lt;&lt; Back</a>
</div>
<div class="confirm-overlay confirm-hidden confirm-hidden-Mark-Complete">
</div>
<div class="confirm-pop-up confirm-hidden" style="max-width: 350px">
    <div class="confirm-pop-up-t">
        <h2>Confirmation</h2>
    </div>
    <div class="confirm-pop-up-c">
        <p class="info-text">
            Are you sure you want to delete this?
        </p>
        <a class="btn confirm-link">Yes</a>
            <a class="btn close-confirm-pop-up">No</a>
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function() {        
        $('#careGiverHeader').parent('div.dialogContent').addClass('popProfile');

        $('#CaregiverAverageRating').click(function (event) {
            if ($(event.target).hasClass('RatingAnchors')) {
                return;
            }
            if ('False' == 'True') {
                $.get('/app/Caregiver/MyProfile/GetCaregiverRatingsHistory?caregiverAccountId=09114c60-9973-4924-9a7a-46258a84951e', function (data) {
                    openDialog(data);
                });
            } else {
                ShowPlainMessage("caregiverInfoHolder", "You can only rate caregivers who have applied to your job post or have worked for you.", "Warning");
            }
        });

            
            //clicking anywhere on the save & hire button should trigger the action
        $('.iconHire, .iconSave, .iconRemove, .iconForward, .invoice-bot , .iconInterview, .iconNote, .iconPrint').on('click', function (event) {
            var target = $(event.target);
            if (!target.is("a")) { //trigger the anchor link only if the user clicked on li but anywhere outside the anchor link.
                $(this).find('a')[0].click();
        }
        });
        
    });

    function openCaregiverIdlePopUp() {
        var continueButtonClicked = false;
        $.get('/app/Caregiver/MyProfile/OpenCaregiverIdlePopUp', function (data) {
            openDialog(data, null, null, null, function (e) {
                if (!continueButtonClicked)
                {
                    $('.popProfile').parent().remove();
                }
            });
            $('#ContinueToProfile').click(function () {
                continueButtonClicked = true;
                closeDialog(this);
            });
        });
    }

    function RefreshProfile() {
        $.get('/app/Caregiver/MyProfile/_ViewProfileInternal?careGiverId=09114c60-9973-4924-9a7a-46258a84951e', function(data) {
                $('.popProfile').html(data);
            });
        }

        function BackgroundCheckRequestError(response, status, error) {
            alert("Unable to complete the request for backgroundcheck. Please try again.");
        }
        function BackgroundCheckRequestSent(response, status, data) {

            var msg;
            if (response.status == "Pending")
                msg = "There is already a pending request. Please allow 3-4 days for processing. Please contact your Care Coach if you have not received the background check within this time period.";
            else if (response.status == "Approved")
                msg = "This request has already been approved. Please allow 3-4 days for processing. Please contact your Care Coach if you have not received the background check within this time period.";
            else if (response.status == "Denied")
                msg = "This request has already been denied.";
            else
                msg = "Your request has been submitted and documentation of the request has been sent to your inbox. Please allow 3-4 days for processing. Please contact your Care Coach if you have not received the background check within this time period.";

            ShowPlainMessage("caregiverInfoHolder", msg, "Background Check Request");
            $('.okbutton').click(RefreshProfile);

        }
</script>
    <script type="text/javascript">
    $(document).ready(function () {
        sendMessageBox();
        if ('False' == 'True') {
                $('.send-message-pop-up').trigger('click');
            }
        });

        function InvitationMessage(xhr, status, id) {
            ShowPlainMessage(id, "Request has been sent to the user.", 'Error');
        }

    </script>

    <div id="careGiverHeader">
        <img src="/app/MyProfile/ShowImageByAttachmentID?attachmentID=8aae84b7-96bc-4e49-9a21-9edaec303f05&amp;maxWidth=150&amp;maxHeight=150" width="150" height="150">

        <h1>
            Harold  (Hal) L 
                <span>Arvada, Colorado</span>
                    <small>2.05 miles away</small>
            
            <span id="RatingAnchors">
                
            </span>
        </h1>

        <h2 class="borders">
87<small>yrs</small><span>age</span>
        </h2>
        <h2>
55<small>yr(s)</small><span>experience</span>
    </h2>
</div>
    <div id="careGiverLinks">
                <span class="otherResults hidden">
<a href="/app/Caregiver/FindCaregivers/SearchLocalCaregivers?zipcode=80004"> See other caregivers in Arvada, CO</a>
                </span>
        <ul id="shortCode">

            <li class="iconPrint ">
                <span class="fa fa-print fa-2x"></span>
                <a href="/app/Coordinator/FindCaregivers/GetFileDataForCaregiver?caregiverAccountId=09114c60-9973-4924-9a7a-46258a84951e" target="_blank">Print</a>
            </li>

            
            <li class="iconNote ">
                <span class="fa fa-file-text-o fa-2x"></span>
                <a class="first " data-ajax="true" data-ajax-success="openDialog(data,'caregiverNoteDialog')" href="/app/Caregiver/MyProfile/AddEditCaregiverNote?caregiverEntityId=09114c60-9973-4924-9a7a-46258a84951e" id="CaregiverNote">Notes</a>
            </li>

            

                    <li class="iconInterview ">
                        <span></span>
                        <a class="first" data-ajax="true" data-ajax-success="openDialog(data,'interviewDialog')" href="/app/Caregiver/MyProfile/CaregiverInterview?careGiverId=09114c60-9973-4924-9a7a-46258a84951e&amp;zipCode=80004" id="CaregiverInterviewTrigger" onclick="return ValidateUser('Interview');">Interview</a>
                    </li>

                <li class="iconSave ">
                    <span></span>
<a class="" data-ajax="true" data-ajax-failure="OnAjaxFailure(xhr, status, error, 'careGiverLinks')" data-ajax-success="ReloadProspects('save');" href="/app/Caregiver/MyProfile/SaveCaregiverAsProspectForCurrentUser?caregiverID=09114c60-9973-4924-9a7a-46258a84951e&amp;randNo=636835117601040989">Save</a>
                </li>
                            <li id="09114c60-9973-4924-9a7a-46258a84951e" class="invoice-bot " typeof="local">
                    <span></span>

                    <a class="send-message-pop-up" data-ajax="true" data-ajax-success="openDialog(data,'sendMsgDialog',600)" href="/app/DashBoard/AddAnotherRecipient?toEmailAddress=haroldlaybourn%2BCaregiver%40gmail.com&amp;firstName=Harold%20%20(Hal)&amp;lastName=L&amp;isLocal=True&amp;caregiverId=09114c60-9973-4924-9a7a-46258a84951e" id="openPopupSuccess">Message</a>
                </li>

            <li class="iconForward ">
                <span></span>
                <a class="rforward" data-ajax="true" data-ajax-success="openDialog(data,'forwardCgDialog',800)" href="/app/Caregiver/MyProfile/ForwardCaregiver?caregiverID=09114c60-9973-4924-9a7a-46258a84951e&amp;caregiverFirstName=Harold%20%20(Hal)&amp;caregiverLastName=Laybourn">Forward</a>
            </li>

        </ul>
    </div>
    <article id="caregiver1" class="careGiver">
        <div id="caregiverInfoHolder">
            <header class="careHeading"></header>
            <section class="careDetails">
                <div>
                    <div class="careSkills hidden">
                            <span>Background Check Available</span>
                                                                                                                            <span>Email Verified</span>
                                            </div>
                </div>
            </section>
                <section id="otherOptions">
                        <span class="orangeSpan hidden">
                            <a class="first" href="/app/Caregiver/MyProfile/CaregiverInterview?careGiverId=09114c60-9973-4924-9a7a-46258a84951e&amp;zipCode=80004" onclick="return ValidateUser('Interview');">Interview with CareFamily</a>
                        </span>
                </section>
                        <div class="clear"></div>
        </div>
    </article>
    <section class="profileDetails">
        
<style>
    .nextLine {
        border-bottom: 1px solid #d5d5d5;
        padding-bottom: 20px;
    }

    audio {
        width: 100% !important;
    }
</style>
<script type="text/javascript">

    $(document).on('click', 'a#showAudio', function () {
        $(this).parents('#hideAllAudio').find('#audio').hide();
        $(this).parents('.adr').find('#audio').css('display', 'block');
        try {
            $(this).parents('.adr').find('#audio #reference_Audio').get(0).play();
        }
        catch (err) {
            $(this).parents('.adr').find('object').get(0).SetVariable('player:jsPlay', '');
        }
    });
    $(document).on('click', 'body', function (e) {
        var tar = $(e.target);
        if (!tar.parents().is("#audio") && !tar.is("#showAudio")) {
            $('#audio #reference_Audio').each(function () {
                try {
                    $(this).get(0).pause();
                }
                catch (err) {
                    $(this).siblings('object').get(0).SetVariable('player:jsPause', '');
                }
            });
            $("body").find("#audio").hide();
        }
    });

    function ShowBackgroundCheck(data) {
        openDialog(data, 'BackgroundCheckHolder');
    }
</script>
<div id="profileWrap">
    <div id="profileRight">

        <h3>Other Details</h3>
        <ul class="profileList">
                <li>
                    <span class="check">✓</span>Can drive customer
                </li>
                            <li>
                    <span class="check">✓</span>Does work with Alzheimer’s or dementia patients
                </li>

                <li>
                    <span class="check">✓</span>Does work with hospice patients
                </li>
                            <li>
                    <span class="check">✓</span>Willing to work around cats
                </li>
                            <li>
                    <span class="check">✓</span>Willing to work around dogs
                </li>
        </ul>

    </div>
    <div id="profileLeft">
        <!-- This is the beginning of the profile top stats -->
        <table id="priceAvailable" cellspacing="0" cellpadding="0">
            <tbody><tr>
                    <td class="greenBorder">
                                <em>$10</em>/hr
                            <span>hourly rate</span>

                    </td>
                    <td class="redBorder">
                                <em>N/A</em>
                            <span>live-in rate</span>

                    </td>
                <td class="blueBorder">
                        <em>PART</em>-time
                    <span>availability</span>
                </td>
            </tr>
        </tbody></table>

        <!-- This is the ending of the profile top stats -->



            <h3 class="settingsTitle fullwidth">Profile</h3>
            <ul class="settingsList fullwidth">
                <li class="whiteFix">
                    <p class="padding">In July of 2011 I moved to Arvada, CO from Oceanside, CA where I had lived for over 20 years and had been a volunteer for respite care and senior transportation for at least 12 years for Senior Companions of So CA and Elizabeth Hospice and the Hospice of North Coast.  I have my 4 door car and transport seniors with wheel chairs or whatever and am trained in transfer from chair to car.  For over 5 years I spent at least 6 hours a day one day a week, as respite care for a bed bound MS patient (as his wife needed to do shopping, etc.).
My recent experience for over a year( between 2014 and 2015 when she died) was caregiver for slightly Alzheimer's woman of 87 years, and the family has offered to provide their reference for my job search in the Arvada area.   More recently from Jan 2015 thru Dec 2016 was to dress and feed breakfast for physically handicapped young man to get ready for work at Arc Thrift Shop  (5 days a week  7am to 9:am.)  I'll have references from that position.</p>
                </li>
            </ul>

            <h3 class="settingsTitle fullwidth">Employment History</h3>
            <ul class="settingsList fullwidth">
                <li class="silos mobileHide">
                    <ul>
                        <li class="span20 firstTitle bLeft">Employer</li>
                        <li class="span25 center bLeft">Position</li>
                        <li class="span20 center bLeft">Location</li>
                        <li class="span10 center bLeft">From</li>
                        <li class="span10 center bLeft">To</li>
                        <li class="span15 center bLeft">Document</li>
                    </ul>
                </li>

                    <li class="heightAuto width100 mobileHeightAuto">
                        <ul>
                            <li class="span20 first mobile100 mobileLeft overflowHidden mobileNoIndent">
                                <span class="mobileInline mobileLabel">Employer:</span>Chevron Oil Co
                            </li>
                            <li class="span25 center mobile100 mobileLeft overflowHidden mobileNoIndent">
                                <span class="mobileInline mobileLabel">Position:</span>Regional Geophysicist
                            </li>
                            <li class="span20 center mobile100 mobileLeft overflowHidden mobileNoIndent">
                                <span class="mobileInline mobileLabel">Location:</span>Bakersfield,  CA
                            </li>
                            <li class="span10 center mobileHide">
                                1/1/76
                            </li>
                            <li class="span10 center mobile100 mobileLeft overflowHidden mobileNoIndent">
                                <span class="mobileInline mobileLabel">From:</span>
                                <label class="mobileInline mobileLabel">1/1/76&nbsp;-&nbsp;</label>
10/11/12                            </li>
                            <li class="span15 center mobile100 mobileLeft overflowHidden mobileNoIndent">
                                <span class="mobileInline mobileLabel">Work Related Document:</span>
                                    <span>N/A</span>
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </li>
            </ul>


                <h3 class="settingsTitle fullwidth">References</h3>
                <ul class="settingsList fullwidth">
                    <li class="silos mobileHide">
                        <ul>
                            <li class="span30 firstTitle bLeft">Name</li>
                            <li class="span40 center bLeft">Personal Note</li>
                            <li class="span30 center bLeft">Audio Reference</li>
                        </ul>
                    </li>
                        <li referncid="c40b6379-9360-47d9-985c-848a0f411bd2" class="heightAuto width100 mobileHeightAuto">
                            <ul>
                                <li class="span30 first mobile100 mobileLeft overflowHidden mobileNoIndent">
                                    <span class="mobileInline mobileLabel">Name:</span>
                                    Renee Walbert
                                        <span style="font-size: 12px; color: #999999">(Unverified)</span>
                                </li>
                                <li class="span40 mobile100 mobileLeft overflowHidden mobileNoIndent">
                                    <span class="mobileInline mobileLabel">Note:</span> &nbsp;
                                </li>
                                <li class="span30 center adr mobile100 mobileLeft overflowHidden mobileNoIndent">
                                    <span class="mobileInline mobileLabel">Audio:</span>
                                         Not Available
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </li>
                        <li referncid="683c11c7-d642-4430-82ba-8701465b6543" class="heightAuto width100 mobileHeightAuto">
                            <ul>
                                <li class="span30 first mobile100 mobileLeft overflowHidden mobileNoIndent">
                                    <span class="mobileInline mobileLabel">Name:</span>
                                    Annette Crescentimi
                                        <span style="font-size: 12px; color: #999999">(Unverified)</span>
                                </li>
                                <li class="span40 mobile100 mobileLeft overflowHidden mobileNoIndent">
                                    <span class="mobileInline mobileLabel">Note:</span> &nbsp;
                                </li>
                                <li class="span30 center adr mobile100 mobileLeft overflowHidden mobileNoIndent">
                                    <span class="mobileInline mobileLabel">Audio:</span>
                                         Not Available
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </li>
                        <li referncid="dd30492d-b677-4fb5-86d2-dc7a35c21fcc" class="heightAuto width100 mobileHeightAuto">
                            <ul>
                                <li class="span30 first mobile100 mobileLeft overflowHidden mobileNoIndent">
                                    <span class="mobileInline mobileLabel">Name:</span>
                                    Joyce Swan
                                        <span style="font-size: 12px; color: #999999">(Unverified)</span>
                                </li>
                                <li class="span40 mobile100 mobileLeft overflowHidden mobileNoIndent">
                                    <span class="mobileInline mobileLabel">Note:</span> &nbsp;
                                </li>
                                <li class="span30 center adr mobile100 mobileLeft overflowHidden mobileNoIndent">
                                    <span class="mobileInline mobileLabel">Audio:</span>
                                         Not Available
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </li>
                </ul>
        <div class="clear"></div>
            <h3 class="settingsTitle fullwidth">Training</h3>
            <ul class="settingsList fullwidth">
                <li class="silos mobileHide">
                    <ul>
                        <li class="span25 firstTitle bLeft">Type</li>

                        <li class="span10 center bLeft">Month</li>
                        <li class="span10 center bLeft">Year</li>
                        <li class="span40 center bLeft">Description</li>
                        <li class="span15 center bLeft">Certificate</li>
                    </ul>
                </li>

                        <li class="heightAuto width100 mobileHeightAuto">
                            <ul>
                                <li class="span25 first mobile100 mobileLeft overflowHidden mobileNoIndent">
                                    <span class="mobileInline mobileLabel">Type:</span>Home Attendant
                                </li>
                                <li class="span10 center mobile100 mobileLeft overflowHidden mobileNoIndent">
                                    <span class="mobileInline mobileLabel">Date:</span>Jan<label class="mobileInline"> 2013</label>
                                </li>

                                <li class="span10 center mobileHide">
                                    2013
                                </li>
                                <li class="span40 mobile100 mobileLeft overflowHidden mobileNoIndent">
                                    <span class="mobileInline mobileLabel">Description:</span>50 hours training with Home Instead (agency)  good work for 2 older men, but no additional clients available now
                                </li>
                                <li class="span15 center mobile100 mobileLeft overflowHidden mobileNoIndent">
                                    <span class="mobileInline mobileLabel">Certificate:</span>
                                        <span>N/A</span>
                                </li>
                            </ul>
                            <div class="clear"></div>
                        </li>
                            </ul>
        <div class="clear"></div>
            <h3 class="settingsTitle fullwidth">Education</h3>
            <ul class="settingsList fullwidth">
                <li class="silos mobileHide">
                    <ul>
                        <li class="span40 firstTitle bLeft">School Name</li>
                        <li class="span10 center bLeft">From</li>
                        <li class="span10 center bLeft">To</li>
                        <li class="span40 center bLeft">Degree</li>
                    </ul>
                </li>

                    <li class="heightAuto width100 mobileHeightAuto">
                        <ul>
                            <li class="span40 first mobile100 mobileLeft overflowHidden mobileNoIndent">
                                <span class="mobileInline mobileLabel">School Name:</span>Longmont, CO High School; U of CO  BA, geology
                            </li>
                            <li class="span10 center mobileHide">
                                1949
                            </li>
                            <li class="span10 center mobile100 mobileLeft overflowHidden mobileNoIndent">
                                <span class="mobileInline mobileLabel">From:</span><label class="mobileInline">1949 - </label>1953
                            </li>
                            <li class="span40 center mobile100 mobileLeft overflowHidden mobileNoIndent">
                                <span class="mobileInline mobileLabel">Degree:</span>Bachelor’s Degree
                            </li>
                        </ul>
                        <div class="clear"></div>
                    </li>
            </ul>
                    <h3 class="settingsTitle fullwidth">Related Interests &amp; Hobbies</h3>
            <ul class="settingsList fullwidth">
                <li class="whiteFix">
                    <p class="padding">Singing in church choirs (several when moving about over last 50 years.
Presently singing with Alpine Chorale in Arvada  and Trinity Presbyterian Church in Arvada (I need to be available for church  Sun AM)</p>
                </li>
            </ul>


                    <h3 class="settingsTitle fullwidth">Languages</h3>
                    <ul class="settingsList fullwidth">
                            <li class="whiteFix">
                                <p class="padding">English</p>
                            </li>
                            <li class="whiteFix">
                                <p class="padding">Spanish</p>
                            </li>

                    </ul>
                    <h3 class="settingsTitle fullwidth">Experience With</h3>
                    <ul class="settingsList fullwidth">
                            <li class="whiteFix">
                                <p class="padding">ALS</p>
                            </li>
                            <li class="whiteFix">
                                <p class="padding">Dementia/Alzheimer's Disease</p>
                            </li>
                            <li class="whiteFix">
                                <p class="padding">Blood Disorders</p>
                            </li>
                            <li class="whiteFix">
                                <p class="padding">Cancer Recovery</p>
                            </li>
                            <li class="whiteFix">
                                <p class="padding">Diabetes</p>
                            </li>
                            <li class="whiteFix">
                                <p class="padding">Hospice Care</p>
                            </li>
                            <li class="whiteFix">
                                <p class="padding">Multiple Sclerosis</p>
                            </li>
                            <li class="whiteFix">
                                <p class="padding">Parkinson's Disease</p>
                            </li>
                            <li class="whiteFix">
                                <p class="padding">Skin Disorders</p>
                            </li>
                            <li class="whiteFix">
                                <p class="padding">Stroke</p>
                            </li>
                            <li class="whiteFix">
                                <p class="padding">Quadriplegia</p>
                            </li>
                            <li class="whiteFix">
                                <p class="padding">First Aid Training</p>
                            </li>
                            <li class="whiteFix">
                                <p class="padding">Transferring/Balance Support</p>
                            </li>
                            <li class="whiteFix">
                                <p class="padding">Feeding Tube</p>
                            </li>

                    </ul>



    </div>
    <div class="clear"></div>
</div>


    </section>
</div></div>