<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Customer Job Entry Form
						<div class="card-header-actions">
							<a href="#customerPanel/customerJobs"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processCustomerJobForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="customerJob.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Job Details </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="jobDetails" name="jobDetails"  [(ngModel)]="customerJob.jobDetails" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{jobDetails_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Created Date </span>
                  </div>
				   <input readonly  type="text" 
			class="col-lg-6 form-control" 
			[(ngModel)]="customerJob.createdDate" 
			name="createdDate" 
			bsDatepicker 
			[bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }" 
			name="createdDate" 
			placeholder="Created Date" 
			value="{{customerJob.createdDate | date: 'yyyy-MM-dd'}}">
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{createdDate_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->From Time </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="fromTime" name="fromTime"  [(ngModel)]="customerJob.fromTime" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{fromTime_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->To Time </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="toTime" name="toTime"  [(ngModel)]="customerJob.toTime" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{toTime_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Approval Status </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="approvalStatus" name="approvalStatus"  [(ngModel)]="customerJob.approvalStatus" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{approvalStatus_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearCustomerJobFormFields()" class="btn btn-warning">
						<span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="true" class="col-lg-3 form-control alert alert-warning">
							
						</span>
						<!-- span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span-->						
					</div>
			</div>
		</div>

	</div>
</div>
