<div class="animated fadeIn">
  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
              <i class="fa fa-align-justify"></i>
            Customer Job List
            <div class="card-header-actions">
                <div class="col-lg-12 input-group-prepend">
                    <input type="text" class="col-lg-6 form-control" [hidden]="!hasReadPermission" placeholder="Search Here..." autocomplete="searchToken" name="searchToken"  [(ngModel)]="searchToken">
                    <button class="btn btn-primary" [hidden]="!hasReadPermission" (click)="searchCustomerJob()"><i class="fa fa-search fa-lg"></i></button>

                    <button class="btn btn-primary" [hidden]="!hasCreatePermission" (click)="newCustomerJob()"><i class="fa fa-plus fa-lg"></i></button>
                    <button class="btn btn-primary" [hidden]="!hasReportPermission" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o fa-lg"></i></button>
                    <button class="btn btn-primary" [hidden]="!hasReportPermission" (click)="exportAsPDF()"><i class="fa fa-file-pdf-o fa-lg"></i></button>
                    <button class="btn btn-primary" [hidden]="!hasReportPermission" (click)="captureScreen()"><i class="fa fa-file-pdf-o fa-lg"></i></button>
                  </div>
                
              <!--a href="#">
                <small class="text-muted">Print</small>
              </a-->
            </div>
          </div>
          <div id="contentToConvert" class="card-body">
              <table class="table table-striped table-sm">
                  <thead>
                      
<th>Customer</th>
<th>Job Details</th>
<th>Created Date</th>
<th>From Time</th>
<th>To Time</th>
<th>Approval Status</th>
                      <th>View </th>
                      <th>Edit </th>
                      <th>Delete </th>
                  </thead>
                  <tbody>
                      <tr *ngFor="let customerJob of customerJobs">
                          
<td *ngIf="customerJob.customer">{{customerJob.customer.name}}</td>
<td *ngIf="!customerJob.customer"></td>
<td>{{customerJob.jobDetails}}</td>
<td>{{customerJob.createdDate | date: 'dd/MM/yyyy'}}</td>
<td>{{customerJob.fromTime}}</td>
<td>{{customerJob.toTime}}</td>
<td>{{customerJob.approvalStatus}}</td>
                          <!--td><button class="btn btn-success" data-toggle="modal" (click)="myModal.show()"><i class="fa fa-eye fa-lg"></i></button></td-->
                          <td><button class="btn btn-success" [disabled]=" !hasReadPermission" (click)="viewCustomerJob(customerJob)"><i class="fa fa-eye fa-lg"></i></button></td>
                          <td><button class="btn btn-primary" [disabled]="false || !hasEditPermission" (click)="editCustomerJob(customerJob)"><i class="fa fa-edit fa-lg"></i></button></td>
                          <td><button class="btn btn-danger" [disabled]="false ||  !hasDeletePermission" (click)="deleteCustomerJob(customerJob)"><i class="fa fa-trash fa-lg"></i></button></td>
                          
                      </tr>
                  </tbody>
              </table>
              
              
              
          </div>
          <div class="card-footer">
            
              <nav>
                <ul class="pagination">
                  <li class="page-item">
                  <button class="page-link" (click)="previousPage()" >Prev</button>
                </li>
                <li *ngFor='let in of counter(totalPages) ;let i = index'>
                    <button class="page-link" (click)="gotoPage(i)">{{i+1}}</button>
                </li>
                <li class="page-item">
                  <button class="page-link" (click)="nextPage()">Next</button>
                </li>
              </ul>
            </nav>
            <span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
          </div>
        </div>
        
      </div>
    </div>
  </div>

    
  
