<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Training Info Entry Form
						<div class="card-header-actions">
							<a href="#serviceProviderPanel/trainingInfos"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processTrainingInfoForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="trainingInfo.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Training Type</span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="trainingInfo.trainingType" class="col-lg-12" autocomplete="trainingType" name="trainingType"  [(ngModel)]="trainingInfo.trainingType.id"> 
						<ng-option *ngFor="let trainingType of trainingTypes" [value]="trainingType.id">{{trainingType.description}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!trainingInfo.trainingType" class="col-lg-12" autocomplete="trainingType" name="trainingType"  [(ngModel)]="trainingInfo.trainingType"> 
						  <ng-option *ngFor="let trainingType of trainingTypes" [value]="trainingType">{{trainingType.description}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{trainingType_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Month Year </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="monthYear" name="monthYear"  [(ngModel)]="trainingInfo.monthYear" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{monthYear_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Description </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="description" name="description"  [(ngModel)]="trainingInfo.description" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{description_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Certification Doc </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="certificationDoc" name="certificationDoc"  [(ngModel)]="trainingInfo.certificationDoc" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{certificationDoc_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Uploaded Date </span>
                  </div>
				   <input readonly  type="text" 
			class="col-lg-6 form-control" 
			[(ngModel)]="trainingInfo.uploadedDate" 
			name="uploadedDate" 
			bsDatepicker 
			[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" 
			name="uploadedDate" 
			placeholder="Uploaded Date" 
			value="{{trainingInfo.uploadedDate | date: 'yyyy-MM-dd'}}">
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{uploadedDate_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearTrainingInfoFormFields()" class="btn btn-warning">
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="false" class="col-lg-3 form-control alert alert-warning">
							This is warning message!
						</span>						
					</div>
			</div>
		</div>

	</div>
</div>
