<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> Training Info Details
					<div class="card-header-actions">
						<a href="#serviceProviderPanel/trainingInfos"> <small
							class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
						</a>
					</div>
				</div>
				<div class="card-body" id="printTrainingInfoFormContainer">
					
						<input type="hidden" name="id" class="form-control"
							[(ngModel)]="trainingInfo.id" name="id">
						
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Service Provider</span>
                  </div>
				  <div  *ngIf="trainingInfo.serviceProvider"> {{trainingInfo.serviceProvider.name}}</div>
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Training Type</span>
                  </div>
				  <div  *ngIf="trainingInfo.trainingType"> {{trainingInfo.trainingType.description}}</div>
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Month Year</span>
                  </div>
                  {{trainingInfo.monthYear}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Description</span>
                  </div>
                  {{trainingInfo.description}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Certification Doc</span>
                  </div>
                  {{trainingInfo.certificationDoc}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Uploaded Date</span>
                  </div>
                  {{trainingInfo.uploadedDate | date: 'yyyy-MM-dd'}}
                </div>
						
					   
				</div>
				<div class="card-footer">
				   <button class="btn btn-primary" (click)="trainingInfoEditAction()"><i class="fa fa-edit fa-lg"></i></button>
				   <button class="btn btn-primary" (click)="printTrainingInfoDetails()"><i class="fa fa-print fa-lg"></i></button>
				</div>
			</div>
		</div>

	</div>
</div>
