<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div id="content">
  <div class="container-fluid">
    <form method="post" class="form-inline" [formGroup]="searchUserForm" novalidate>
      <div class="form-group">
        <label for="foodName">Name</label>
        <input type="text" class="form-control" id="dd" formControlName="User_userName_eq" />
      </div>


      <button type="submit" (click)="searchUser()" class="btn btn-success">Submit</button>

    </form>



    <div class="widget-content nopadding ">

      <hot-table height="250" class="table table-bordered data-table" [columns]="columns" [data]="data"></hot-table>

      <!-- <hot-table hotId="hotInstance" class="table table-bordered data-table" height="250"  [settings]="settings"></hot-table> -->
      <button (click)="saveListData()" type="submit">Data </button>
    </div>

    <ul class="nav nav-pills">
      <li class="nav-item" *ngFor="let p of pages;let i=index">

        <a href="#" class="nav-link active" (click)="setPage(i+1,$event)">{{i+1}}</a>
      </li>
    </ul>

  </div>

</div>