p {
    font-family: Lato;
    padding: 15px;
  }
  
  .padding-big{
    padding: 10px;
  }
  
  
  .zoom:hover {
    transform: scale(1.2); 
  }
  body{
    font-family: "helvetica neue", verdana, helvetica, san-serif;
    color: #fff;
    background: #655643;
    }
  
  .special-container{
    background: #fff;
    border-radius: 4px;
    width: 940px;
    margin: 20px auto 5px auto;
    padding: 80px 30px 30px 30px;
    position: relative;
    text-align: center;
    box-shadow:  0px 0px 8px 2px rgba(0, 0, 0, 0.4);
    }
    .special-well{
      min-height: 450px;
      padding: 19px;
      margin-bottom: 20px;
      background-color: #f5f5f5;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    }
  
  
  p.well a{
    position:absolute;
  color: black;
  right:20px;
    margin: 0 auto;
    text-align: right;
    font-size: .8em;
  }
  a{ 
    color: #fff;
    text-decoration: none;
    }
  
  a:hover{
    color: #fff;
    text-decoration: underline;
    }
  
  /*h1{
    font-weight: 200;
    position: absolute;
    background: #80BCA3;
    border-bottom: 1px solid #447963;
    color: #fff;
    top: 0px;
    width: 980px;
    left: 0px;
    margin: 0;
    padding: 10px;
    text-align: left;
    border-radius: 4px 4px 0px 0px; 
    }*/
    .dashboard-container{
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    .special-h1{
      min-height: 50px;
      padding: 19px;
      margin-bottom: 20px;
        background: #80BCA3;
        border-bottom: 1px solid #447963;
      border: 1px solid #e3e3e3;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    }
  .btn-special{
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  .curved-rectangle p{
    font-family: georgia;
    font-style: italic;
    position: absolute;
    font-size: 60px;
    z-index: 700;
    top: 0px;
    left: 19px;
    }
    .curved-rectangle p a{ 
    margin-top:10px;
    bottom: 0px;
    left: 10px;
    color: rgb(22, 4, 4);
    font-family: georgia;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    z-index: 700;
    font-size: 10px;
    }
  .big-padding-top{
    padding-top: 40px;
  }
  .curved-rectangle.bronze p{  color: rgba(223,182,103,1);}
  .curved-rectangle.silver p{  color: rgba(160,160,160,1);}
  .curved-rectangle.shiny-steel p{  color: rgba(160,160,160,1);}
  .curved-rectangle.gold p{  color: rgba(242,215,50,1);}
  
  .curved-rectangle{
    cursor: pointer;
    content: "";
    width: 122px; 
    height: 122px;
    display: inline-block;
    position: relative;
    margin: 10px;
    top: 6px;
    margin-bottom:50px;
    border-radius: 50px;
    z-index: 500;
    box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, .1);
    }
  
  .curved-rectangle:after{
    content: "";
    width: 122px; 
    height: 122px;
    display: block;
    top: 4px;
    left: 4px;
    position: absolute;
    border-radius: 50px;
    z-index: 600;
    }
  
  .curved-rectangle:before{
    content: "";
    width: 130px; 
    height: 130px;
    display: block;
    position: relative;
    border-radius: 50px;
    z-index: 500;
    }
  
  .curved-rectangle:hover{
    top: -1px;
    transition: all .5s ease-in-out;
    box-shadow:  0px 0px 5px 1px rgba(0, 0, 0, .2);
    }
  
  .bronze{
    background: linear-gradient(45deg,  rgba(223,182,103,1) 0%,rgba(249,243,232,1) 56%,rgba(231,192,116,1) 96%); 
    }
  
  .bronze:before{
    background: linear-gradient(135deg,  #d19c35 0%,#f7e6c5 50%,#e8b558 100%);
    border: 1px solid #e6b86a;
    }
  
  .bronze:after{
    background: linear-gradient(45deg,  rgba(223,182,103,1) 0%,rgba(249,243,232,1) 56%,rgba(231,192,116,1) 96%);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(209,156,53,0.3);
    border-right: 1px solid rgba(209,156,53,0.5);
    box-shadow: inset 0px 0px 2px 2px rgba(153, 106, 26, .05);
    }
  
  .bronze:hover:after{
    background: linear-gradient(45deg,  rgba(223,182,103,1) 0%,rgba(249,243,232,1) 41%,rgba(231,192,116,1) 96%);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(209,156,53,0.3);
    border-right: 1px solid rgba(209,156,53,0.5);
    box-shadow: inset 0px 0px 2px 2px rgba(153, 106, 26, .05);
    }
  
  .silver{
    background: linear-gradient(45deg,  rgba(160,160,160,1) 0%,rgba(232,232,232,1) 56%);
    }
  
  .silver:before{
    background: linear-gradient(45deg,  rgba(181,181,181,1) 0%,rgba(252,252,252,1) 56%,rgba(232,232,232,1) 96%);
    border: 1px solid rgba(181,181,181,1);
    }
  
  
  .silver:after{
    background: linear-gradient(45deg,  rgba(181,181,181,1) 0%,rgba(252,252,252,1) 56%,rgba(232,232,232,1) 96%);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(160,160,160,0.3);
    border-right: 1px solid rgba(160,160,160,0.5);
    box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
    }
  
  .silver:hover:after{
    background: linear-gradient(45deg,  rgba(181,181,181,1) 0%,rgba(252,252,252,1) 38%,rgba(232,232,232,1) 96%);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(160,160,160,0.3);
    border-right: 1px solid rgba(160,160,160,0.5);
    box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
    }
  
  .gold{
  background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
  }
  
  .gold:before{
    background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
    border: 1px solid rgba(242,215,12,1);
    }
  
  
  .gold:after{
    background: linear-gradient(45deg,  rgba(242,215,12,1) 0%,rgba(255,255,255,1) 56%,rgba(252,235,0,1) 96%);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(242,215,12,0.3);
    border-right: 1px solid rgba(242,215,12,0.3);
    box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
    }
  
  .gold:hover:after{
    background: linear-gradient(45deg,  rgba(242,215,12,1) 3%,rgba(255,255,255,1) 39%,rgba(252,235,0,1) 100%);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(242,215,12,0.3);
    border-right: 1px solid rgba(242,215,12,0.3);
    box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
    }
  
    .shiny-steel{
    background: linear-gradient(45deg,  rgb(179, 174, 174),rgba(232,232,232,1) 56%);
    }
  
  .shiny-steel:before{
    background: linear-gradient(45deg,  rgba(181,181,181,1) 0%,rgba(252,252,252,1) 56%,rgba(232,232,232,1) 96%);
    border: 1px solid rgba(181,181,181,1);
    }
  
  
  .shiny-steel:after{
    background: linear-gradient(45deg,  rgba(181,181,181,1) 0%,rgba(252,252,252,1) 56%,rgba(232,232,232,1) 96%);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(160,160,160,0.3);
    border-right: 1px solid rgba(160,160,160,0.5);
    box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
    }
  
  .shiny-steel:hover:after{
    background: linear-gradient(45deg,  rgba(181,181,181,1) 0%,rgba(252,252,252,1) 38%,rgba(232,232,232,1) 96%);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(160,160,160,0.3);
    border-right: 1px solid rgba(160,160,160,0.5);
    box-shadow: inset 0px 0px 2px 2px rgba(150, 150, 150, .05);
    }