<div class="dashboard-container">
	<h1 class="special-h1"> welcome to Application
		<a *ngIf="loggedIn" class="btn btn-info" href="#" (click)="onLogout()" style="float:right"><i
			class="fa fa-lock"></i> Logout</a>
		<a *ngIf="!loggedIn" class="btn btn-info" href="#/login"><i
				class="fa fa-lock" style="float:right"></i> Login</a>
  </h1>
<div class="special-well ">
	<div class="curved-rectangle shiny-steel" *ngFor="let link of links; let i = index">
		<p>
			<i class='{{link.icon}}'></i>
			<a href="{{link.url}}"><b>{{link.text}}</b></a>			
		</p>	
  </div>
</div>
</div>


<p class="well">
   <a href="http://techpoint.pro">Tech - &copy;2018</a>
</p>