<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> User Group Details
					<div class="card-header-actions">
					    <button class="btn btn-primary" (click)="newUserGroup()"><i class="fa fa-plus fa-lg"></i></button>
						<a href="#globalSetup/userGroups"> <small
							class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
						</a>
					</div>
				</div>
				<div class="card-body" id="printUserGroupFormContainer">
						<!-- Nav tabs -->
						<tabset> 
							<tab> 
								<ng-template tabHeading> <i class="icon-calculator"></i> Basic Information</ng-template> 
								<input type="hidden" class="form-control" [(ngModel)]="userGroup.id" name="id"> 
								
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Name</span>
                  </div>
                  {{userGroup.name}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Meta Data</span>
                  </div>
                  {{userGroup.metaData}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Website Address</span>
                  </div>
                  {{userGroup.websiteAddress}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Phone No</span>
                  </div>
                  {{userGroup.phoneNo}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Email</span>
                  </div>
                  {{userGroup.email}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Address</span>
                  </div>
                  {{userGroup.address}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Currency</span>
                  </div>
                  {{userGroup.currency}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Image Address</span>
                  </div>
                  <img width="200" height="200" [hidden]="userGroup.imageAddress==null" class="card-img-top home-image" src="{{userGroup.imageAddress}}">
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->User</span>
                  </div>
				  <div  *ngIf="userGroup.user"> {{userGroup.user.userName}}</div>
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Created</span>
                  </div>
                  {{userGroup.created | date: 'yyyy-MM-dd'}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Updated</span>
                  </div>
                  {{userGroup.updated | date: 'yyyy-MM-dd'}}
                </div> 
								
							</tab> 
							<tab> 
								<ng-template tabHeading> <i class="icon-basket-loaded"></i> Details Information</ng-template> 
								DatePicker Example: <input type="text" name="testDatepicker" placeholder="Datepicker" class="form-control" bsDatepicker>
								
								Dropdown Example : <ng-select [items]="simpleItems" name="simpleItem"
													[(ngModel)]="selectedSimpleItem">
												</ng-select>
													
							</tab> 
						</tabset>
						
				</div>
				<div class="card-footer">
				   <button class="btn btn-primary" (click)="userGroupEditAction()"><i class="fa fa-edit fa-lg"></i></button>
				   <button class="btn btn-primary" (click)="printUserGroupDetails()"><i class="fa fa-print fa-lg"></i></button>
				   <span [hidden]="hideElement" class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span>
				</div>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
