<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> User Group Entry Form
						<div class="card-header-actions">
							<a href="#globalSetup/userGroups"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processUserGroupForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="userGroup.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Name <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="name" name="name"  [(ngModel)]="userGroup.name" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{name_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Meta Data <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="metaData" name="metaData"  [(ngModel)]="userGroup.metaData" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{metaData_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Website Address </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="websiteAddress" name="websiteAddress"  [(ngModel)]="userGroup.websiteAddress" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{websiteAddress_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Phone No </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="phoneNo" name="phoneNo"  [(ngModel)]="userGroup.phoneNo" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{phoneNo_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Email </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="email" name="email"  [(ngModel)]="userGroup.email" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{email_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Address </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="address" name="address"  [(ngModel)]="userGroup.address" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{address_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Currency </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="currency" name="currency"  [(ngModel)]="userGroup.currency" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{currency_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Image Address </span>
                  </div>
				   <input type="file" id="avatar" (change)="onImageAddressFileChange($event)">
							
							<textarea rows="3" cols="4" class="col-lg-6 form-control" [hidden]="true"
								autocomplete="imageAddress" name="imageAddress"
								[(ngModel)]="userGroup.imageAddress" required>{{imageAddress}}</textarea>
								<img width="200" height="200" [hidden]="userGroup.imageAddress==null" class="card-img-top home-image" src="{{userGroup.imageAddress}}">				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{imageAddress_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->User</span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="userGroup.user" class="col-lg-12" autocomplete="user" name="user"  [(ngModel)]="userGroup.user.id"> 
						<ng-option *ngFor="let user of users" [value]="user.id">{{user.userName}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!userGroup.user" class="col-lg-12" autocomplete="user" name="user"  [(ngModel)]="userGroup.user"> 
						  <ng-option *ngFor="let user of users" [value]="user">{{user.userName}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{user_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearUserGroupFormFields()" class="btn btn-warning">
						<span [hidden]="permissionValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span>
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="true" class="col-lg-3 form-control alert alert-warning">
							
						</span>
						<!-- span [hidden]="permissionValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span-->						
					</div>
			</div>
		</div>

	</div>
</div>
