<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Customer Entry Form
						<div class="card-header-actions">
							<a href="#adminPanel/customers"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processCustomerForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="customer.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Name <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="name" name="name"  [(ngModel)]="customer.name" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{name_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Security Number <span style='color:red'>*</span></span>
                  </div>
                  <input type="text" [disabled]="customer.id!=null" class="col-lg-6 form-control" autocomplete="securityNumber" name="securityNumber"  [(ngModel)]="customer.securityNumber" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{securityNumber_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Profile Image </span>
                  </div>
				   <input type="file" id="avatar" (change)="onProfileImageFileChange($event)">
							
							<textarea rows="3" cols="4" class="col-lg-6 form-control" [hidden]="true"
								autocomplete="profileImage" name="profileImage"
								[(ngModel)]="customer.profileImage" required>{{profileImage}}</textarea>
								<img width="200" height="200" [hidden]="customer.profileImage==null" class="card-img-top home-image" src="{{customer.profileImage}}">				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{profileImage_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Email <span style='color:red'>*</span></span>
                  </div>
                  <input type="text" [disabled]="customer.id!=null" class="col-lg-6 form-control" autocomplete="email" name="email"  [(ngModel)]="customer.email" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{email_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->User<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select [disabled]="customer.id!=null" *ngIf="customer.user" class="col-lg-12" autocomplete="user" name="user"  [(ngModel)]="customer.user.id"> 
						<ng-option *ngFor="let user of users" [value]="user.id">{{user.userName}}</ng-option> 
					</ng-select>
					<ng-select [disabled]="customer.id!=null" *ngIf="!customer.user" class="col-lg-12" autocomplete="user" name="user"  [(ngModel)]="customer.user"> 
						  <ng-option *ngFor="let user of users" [value]="user">{{user.userName}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{User_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="isActive" name="isActive"  [(ngModel)]="customer.isActive" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearCustomerFormFields()" class="btn btn-warning">
						<span [hidden]="permissionValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span>
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="true" class="col-lg-3 form-control alert alert-warning">
							
						</span>
						<!-- span [hidden]="permissionValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span-->						
					</div>
			</div>
		</div>

	</div>
</div>
