<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> Customer Details
					<div class="card-header-actions">
					    <button class="btn btn-primary" (click)="newCustomer()"><i class="fa fa-plus fa-lg"></i></button>
						<a href="#adminPanel/customers"> <small
							class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
						</a>
					</div>
				</div>
				<div class="card-body" id="printCustomerFormContainer">
						<!-- Nav tabs -->
						<tabset> 
							<tab> 
								<ng-template tabHeading> <i class="icon-calculator"></i> Basic Information</ng-template> 
								<input type="hidden" class="form-control" [(ngModel)]="customer.id" name="id"> 
								
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Name</span>
                  </div>
                  {{customer.name}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Security Number</span>
                  </div>
                  {{customer.securityNumber}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Profile Image</span>
                  </div>
                  <img width="200" height="200" [hidden]="customer.profileImage==null" class="card-img-top home-image" src="{{customer.profileImage}}">
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Email</span>
                  </div>
                  {{customer.email}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Created Date</span>
                  </div>
                  {{customer.createdDate | date: 'yyyy-MM-dd'}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->User</span>
                  </div>
				  <div  *ngIf="customer.user"> {{customer.user.userName}}</div>
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active</span>
                  </div>
                  {{customer.isActive}}
                </div> 
								
							</tab> 
							<tab> 
								<ng-template tabHeading> <i class="icon-basket-loaded"></i> Details Information</ng-template> 
								DatePicker Example: <input type="text" name="testDatepicker" placeholder="Datepicker" class="form-control" bsDatepicker>
								
								Dropdown Example : <ng-select [items]="simpleItems" name="simpleItem"
													[(ngModel)]="selectedSimpleItem">
												</ng-select>
													
							</tab> 
						</tabset>
						
				</div>
				<div class="card-footer">
				   <button class="btn btn-primary" (click)="customerEditAction()"><i class="fa fa-edit fa-lg"></i></button>
				   <button class="btn btn-primary" (click)="printCustomerDetails()"><i class="fa fa-print fa-lg"></i></button>
				   <span [hidden]="hideElement" class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span>
				</div>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
