<div class="animated fadeIn">
  <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
              <i class="fa fa-align-justify"></i>
            Customer List
            <div class="card-header-actions">
                <div class="col-lg-12 input-group-prepend">
                    <input type="text" class="col-lg-6 form-control" [hidden]="!hasReadPermission" placeholder="Search Here..." autocomplete="searchToken" name="searchToken"  [(ngModel)]="searchToken">
                    <button class="btn btn-primary" [hidden]="!hasReadPermission" (click)="searchCustomer()"><i class="fa fa-search fa-lg"></i></button>

                    <button class="btn btn-primary" [hidden]="!hasCreatePermission" (click)="newCustomer()"><i class="fa fa-plus fa-lg"></i></button>
                    <button class="btn btn-primary" [hidden]="!hasReportPermission" (click)="exportAsXLSX()"><i class="fa fa-file-excel-o fa-lg"></i></button>
                    <button class="btn btn-primary" [hidden]="!hasReportPermission" (click)="exportAsPDF()"><i class="fa fa-file-pdf-o fa-lg"></i></button>
                    <button class="btn btn-primary" [hidden]="!hasReportPermission" (click)="captureScreen()"><i class="fa fa-file-pdf-o fa-lg"></i></button>
                  </div>
                
              <!--a href="#">
                <small class="text-muted">Print</small>
              </a-->
            </div>
          </div>
          <div id="contentToConvert" class="card-body">
              <table class="table table-striped table-sm">
                  <thead>
                      
<th>Name</th>
<th>Security Number</th>
<th>Profile Image</th>
<th>Email</th>
<th>Created Date</th>
<th>User</th>
<th>Is Active</th>
                      <th>View </th>
                      <th>Edit </th>
                      <th>Delete </th>
                  </thead>
                  <tbody>
                      <tr *ngFor="let customer of customers">
                          
<td>{{customer.name}}</td>
<td>{{customer.securityNumber}}</td>
<td>{{customer.profileImage}}</td>
<td>{{customer.email}}</td>
<td>{{customer.createdDate | date: 'yyyy-MM-dd'}}</td>
<td *ngIf="customer.user">{{customer.user.userName}}</td>
<td *ngIf="!customer.user"></td>
<td>{{customer.isActive}}</td>
                          <!--td><button class="btn btn-success" data-toggle="modal" (click)="myModal.show()"><i class="fa fa-eye fa-lg"></i></button></td-->
                          <td><button class="btn btn-success" [disabled]=" !hasReadPermission" (click)="viewCustomer(customer)"><i class="fa fa-eye fa-lg"></i></button></td>
                          <td><button class="btn btn-primary" [disabled]="false || !hasEditPermission" (click)="editCustomer(customer)"><i class="fa fa-edit fa-lg"></i></button></td>
                          <td><button class="btn btn-danger" [disabled]="false ||  !hasDeletePermission" (click)="deleteCustomer(customer)"><i class="fa fa-trash fa-lg"></i></button></td>
                          
                      </tr>
                  </tbody>
              </table>
              
              
              
          </div>
          <div class="card-footer">
            
              <nav>
                <ul class="pagination">
                  <li class="page-item">
                  <button class="page-link" (click)="previousPage()" >Prev</button>
                </li>
                <li *ngFor='let in of counter(totalPages) ;let i = index'>
                    <button class="page-link" (click)="gotoPage(i)">{{i+1}}</button>
                </li>
                <li class="page-item">
                  <button class="page-link" (click)="nextPage()">Next</button>
                </li>
              </ul>
            </nav>
            <span [hidden]="permissionValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span>
          </div>
        </div>
        
      </div>
    </div>
  </div>

    
  
