<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> Role Details
					<div class="card-header-actions">
						<a href="#globalSetup/roles"> <small
							class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
						</a>
					</div>
				</div>
				<div class="card-body" id="printRoleFormContainer">
					
						<input type="hidden" name="id" class="form-control"
							[(ngModel)]="role.id" name="id">
						
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Name</span>
                  </div>
                  {{role.name}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Users</span>
                  </div>
				  <div  *ngIf="role.user"> {{role.user.userName}}</div>
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Created Date</span>
                  </div>
                  {{role.createdDate | date: 'yyyy-MM-dd'}}
                </div>
						
					   
				</div>
				<div class="card-footer">
				   <button class="btn btn-primary" (click)="roleEditAction()"><i class="fa fa-edit fa-lg"></i></button>
				   <button class="btn btn-primary" (click)="printRoleDetails()"><i class="fa fa-print fa-lg"></i></button>
				</div>
			</div>
		</div>

	</div>
</div>
