<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<form (ngSubmit)="processRoleForm()">
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Role Entry
						Form
						<div class="card-header-actions">
							<div class="col-lg-12 input-group-prepend">
								<a href="#globalSetup/roles"> <small
									class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
								</a>
							</div>

						</div>
					</div>
					<div class="card-body">
						<!-- Nav tabs -->
						<tabset> <tab id="printRoleFormContainer"> <ng-template
							tabHeading> <i class="icon-calculator"></i> Basic
						Information</ng-template> <input type="hidden" class="form-control"
							[(ngModel)]="role.id" name="id">
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Name </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="name" name="name"  [(ngModel)]="role.name" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{name_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Users</span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="role.user" class="col-lg-12" autocomplete="user" name="user"  [(ngModel)]="role.user.id"> 
						<ng-option *ngFor="let user of users" [value]="user.id">{{user.userName}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!role.user" class="col-lg-12" autocomplete="user" name="user"  [(ngModel)]="role.user"> 
						  <ng-option *ngFor="let user of users" [value]="user">{{user.userName}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{users_validationMessage}}</span>                </div> </tab> <tab> <ng-template tabHeading>
						<i class="icon-basket-loaded"></i> Details Information</ng-template> DatePicker
						Example: <input type="text" name="testDatepicker"
							placeholder="Datepicker" class="form-control" bsDatepicker>

						Dropdown Example : <ng-select [items]="simpleItems"
							name="simpleItem" [(ngModel)]="selectedSimpleItem"> </ng-select>

						</tab> </tabset>


					</div>
					<div class="card-footer">
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear"
							(ngClick)="clearRoleFormFields()" class="btn btn-warning">
						<span [hidden]="hideElement" class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span>
					</div>
				</form>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
