<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Role Entry Form
						<div class="card-header-actions">
							<a href="#globalSetup/roles"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processRoleForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="role.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Name </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="name" name="name"  [(ngModel)]="role.name" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{name_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Users</span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="role.user" class="col-lg-12" autocomplete="user" name="user"  [(ngModel)]="role.user.id"> 
						<ng-option *ngFor="let user of users" [value]="user.id">{{user.userName}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!role.user" class="col-lg-12" autocomplete="user" name="user"  [(ngModel)]="role.user"> 
						  <ng-option *ngFor="let user of users" [value]="user">{{user.userName}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{users_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearRoleFormFields()" class="btn btn-warning">
						<span [hidden]="hideElement" class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span>
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="false" class="col-lg-3 form-control alert alert-warning">
							This is warning message!
						</span>						
					</div>
			</div>
		</div>

	</div>
</div>
