<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<form (ngSubmit)="processDailyTaskForm()">
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Daily Task Entry
						Form
						<div class="card-header-actions">
							<div class="col-lg-12 input-group-prepend">
								<a href="#serviceProviderPanel/dailyTasks"> <small
									class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
								</a>
							</div>

						</div>
					</div>
					<div class="card-body">
						<!-- Nav tabs -->
						<tabset> <tab id="printDailyTaskFormContainer"> <ng-template
							tabHeading> <i class="icon-calculator"></i> Basic
						Information</ng-template> <input type="hidden" class="form-control"
							[(ngModel)]="dailyTask.id" name="id">
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->From Date </span>
                  </div>
				   <input readonly  type="text" 
			class="col-lg-6 form-control" 
			[(ngModel)]="dailyTask.fromDate" 
			name="fromDate" 
			bsDatepicker 
			[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" 
			name="fromDate" 
			placeholder="From Date" 
			value="{{dailyTask.fromDate | date: 'yyyy-MM-dd'}}">
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{fromDate_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Thru Date </span>
                  </div>
				   <input readonly  type="text" 
			class="col-lg-6 form-control" 
			[(ngModel)]="dailyTask.thruDate" 
			name="thruDate" 
			bsDatepicker 
			[bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-blue' }" 
			name="thruDate" 
			placeholder="Thru Date" 
			value="{{dailyTask.thruDate | date: 'yyyy-MM-dd'}}">
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{thruDate_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Start Time </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="startTime" name="startTime"  [(ngModel)]="dailyTask.startTime" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{startTime_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->End Time </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="endTime" name="endTime"  [(ngModel)]="dailyTask.endTime" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{endTime_validationMessage}}</span>                </div> </tab> <tab> <ng-template tabHeading>
						<i class="icon-basket-loaded"></i> Details Information</ng-template> DatePicker
						Example: <input type="text" name="testDatepicker"
							placeholder="Datepicker" class="form-control" bsDatepicker>

						Dropdown Example : <ng-select [items]="simpleItems"
							name="simpleItem" [(ngModel)]="selectedSimpleItem"> </ng-select>

						</tab> </tabset>


					</div>
					<div class="card-footer">
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear"
							(ngClick)="clearDailyTaskFormFields()" class="btn btn-warning">

					</div>
				</form>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
