<div class="animated fadeIn">
	<div class="row">

		<div class="col-md-12 mb-4">

			<div class="card">
				<form (ngSubmit)="processMessageReceiverForm()">
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Message Receiver Entry
						Form
						<div class="card-header-actions">
							<div class="col-lg-12 input-group-prepend">
								<a href="#globalSetup/messageReceivers"> <small
									class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
								</a>
							</div>

						</div>
					</div>
					<div class="card-body">
						<!-- Nav tabs -->
						<tabset> 
						<tab id="printMessageReceiverFormContainer"> <ng-template
							tabHeading> <i class="icon-calculator"></i> Basic
						Information</ng-template> <input type="hidden" class="form-control"
							[(ngModel)]="messageReceiver.id" name="id">
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Name <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="name" name="name"  [(ngModel)]="messageReceiver.name" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{name_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Designation </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="designation" name="designation"  [(ngModel)]="messageReceiver.designation" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{designation_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->User<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select  *ngIf="messageReceiver.user" class="col-lg-12" autocomplete="user" name="user"  [(ngModel)]="messageReceiver.user.id"> 
						<ng-option *ngFor="let user of users" [value]="user.id">{{user.userName}}</ng-option> 
					</ng-select>
					<ng-select  *ngIf="!messageReceiver.user" class="col-lg-12" autocomplete="user" name="user"  [(ngModel)]="messageReceiver.user"> 
						  <ng-option *ngFor="let user of users" [value]="user">{{user.userName}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{user_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active <span style='color:red'>*</span></span>
                  </div>
					<label class="switch switch-3d switch-success">                  <input type="checkbox"  class="switch-input" name="isActive"  [(ngModel)]="messageReceiver.isActive" >
					<span class="switch-slider"></span></label>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>                </div> 
						</tab> 
						
						<!--tab> <ng-template tabHeading>
						<i class="icon-basket-loaded"></i> Details Information</ng-template> DatePicker
						Example: <input type="text" name="testDatepicker"
							placeholder="Datepicker" class="form-control" bsDatepicker>

						Dropdown Example : <ng-select [items]="simpleItems"
							name="simpleItem" [(ngModel)]="selectedSimpleItem"> </ng-select>

						</tab--> 
						</tabset>


					</div>
					<div class="card-footer">
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear"
							(click)="clearMessageReceiverFormFields()" class="btn btn-warning">
						<span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
					</div>
				</form>
			</div>

		</div>
		<!--/.col-->

	</div>
	<!--/.row-->
</div>
