<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> Message Receiver Details
					<div class="card-header-actions">
						<a href="#globalSetup/messageReceivers"> <small
							class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
						</a>
					</div>
				</div>
				<div class="card-body" id="printMessageReceiverFormContainer">
					
						<input type="hidden" name="id" class="form-control"
							[(ngModel)]="messageReceiver.id" name="id">
						
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Name</span>
                  </div>
                  {{messageReceiver.name}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Designation</span>
                  </div>
                  {{messageReceiver.designation}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->User</span>
                  </div>
				  <div  *ngIf="messageReceiver.user"> {{messageReceiver.user.userName}}</div>
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Is Active</span>
                  </div>
                  {{messageReceiver.isActive}}
                </div>
						
					   
				</div>
				<div class="card-footer">
				   <button class="btn btn-primary" (click)="messageReceiverEditAction()"><i class="fa fa-edit fa-lg"></i></button>
				   <button class="btn btn-primary" (click)="printMessageReceiverDetails()"><i class="fa fa-print fa-lg"></i></button>
				</div>
			</div>
		</div>

	</div>
</div>
