<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Registration Queue Entry Form
						<div class="card-header-actions">
							<a href="#globalSetup/registrationQueues"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processRegistrationQueueForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="registrationQueue.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Email <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="email" name="email"  [(ngModel)]="registrationQueue.email" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{email_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->User Name <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="userName" name="userName"  [(ngModel)]="registrationQueue.userName" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{userName_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Password <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="password" name="password"  [(ngModel)]="registrationQueue.password" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{password_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Security Number <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="securityNumber" name="securityNumber"  [(ngModel)]="registrationQueue.securityNumber" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{securityNumber_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Security Question <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="securityQuestion" name="securityQuestion"  [(ngModel)]="registrationQueue.securityQuestion" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{securityQuestion_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Answer <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="answer" name="answer"  [(ngModel)]="registrationQueue.answer" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{answer_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Account Type <span style='color:red'>*</span></span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="accountType" name="accountType"  [(ngModel)]="registrationQueue.accountType" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{accountType_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Json String </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="jsonString" name="jsonString"  [(ngModel)]="registrationQueue.jsonString" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{jsonString_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Approval Status </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="approvalStatus" name="approvalStatus"  [(ngModel)]="registrationQueue.approvalStatus" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{approvalStatus_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearRegistrationQueueFormFields()" class="btn btn-warning">
						<span [hidden]="permissionValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span>
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="true" class="col-lg-3 form-control alert alert-warning">
							
						</span>
						<!-- span [hidden]="permissionValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span-->						
					</div>
			</div>
		</div>

	</div>
</div>
