
/* You can add global styles to this file, and also import other style files */
/*@import "~jsgantt-improved/dist/jsgantt.css";*/
.gmain {
    display: inline-block;
    height: 100%;
  }
  
  .gmainright {
    width: 86%;
    overflow-x: scroll;
    overflow-y: hidden;
    top: 0;
  }
  
  .gmainleft {
    width: 14%;
    overflow-x: scroll;
  }
