<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">				
					<div class="card-header">
						<i class="fa fa-align-justify"></i> Test Entity Details Entry Form
						<div class="card-header-actions">
							<a href="#testModule/testEntityDetailss"> <small
								class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
							</a>
						</div>
					</div>
					<div class="card-body">
						<form (ngSubmit)="processTestEntityDetailsForm()">
							<input type="hidden" name="id" class="form-control"
								[(ngModel)]="testEntityDetails.id" name="id">
							
							
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Test Entity<span style='color:red'>*</span></span>
                  </div>
				   <div class="col-lg-6"><ng-select [disabled]="testEntityDetails.id!=null" *ngIf="testEntityDetails.testEntity" class="col-lg-12" autocomplete="testEntity" name="testEntity"  [(ngModel)]="testEntityDetails.testEntity.id"> 
						<ng-option *ngFor="let testEntity of testEntitys" [value]="testEntity.id">{{testEntity.name}}</ng-option> 
					</ng-select>
					<ng-select [disabled]="testEntityDetails.id!=null" *ngIf="!testEntityDetails.testEntity" class="col-lg-12" autocomplete="testEntity" name="testEntity"  [(ngModel)]="testEntityDetails.testEntity"> 
						  <ng-option *ngFor="let testEntity of testEntitys" [value]="testEntity">{{testEntity.name}}</ng-option> 
					</ng-select>
					</div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{testEntity_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Number </span>
                  </div>
                  <input type="number"  class="col-lg-6 form-control" autocomplete="number" name="number"  [(ngModel)]="testEntityDetails.number" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{number_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Text Box </span>
                  </div>
                  <input type="text"  class="col-lg-6 form-control" autocomplete="textBox" name="textBox"  [(ngModel)]="testEntityDetails.textBox" required>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{textBox_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Description </span>
                  </div>
                  <textarea rows="3" cols="4" class="col-lg-6 form-control"
								[(ngModel)]="testEntityDetails.description" required>{{testEntityDetails.description}}</textarea>
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{description_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Checkbox </span>
                  </div>
					<label class="switch switch-3d switch-success">                  <input type="checkbox"  class="switch-input" name="checkbox"  [(ngModel)]="testEntityDetails.checkbox" >
					<span class="switch-slider"></span></label>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{checkbox_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Date Picker </span>
                  </div>
				   <input readonly  type="text" 
			class="col-lg-6 form-control" 
			[(ngModel)]="testEntityDetails.datePicker" 
			name="datePicker" 
			bsDatepicker 
			[bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-blue' }" 
			name="datePicker" 
			placeholder="Date Picker" 
			value="{{testEntityDetails.datePicker | date: 'dd/MM/yyyy'}}">
				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{datePicker_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Doc File </span>
                  </div>
				   <input type="file" id="avatar" (change)="onDocFileFileChange($event)">
							
							<textarea rows="3" cols="4" class="col-lg-6 form-control" [hidden]="true"
								autocomplete="docFile" name="docFile"
								[(ngModel)]="testEntityDetails.docFile" required>{{docFile}}</textarea>
								<div class="col-lg-3 input-group mb-3"><img width="200" height="200" [hidden]="testEntityDetails.docFile==null" class="card-img-top home-image" src="{{testEntityDetails.docFile}}"/></div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{docFile_validationMessage}}</span>                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Image File </span>
                  </div>
				   <input type="file" id="avatar" (change)="onImageFileFileChange($event)">
							
							<textarea rows="3" cols="4" class="col-lg-6 form-control" [hidden]="true"
								autocomplete="imageFile" name="imageFile"
								[(ngModel)]="testEntityDetails.imageFile" required>{{imageFile}}</textarea>
								<div class="col-lg-3 input-group mb-3"><img width="200" height="200" [hidden]="testEntityDetails.imageFile==null" class="card-img-top home-image" src="{{testEntityDetails.imageFile}}"/></div>				   <span [hidden]="hideElement" class="col-lg-3 form-control alert alert-warning">{{imageFile_validationMessage}}</span>                </div>
							
						<input type="submit" value="Save" class="btn btn-success">
						<input type="button" value="Clear" (ngClick)="clearTestEntityDetailsFormFields()" class="btn btn-warning">
						<span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span>
						
						</form>	
					</div>
					<div class="card-footer">
						<span [hidden]="true" class="col-lg-3 form-control alert alert-warning">
							
						</span>
						<!-- span [hidden]="commonValidationHide" class="float-right col-lg-3 form-control alert alert-warning">{{common_validationMessage}}</span-->						
					</div>
			</div>
		</div>

	</div>
</div>
