<div class="animated fadeIn">
	<div class="row">
		<div class="col-lg-12">
			<div class="card">
				<div class="card-header">
					<i class="fa fa-align-justify"></i> Test Entity Details Details
					<div class="card-header-actions">
						<a href="#testModule/testEntityDetailss"> <small
							class="btn btn-info"><i class="fa fa-list fa-lg"></i></small>
						</a>
					</div>
				</div>
				<div class="card-body" id="printTestEntityDetailsFormContainer">
					
						<input type="hidden" name="id" class="form-control"
							[(ngModel)]="testEntityDetails.id" name="id">
						
						
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Test Entity</span>
                  </div>
				  <div  *ngIf="testEntityDetails.testEntity"> {{testEntityDetails.testEntity.name}}</div>
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Number</span>
                  </div>
                  {{testEntityDetails.number}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Text Box</span>
                  </div>
                  {{testEntityDetails.textBox}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Description</span>
                  </div>
                  {{testEntityDetails.description}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Checkbox</span>
                  </div>
                  {{testEntityDetails.checkbox}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Created Date</span>
                  </div>
                  {{testEntityDetails.createdDate | date: 'dd/MM/yyyy'}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Date Picker</span>
                  </div>
                  {{testEntityDetails.datePicker | date: 'dd/MM/yyyy'}}
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Doc File</span>
                  </div>
                  <div class="col-lg-3 input-group mb-3"><img width="200" height="200" [hidden]="testEntityDetails.docFile==null" class="card-img-top home-image" src="{{testEntityDetails.docFile}}"></div>
                </div>
<div class="col-lg-12 input-group mb-3">
                  <div class="col-lg-3 input-group-prepend">
                    <span class="col-lg-12 input-group-text"><!--i class="icon-user"></i-->Image File</span>
                  </div>
                  <div class="col-lg-3 input-group mb-3"><img width="200" height="200" [hidden]="testEntityDetails.imageFile==null" class="card-img-top home-image" src="{{testEntityDetails.imageFile}}"></div>
                </div>
						
					   
				</div>
				<div class="card-footer">
				   <button class="btn btn-primary" (click)="testEntityDetailsEditAction()"><i class="fa fa-edit fa-lg"></i></button>
				   <button class="btn btn-primary" (click)="printTestEntityDetailsDetails()"><i class="fa fa-print fa-lg"></i></button>
				</div>
			</div>
		</div>

	</div>
</div>
