<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Enterprise Plugins</title>
<link th:if="${mode == 'development'}" rel="stylesheet"
	href="../static/public/bootstrap.css" th:href="@{/public/bootstrap.css}" />
<link th:if="${mode == 'production'}" rel="stylesheet"
	href="../static/public/bootstrap.min.css" th:href="@{/public/bootstrap.min.css}" />
<script type="text/javascript" src="/static/public/angular.min.js"
	th:src="@{/public/angular.min.js}"></script>
<script type="text/javascript" src="/static/public/angular.route.js"
	th:src="@{/public/angular.route.js}"></script>
	
<div th:include="theme_includes/head_contents" th:remove="tag" />
	<base href="/"/>
</head>

<body class="hold-transition skin-blue layout-top-nav" ng-app="app">
<!-- <body class="skin-blue fixed sidebar-mini sidebar-mini-expand-feature ng-scope"> -->
	<div class="wrapper">
		<div th:include="theme_includes/dashboard-main-header" th:remove="tag" />
		<!-- Left side column. contains the logo and sidebar -->
		<!-- <div th:include="theme_includes/main-sidebar" th:remove="tag" /> -->

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<!-- <div th:include="theme_includes/content-header" th:remove="tag" /> -->
			<!-- <div th:include="dashboard/dashboard_content" th:remove="tag" /> -->
			<!-- <h1>Hello World!</h1> -->
			<div layout:fragment="content">
				<!-- ============================================================================ -->
				<!-- This content is only used for static prototyping purposes (natural templates)-->
				<!-- and is therefore entirely optional.                                          -->
				<!-- ============================================================================ -->
				<h1>Dashboard Layout....</h1>
			</div>
		</div>
		<!-- /.content-wrapper -->
		<div th:include="theme_includes/main-footer" th:remove="tag" />

		<!-- <div th:include="theme_includes/main-sidebar" th:remove="tag" /> -->

		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->
<div th:include="theme_includes/js_files" th:remove="tag" />
<div th:include="theme_includes/angularjs_controllers" th:remove="tag" />

</body>
</html>