<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Kroybikroy Application</title>
<link th:if="${mode == 'development'}" rel="stylesheet"
	href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
<link th:if="${mode == 'production'}" rel="stylesheet"
	href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}" />
<!-- <script type="text/javascript" src="/static/angular.min.js"
	th:src="@{/angular.min.js}"></script>
<script type="text/javascript" src="/static/angular.route.js"
	th:src="@{/angular.min.js}"></script> -->

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	
<script type="text/javascript" src="/static/app/app.module.js"
	th:src="@{/app/app.module.js}"></script>


<div th:include="theme_includes/head_contents" th:remove="tag" />
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-app="app">
	<div class="wrapper">
		<div th:include="theme_includes/main-header" th:remove="tag" />
		<!-- Left side column. contains the logo and sidebar -->

		<!-- <div layout:fragment="main-sidebar" /> -->
		<div th:include="singlePageApplication/SinglePageAppMenus" th:remove="tag" />
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div th:include="theme_includes/content-header" th:remove="tag" />
			<!-- <div th:include="dashboard/dashboard_content" th:remove="tag" /> -->
			<!-- <section class="content" layout:fragment="content"></section> -->
			<section ng-view=""></section>
		</div>
		<!-- /.content-wrapper -->
		<div th:include="theme_includes/main-footer" th:remove="tag" />

		<div th:include="theme_includes/control-sidebar" th:remove="tag" />

		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->
	<script>
		var app = angular.module("app", [ "ngRoute" ]);
		app.config(function($routeProvider) {
			$routeProvider.when("/", {
				templateUrl : "page1"
			}).when("/page1", {
				templateUrl : "page1"
			}).when("/page2", {
				templateUrl : "page2"
			}).when("/page3", {
				templateUrl : "page3"
			});
		});
		
	</script>
<div th:include="theme_includes/js_files" th:remove="tag" />
<div th:include="theme_includes/angularjs_controllers" th:remove="tag" />
</body>
</html>