<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Application Buider</title>
<link th:if="${mode == 'development'}" rel="stylesheet"
	href="../static/bootstrap.css" th:href="@{/bootstrap.css}" />
<link th:if="${mode == 'production'}" rel="stylesheet"
	href="../static/public/bootstrap.min.css" th:href="@{/public/bootstrap.min.css}" />
<!-- <script type="text/javascript" src="/static/angular.min.js"
	th:src="@{/angular.min.js}"></script>
<script type="text/javascript" src="/static/angular.route.js"
	th:src="@{/angular.min.js}"></script> -->

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

<!-- <script type="text/javascript" src="/static/app/app.module.js"
	th:src="@{/app/app.module.js}"></script> -->


<div th:include="theme_includes/head_contents" th:remove="tag" />
<style>
body {
	background: url(/public/background.jpg) no-repeat
		center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.panel-default {
	opacity: 0.9;
	margin-top: 30px;
}

.form-group.last {
	margin-bottom: 0px;
}
</style>
</head>
<body>
	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-7">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span class="glyphicon glyphicon-lock"></span> Login
						</div>
						<div class="panel-body">
							<form class="form-horizontal" name='loginForm' action='/login'
								method='POST' role="form">
								<div class="form-group">
									<label for="username" class="col-sm-3 control-label">
										Email</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" id="username"
											name="username" placeholder="User Name" required="true" />
									</div>
								</div>
								<div class="form-group">
									<label for="password" class="col-sm-3 control-label">
										Password</label>
									<div class="col-sm-9">
										<input type="password" class="form-control" id="password"
											name="password" placeholder="Password" required="true" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-3 col-sm-9">
										<div class="checkbox">
											<label> <input type="checkbox" /> Remember me
											</label>
										</div>
									</div>
								</div>
								<div class="form-group last">
									<div class="col-sm-offset-3 col-sm-9">
										<button type="submit" class="btn btn-success btn-sm">
											Sign in</button>
										<button type="reset" class="btn btn-default btn-sm">
											Reset</button>
									</div>
								</div>
								<div class="form-group last">
									<div class="col-sm-offset-3 col-sm-9">
										<label th:text="${msg}"></label>
										<label th:text="${error}"></label>
									</div>
								</div>
							</form>
						</div>
						<div class="panel-footer">
							Not Registred? <a href="http://www.jquery2dotnet.com">Register
								here</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

