<aside class="main-sidebar">
	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">
		<!-- Sidebar user panel -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="/public/dist/img/profile_pic.png" class="img-circle"
					alt="User Image" />
			</div>
			<div class="pull-left info">
				<b><a href="../swapnobikash">Swapnobikash Admin</a></b><br /> <a><i
					class="fa fa-circle text-success"></i> Online</a>
			</div>
		</div>
		<!-- search form -->
		<!-- <form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control"
					placeholder="Search..." /> <span class="input-group-btn">
					<button type="submit" name="search" id="search-btn"
						class="btn btn-flat">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form> -->
		<!-- /.search form -->
		<!-- sidebar menu: : style can be found in sidebar.less -->
		<ul class="sidebar-menu">
			<!-- <li class="header">MAIN NAVIGATION</li> -->
			<li class="active treeview">
				<!-- <a href="#"> <i
					class="fa fa-dashboard"></i> <span>Dashboard</span> <span class="pull-right-container"> 
					<i class="fa fa-angle-left pull-right"></i>
				</span>
			</a> -->
				<ul class="treeview-menu">
					<li class="active"><a th:href="@{/swapnobikash#!dashboard}"><i
							class="fa fa-circle-o"></i> Dashboard</a></li>
					<!-- <li class="active"><a
						th:href="@{/swapnobikash#!mailbox_starter}"><i
							class="fa fa-circle-o"></i> Mailbox</a></li>
					<li class="active"><a
						th:href="@{/swapnobikash#!taskManagement}"><i
							class="fa fa-circle-o"></i> Task Management</a></li>
					<li class="active"><a th:href="@{/swapnobikash#!notification}"><i
							class="fa fa-circle-o"></i> Notification</a></li> -->
				</ul>
			</li>

		</ul>

		<ul class="sidebar-menu">
			<li class="active treeview"><a href="#"> <i
					class="fa fa-dashboard"></i> <span>Student Management</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a th:href="@{/swapnobikash#!student}"><i
							class="fa fa-circle-o"></i><span> Student</span></a></li>
					<li><a th:href="@{/swapnobikash#!stAttendance}"><i
							class="fa fa-circle-o"></i><span>Student Attendance</span></a></li>
					<li><a th:href="@{/swapnobikash#!stDepartment}"><i
							class="fa fa-circle-o"></i><span>Student Department</span></a></li>
				</ul></li>


		</ul>
		<ul class="sidebar-menu">
			<li class="active treeview"><a href="#"> <i
					class="fa fa-dashboard"></i> <span>Employee Management</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a th:href="@{/swapnobikash#!employee}"><i
							class="fa fa-circle-o"></i><span>Employee</span></a></li>
					<li><a th:href="@{/swapnobikash#!empAttendance}"><i
							class="fa fa-circle-o"></i><span>Employee Attendance</span></a></li>
				</ul></li>

		</ul>
		<ul class="sidebar-menu">
			<li class="active treeview"><a href="#"> <i
					class="fa fa-dashboard"></i> <span>Sponsor Management</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a th:href="@{/swapnobikash#!sponsor}"><i
							class="fa fa-circle-o"></i><span> Sponsor</span></a></li>
				</ul></li>

		</ul>
		<ul class="sidebar-menu">
			<li class="active treeview"><a href="#"> <i
					class="fa fa-dashboard"></i> <span>Exam Management</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a th:href="@{/swapnobikash#!examInfo}"><i
							class="fa fa-circle-o"></i><span> Exam Info</span></a></li>
					<li><a th:href="@{/swapnobikash#!examParticipants}"><i
							class="fa fa-circle-o"></i><span> Exam Participants</span></a></li>
				</ul></li>

		</ul>
		<ul class="sidebar-menu">
			<li class="active treeview"><a href="#"> <i
					class="fa fa-dashboard"></i> <span>Programme Management</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a th:href="@{/swapnobikash#!programeInfo}"><i
							class="fa fa-circle-o"></i><span> Programme Info</span></a></li>
					<li><a th:href="@{/swapnobikash#!programeParticipents}"><i
							class="fa fa-circle-o"></i><span> Programme Participants</span></a></li>
				</ul></li>

		</ul>
		<ul class="sidebar-menu">
			<li class="active treeview"><a href="#"> <i
					class="fa fa-dashboard"></i> <span>Accounting Management</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a th:href="@{/swapnobikash#!instituteIncome}"><i
							class="fa fa-circle-o"></i><span> Receive</span></a></li>
					<li><a th:href="@{/swapnobikash#!instituteExpense}"><i
							class="fa fa-circle-o"></i><span> Payment</span></a></li>
				</ul></li>

		</ul>
		<ul class="sidebar-menu">
			<li class="active treeview"><a href="#"> <i
					class="fa fa-dashboard"></i> <span>Report</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
				</ul></li>

		</ul>

		<ul class="sidebar-menu">
			<li class="active treeview"><a href="#"> <i
					class="fa fa-dashboard"></i> <span>Application Settings</span> <span
					class="pull-right-container"> <i
						class="fa fa-angle-left pull-right"></i>
				</span>
			</a>
				<ul class="treeview-menu">
					<li><a th:href="@{/swapnobikash#!financialYear}"><i
							class="fa fa-circle-o"></i><span> Financial Year</span></a></li>
					<li><a th:href="@{/swapnobikash#!academicYear}"><i
							class="fa fa-circle-o"></i><span> Academic Year</span></a></li>
					<li><a th:href="@{/swapnobikash#!instituteProfile}"><i
							class="fa fa-circle-o"></i><span> Institute Profile</span></a></li>
					<li><a th:href="@{/swapnobikash#!department}"><i
							class="fa fa-circle-o"></i><span> Department</span></a></li>
					<li><a th:href="@{/swapnobikash#!classe}"><i
							class="fa fa-circle-o"></i><span> Class</span></a></li>
					<li><a th:href="@{/swapnobikash#!religion}"><i
							class="fa fa-circle-o"></i><span> Religion</span></a></li>
					<li><a th:href="@{/swapnobikash#!appUser}"><i
							class="fa fa-circle-o"></i><span> App User</span></a></li>
					<li><a th:href="@{/swapnobikash#!employeeType}"><i
							class="fa fa-circle-o"></i><span> Employee Type</span></a></li>

					<li><a th:href="@{/swapnobikash#!incomeType}"><i
							class="fa fa-circle-o"></i><span> Income Type</span></a></li>
					<li><a th:href="@{/swapnobikash#!expenseType}"><i
							class="fa fa-circle-o"></i><span> Expense Type</span></a></li>
				</ul></li>

		</ul>
		<ul class="sidebar-menu">
			<!-- <li class="header">MODULE MENUS</li> -->

			<!-- <li><a th:href="@{/swapnobikash#!dashboard}"><i class="fa fa-circle-o"></i><span>Swapnobikash Dashboard</span></a></li> -->


			<!-- newMenuGoesHere -->
		</ul>
	</section>
	<!-- /.sidebar -->

</aside>
