
/*

@import url('../../../../scss/_header.scss');
@import url('../../../../scss/_heading.scss');
@import url('../../../../scss/_footer.scss');
@import url('../../../../scss/_about.scss');
@import url('../../../../scss/_agent.scss');
@import url('../../../../scss/_backtotop.scss');
@import url('../../../../scss/_blog.scss');
@import url('../../../../scss/_breadcrumb.scss');
@import url('../../../../scss/_buttons.scss');
@import url('../../../../scss/_categories.scss');
@import url('../../../../scss/_choose.scss');
@import url('../../../../scss/_contact.scss');
@import url('../../../../scss/_cta.scss');
@import url('../../../../scss/_hero.scss');
@import url('../../../../scss/_pagination.scss');
@import url('../../../../scss/_partner.scss');
@import url('../../../../scss/_preloader.scss');
@import url('../../../../scss/_project.scss');
@import url('../../../../scss/_properties.scss');
@import url('../../../../scss/_reboot.scss');
@import url('../../../../scss/_sale.scss');
@import url('../../../../scss/_search.scss');
@import url('../../../../scss/_spacing.scss');
@import url('../../../../scss/_testimonial.scss');
@import url('../../../../scss/_widget.scss');*/

@import url('./details.component.css');
.header-area {

    position: relative;
    z-index: 1000;
    width: 100%;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    background-color: #92c800;

}