<div class="app-body">
	<main class="main d-flex align-items-center">
	<div class="container">
		<div class="row">

			<div class="col-md-12 mx-auto">

				<div class="card-group">
					<div class="card p-8">
						<div class="card-body">
							<form (ngSubmit)="processServiceProviderForm()">
								<div class="card-header">
									<i class="fa fa-align-justify"></i> Membership Form
									<div class="card-header-actions">
										<div class="col-lg-12 input-group-prepend">
											<a href="#login"> <small class="btn btn-info">
													<i class="fa fa-sign-in-alt"></i></small>
											</a> <a href="#"> <small class="btn btn-info"><i
													class="fa fa-home fa-lg"></i>
													</small>
											</a>
										</div>

									</div>
								</div>
								<div class="card-body">
									<!-- Nav tabs -->
									<tabset> <tab id="basicInformation"> <ng-template
										tabHeading> <i class="icon-calculator"></i>
									Basic Information</ng-template> <input type="hidden" class="form-control"
										[(ngModel)]="serviceProvider.id" name="id">

									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Name
												<span style='color: red'>*</span>
											</span>
										</div>
										<input type="text" [disabled]="serviceProvider.id!=null"
											class="col-lg-6 form-control" autocomplete="name" name="name"
											[(ngModel)]="serviceProvider.name" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{name_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->About
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="about" name="about"
											[(ngModel)]="serviceProvider.about" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{about_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Address
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="address" name="address"
											[(ngModel)]="serviceProvider.address" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{address_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Zip
												Code
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="zipCode" name="zipCode"
											[(ngModel)]="serviceProvider.zipCode" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{zipCode_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Phone
												No
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="phoneNo" name="phoneNo"
											[(ngModel)]="serviceProvider.phoneNo" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{phoneNo_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Nid
												No <span style='color: red'>*</span>
											</span>
										</div>
										<input type="text" [disabled]="serviceProvider.id!=null"
											class="col-lg-6 form-control" autocomplete="nidNo"
											name="nidNo" [(ngModel)]="serviceProvider.nidNo" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{nidNo_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Email
												<span style='color: red'>*</span>
											</span>
										</div>
										<input type="text" [disabled]="serviceProvider.id!=null"
											class="col-lg-6 form-control" autocomplete="email"
											name="email" [(ngModel)]="serviceProvider.email" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{email_validationMessage}}</span>
									</div>


									</tab> <tab id="authenticationInfo">
									<div class="col-lg-12 input-group mb-3">
										<ng-template tabHeading> <i
											class="icon-calculator"></i> Authentication Information</ng-template>
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Sp
												Level<span style='color: red'>*</span>
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="gender" name="gender"
											[(ngModel)]="serviceProvider.gender" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{spLevel_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Gender
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="gender" name="gender"
											[(ngModel)]="serviceProvider.gender" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{gender_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Desired
												Hourly Rate
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="desiredHourlyRate" name="desiredHourlyRate"
											[(ngModel)]="serviceProvider.desiredHourlyRate" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{desiredHourlyRate_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Desired
												Daily Rate
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="desiredDailyRate" name="desiredDailyRate"
											[(ngModel)]="serviceProvider.desiredDailyRate" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{desiredDailyRate_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Service
												Area
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="serviceArea" name="serviceArea"
											[(ngModel)]="serviceProvider.serviceArea" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{serviceArea_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Availability
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="availability" name="availability"
											[(ngModel)]="serviceProvider.availability" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{availability_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Is
												Active
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="isActive" name="isActive"
											[(ngModel)]="serviceProvider.isActive" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>
									</div>
									</tab> <tab id="serviceInfo"> <ng-template tabHeading>
									<i class="icon-calculator"></i> Service Information</ng-template>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Sp
												Level<span style='color: red'>*</span>
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="gender" name="gender"
											[(ngModel)]="serviceProvider.gender" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{spLevel_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Gender
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="gender" name="gender"
											[(ngModel)]="serviceProvider.gender" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{gender_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Desired
												Hourly Rate
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="desiredHourlyRate" name="desiredHourlyRate"
											[(ngModel)]="serviceProvider.desiredHourlyRate" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{desiredHourlyRate_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Desired
												Daily Rate
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="desiredDailyRate" name="desiredDailyRate"
											[(ngModel)]="serviceProvider.desiredDailyRate" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{desiredDailyRate_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Service
												Area
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="serviceArea" name="serviceArea"
											[(ngModel)]="serviceProvider.serviceArea" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{serviceArea_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Availability
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="availability" name="availability"
											[(ngModel)]="serviceProvider.availability" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{availability_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Is
												Active
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="isActive" name="isActive"
											[(ngModel)]="serviceProvider.isActive" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>
									</div>
									</tab> <tab id="loginInfo"> <ng-template tabHeading>
									<i class="icon-calculator"></i> Login Information</ng-template>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Sp
												Level<span style='color: red'>*</span>
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="gender" name="gender"
											[(ngModel)]="serviceProvider.gender" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{spLevel_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Gender
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="gender" name="gender"
											[(ngModel)]="serviceProvider.gender" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{gender_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Desired
												Hourly Rate
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="desiredHourlyRate" name="desiredHourlyRate"
											[(ngModel)]="serviceProvider.desiredHourlyRate" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{desiredHourlyRate_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Desired
												Daily Rate
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="desiredDailyRate" name="desiredDailyRate"
											[(ngModel)]="serviceProvider.desiredDailyRate" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{desiredDailyRate_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Service
												Area
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="serviceArea" name="serviceArea"
											[(ngModel)]="serviceProvider.serviceArea" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{serviceArea_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Availability
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="availability" name="availability"
											[(ngModel)]="serviceProvider.availability" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{availability_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Is
												Active
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="isActive" name="isActive"
											[(ngModel)]="serviceProvider.isActive" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{isActive_validationMessage}}</span>
									</div>
									</tab> </tabset>


								</div>
								<div class="card-footer">
									<input type="submit" value="Save" class="btn btn-success pull-right">
									<input type="button" value="Clear"
										(ngClick)="clearServiceProviderFormFields()"
										class="btn btn-warning pull-right">

								</div>
							</form>
						</div>
					</div>
					<!-- <div class="card p-4" style="width: 44%">
						<div class="card-body text-center">
							<div>
								<h2>Sign up</h2>
								<p> This is The platform you looking for.</p>
								<a href="#login" class="btn btn-primary active mt-3">Login Now.</a>
							</div>
						</div>
					</div> -->

				</div>

			</div>
			<!--/.col-->

		</div>
		<!--/.row-->
	</div>
	</main>
</div>

