<div class="app-body">
	<main class="main d-flex align-items-center">
	<div class="container">
		<div class="row">

			<div class="col-md-12 mx-auto">

				<div class="card-group">
					<div class="card p-8">
						<div class="card-body">
							<form (ngSubmit)="processRegistrationQueueForm()">
								<div class="card-header">
									<i class="fa fa-align-justify"></i> Membership Form
									<!--div class="card-header-actions">
										<div class="col-lg-12 input-group-prepend">
											<a href="#login"> <small class="btn btn-info"> <i
													class="fa fa-sign-in-alt"></i></small>
											</a> <a href="#"> <small class="btn btn-info"><i
													class="fa fa-home fa-lg"></i> </small>
											</a>
										</div>

									</div-->
								</div>
								<div class="card-body">
									<!-- Nav tabs -->
									<tabset> 
									<tab [active]="startTabActive" [disabled]="!startTabActive" id="startRegistration">
									<ng-template tabHeading> <i
										class="icon-calculator"></i> Basic Information</ng-template> <input
										type="hidden" class="form-control"
										[(ngModel)]="registrationQueue.id" name="id">

									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Email
												<span style='color: red'>*</span>
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="email" name="email"
											[(ngModel)]="registrationQueue.email" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{email_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->User
												Name <span style='color: red'>*</span>
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="userName" name="userName"
											[(ngModel)]="registrationQueue.userName" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{userName_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Password
												<span style='color: red'>*</span>
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="password" name="password"
											[(ngModel)]="registrationQueue.password" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{password_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Security
												Number <span style='color: red'>*</span>
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="securityNumber" name="securityNumber"
											[(ngModel)]="registrationQueue.securityNumber" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{securityNumber_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Security
												Question <span style='color: red'>*</span>
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="securityQuestion" name="securityQuestion"
											[(ngModel)]="registrationQueue.securityQuestion" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{securityQuestion_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Answer
												<span style='color: red'>*</span>
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="answer" name="answer"
											[(ngModel)]="registrationQueue.answer" required> <span
											[hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{answer_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Account
												Type <span style='color: red'>*</span>
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="accountType" name="accountType"
											[(ngModel)]="registrationQueue.accountType" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{accountType_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Json
												String
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="jsonString" name="jsonString"
											[(ngModel)]="registrationQueue.jsonString" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{jsonString_validationMessage}}</span>
									</div>
									<div class="col-lg-12 input-group mb-3">
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> <!--i class="icon-user"></i-->Approval Status
											</span>
										</div>
										<input type="text" class="col-lg-6 form-control"
											autocomplete="approvalStatus" name="approvalStatus"
											[(ngModel)]="registrationQueue.approvalStatus" required>
										<span [hidden]="hideElement"
											class="col-lg-3 form-control alert alert-warning">{{approvalStatus_validationMessage}}</span>
									</div>
									<input type="submit" value="Save" class="btn btn-success">
									<input type="button" value="Clear"
										(click)="clearRegistrationQueueFormFields()"
										class="btn btn-warning"> <span
										[hidden]="permissionValidationHide"
										class="float-right col-lg-3 form-control alert alert-warning">{{permission_validationMessage}}</span>
										
									</tab> <!-- <tab> <ng-template tabHeading> <i
										class="icon-basket-loaded"></i> Details Information</ng-template> DatePicker
									Example: <input type="text" name="testDatepicker"
										placeholder="Datepicker" class="form-control" bsDatepicker>

									Dropdown Example : <ng-select [items]="simpleItems"
										name="simpleItem" [(ngModel)]="selectedSimpleItem">
									</ng-select> </tab> --> 
									
									<tab [active]="emailVerificationTabActive" [disabled]="!emailVerificationTabActive" id="emailVerification"> 
										<ng-template tabHeading>
											<i class="icon-basket-loaded"></i> Email Verification
										</ng-template>
									
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> 
												Email <span style='color: red'>*</span>
											</span>
										</div>
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> 
												<span style='color: red'>{{registrationQueue.email}}</span>
											</span>
										</div>
										
										
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> 
												Enter Code <span style='color: red'>*</span>
											</span>
										</div>
										<div class="col-lg-3 input-group-prepend">
											<span class="col-lg-12 input-group-text"> 
												Enter Code 
												<span style='color: red'>
													<input type="text" class="col-lg-6 form-control"[(ngModel)]="verificationCode" autocomplete="approvalStatus" name="approvalStatus"  required>
												</span>
											</span>
										</div>
										
											
										
										<input type="button" value="Verify Email" (click)="verifyEmail()" class="btn btn-success">	
										
									</tab> 
										
									<tab [active]="finalStageTabActive" [disabled]="!finalStageTabActive" id="finalStage">
										<ng-template tabHeading> <i
											class="icon-basket-loaded"></i> Final Stage
										</ng-template> 
										Enter Final Details
										<input type="button" value="Finish Registration" (click)="finalStage()" class="btn btn-success">
									 </tab> 
									 
									 </tabset>
								</div>
								<div class="card-footer">
									
								</div>
							</form>
						</div>
					</div>
					<!-- <div class="card p-4" style="width: 44%">
						<div class="card-body text-center">
							<div>
								<h2>Sign up</h2>
								<p> This is The platform you looking for.</p>
								<a href="#login" class="btn btn-primary active mt-3">Login Now.</a>
							</div>
						</div>
					</div> -->

				</div>

			</div>
			<!--/.col-->

		</div>
		<!--/.row-->
	</div>
	</main>
</div>

