<div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
              <i class="fa fa-align-justify"></i> User Role Management
                
                        <div class="card-header-actions">
                            <div class="col-lg-12 input-group-prepend"></div>
    
                            <!--a href="#">
                    <small class="text-muted">Print</small>
                  </a-->
                        </div>
            </div>
            <div id="contentToConvert" class="card-body">
              <table class="table table-striped table-dark" *ngIf='users && users.length'>
                            <thead>
    
                                <th>User</th>
                                <th>Role</th>
                </thead>
                <tbody>
                  <tr *ngFor="let user of users; let in = index">
                    <td>{{user.userName}}</td>
                  
                    <td>
                     
                      <angular2-multiselect  name="dropdown-{{user.id}}" [data]="roles" [(ngModel)]="user.roles" 
                      [settings]="dropdownSettings" 
                      (onSelect)="onItemSelect($event, user.id)" 
                      (onDeSelect)="OnItemDeSelect($event,user.id)"
                      (onSelectAll)="onSelectAll($event)"
                      (onDeSelectAll)="onDeSelectAll($event)" disabled>
                      
                      <c-item>
                        <ng-template let-item="item">
                          <label style="color: #333;min-width: 50px;">{{item.itemName}}</label>
                          <!--img [src]="item.image" style="width: 30px; border: 1px solid #efefef;margin-right: 20px;" />
                          <label>Capital - {{item.capital}}</label-->
                        </ng-template>
                      </c-item>   
                    </angular2-multiselect>
                      
                    </td>
                   
                  </tr>
                </tbody>
                </table>
            </div>
            <div class="card-footer">
              
              <button (click)="saveMultipleUserData(users)" class="btn btn-info">Save Users</button>
              </div>
          </div>
        </div>
      </div>
    </div>
            
    